#create-custom-mashups {
  background-color: $dullBlue;
  header {
    text-align: center;
    color: #fff;
    @include breakpoint($tablet) {
      margin-bottom: 13px;
    }
    h1 {
      margin-bottom: 14px;
      @include breakpoint($tablet) {
        margin-bottom: 16px;
      }
    }
    .subtitle {
      @include font-libre-baskerville-400italic;
      text-align: center;
      font-size: em(15.5);
      line-height: 1.55em;
    }
  }
  .thumbs {
    max-width: 1140px !important;
    padding: 30px 0 5px 0;
    ul {
      text-align: center;
      li {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-bottom: 40px;
        &:last-of-type {
          margin-bottom: 0;
        }
        @include breakpoint($tablet) {
          width: 48%;
          margin-bottom: 40px;
        }
        @include breakpoint($large) {
          margin-bottom: 70px;
          width: 33%;
          &:nth-child(2) {
            top: 70px;
            position: relative;
          }
        }
        img {
          width: 83%;
          @include breakpoint($tablet) {
            width: 100%;
          }
          @include breakpoint($tablet) {
            padding: 0 5%;
          }
        }

      }
    }

  }
}