.entry-section {
	.img-holder {
		position: relative;
		overflow: hidden;
	}
	.img-frame {
		margin: 0 -9999px;
		text-align: center;
		@include breakpoint($ipadLandscape) {
			margin: 0;
		}
		img {
			width: auto;
			height: 220px;
			@include breakpoint($ipadPortrait) {
				height: 300px;
			}
			@include breakpoint($ipadLandscape) {
				width: 100%;
				height: auto;
			}
		}
	}
	.triangle {
		bottom: -1px;
		height: 20px;
		@include breakpoint($ipadLandscape) {
			height: 38px;
		}
	}
	.text-holder {
		max-width: 820px;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 2px;
		color: #898d93;
		padding: 30px 0 18px;
		font-size: 12px;
		line-height: 14px;
		@include breakpoint($ipadPortrait) {
			font-size: 14px;
			line-height: 18px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 47px 0 18px;
			font-size: 18px;
			line-height: 25px;
		}
	}
	h1 {
		@include font-playfair-700;
		color: #585858;
		font-size: 30px;
		line-height: 34px;
		letter-spacing: 2px;
		margin: 0 0 13px;
		@include breakpoint($x-phone) {
			font-size: 36px;
			line-height: 40px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 44px;
			line-height: 50px;
			margin-bottom: 16px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 29px;
		}
	}
	.divider-color {
		margin-bottom: 20px;
		@include breakpoint($ipadLandscape) {
			margin-bottom: 34px;
		}
	}
	p {
		margin: 0 0 20px;
		span.color {
			display: block;
			color: #6ecff6;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	.subtitle {
		@include font-libre-baskerville-400;
		text-transform: uppercase;
		color: #9d9d9d;
		letter-spacing: 2px;
		margin-bottom: 22px;
		font-size: 14px;
		line-height: 16px;
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 20px;
		}
		@include breakpoint($ipadLandscape) {
			font-size: 23px;
			line-height: 28px;
			margin: 0 0 22px;
		}
	}
}