.exercises-work {
	position: relative;
	margin-bottom: 39px;
	@include breakpoint($ipadPortrait) {
		margin-bottom: 26px;
	}
	@include breakpoint($ipadLandscape) {
		margin-bottom: 3px;
	}
	.img-holder {
		overflow: hidden;
		text-align: center;
		.img-frame {
			margin: 0 -9999px;
			height: 451px;
			@include breakpoint($ipadPortrait) {
				height: 514px;
			}
			@include breakpoint($x-tablet) {
				height: 569px;
			}
			@include breakpoint($ipadLandscape) {
				height: 706px;
			}
			@include breakpoint(1441px) {
				height: auto;
				margin: 0;
			}
		}
		img {
			vertical-align: top;
			height: 100%;
			width: auto;
			@include breakpoint(1441px) {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}
	.text-holder {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.headline {
		position: relative;
		margin-bottom: -15px;
		padding: 16px 0 13px;
		text-align: center;
		background: rgba(#000,0.4);
		color: #fff;
		&:before {
			content:"";
			position: absolute;
			z-index: 10;
			bottom: 100%;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -14px;
			border-style: solid;
			border-width: 0 14px 10px 14px;
			border-color: transparent transparent #969691 transparent;
		}
		@include breakpoint($x-phone) {
			margin-bottom: 5px;
		}
		@include breakpoint($ipadPortrait) {
			padding: 35px 0 32px;
			margin-bottom: -21px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 35px 0 20px;
			margin-bottom: -15px;
		}
		h1 {
			@include font-playfair-700;
			font-size: 30px;
			line-height: 34px;
			margin: 0;
			@include breakpoint($x-phone) {
				font-size: 36px;
				line-height: 40px;
			}
			@include breakpoint($ipadPortrait) {
				font-size: 45px;
				line-height: 50px;
				br {
					display: none;
				}
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 12px;
			}
		}
	}
	.img-circle {
		width: 145px;
		overflow: hidden;
		border-radius: 50%;
		@include breakpoint($x-phone) {
			margin-left: 15px;
		}
		@include breakpoint($ipadPortrait) {
			width: 200px;
			margin-left: 50px;
		}
		@include breakpoint($ipadLandscape) {
			width: 256px;
			margin-left: 114px;
		}
		img {
			vertical-align: top;
			max-width: 100%;
			height: auto;
		}
		&:last-child {
			margin: -54px 0 0 80px;
			@include breakpoint($x-phone) {
				margin-left: 95px;
			}
			@include breakpoint($ipadPortrait) {
				margin: -75px 0 0 162px;
			}
			@include breakpoint($ipadLandscape) {
				margin: -86px 0 0 255px;
			}
		}
	}
	.text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(#000,0.4);
		@include breakpoint($ipadLandscape) {
			bottom: 36px;
			background: none;
		}
	}
	.text-frame {
		@include font-lato-400;
		min-height: 119px;
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		padding: 14px 15px 25px;
		@include breakpoint($x-phone) {
			font-size: 14px;
			line-height: 20px;
		}
		@include breakpoint($ipadPortrait) {
			padding: 15px 60px 35px;
			font-size: 16px;
			line-height: 23px;
		}
		@include breakpoint($ipadLandscape) {
			width: 739px;
			background: rgba(#000,0.4);
			min-height: 168px;
			position: relative;
			padding: 33px 100px 30px 110px;
			font-size: 20px;
			&:before {
				content:"";
				background: rgba(#000,0.4);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 100%;
				left: -9999px;
			}
		}
		p {
			font-size: inherit;
			line-height: inherit;
			margin: 0;
		}
		.triangle {
			display: none;
			@include breakpoint($ipadLandscape) {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				width: 56px;
				overflow: hidden;
			}
		}
	}
	.btn {
		@include font-lato-600;
		position: absolute;
		z-index: 10;
		bottom: -21px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 19px;
		line-height: 20px;
		padding: 9px 20px;
		border-radius: 21px;
		letter-spacing: 0;
		background: #00d0f8;
		&:hover {
			background: #48c2f4;
		}
		i {
			margin-right: 10px;
		}
		@include breakpoint($ipadPortrait) {
			bottom: -21px;
			left: 75px;
			transform: none;
		}
		@include breakpoint($ipadLandscape) {
			left: 200px;
		}
	}
}