#get-started {
  background: $dullBlue url('/themes/basic/images/home-logged-out/get-started-bg.png') center 40px repeat;
  padding: 35px 0 10px;
  text-align: center;
  color: #fff;
  @include breakpoint($tablet) {
    padding: 68px 0 0;
  }
  header {
    text-align: center;
    margin-bottom: 30px;
    @include breakpoint($tablet) {
      margin-bottom: 42px;
    }
    .side-lines {
      margin-bottom: 0;
      @include breakpoint($tablet) {
        margin-bottom: 2px;
      }
      h4 {
        background-color: $dullBlue;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: em(13);
        letter-spacing: 0.4em;
        text-align: center;
        padding: 0 0.3% 0 2%;
        @include breakpoint($tablet) {
          letter-spacing: 1em;
          font-size: em(14.5);
          padding: 0 2.8% 0 4%;
        }
      }
    }
    h1 {
      color: $brightBlue;
      margin-bottom: 14px;
      @include breakpoint($tablet) {
        margin-bottom: 17px;
      }
    }
  }
  .content {
    .lockout {
      max-width: 1400px !important;
      position: relative;
      @include breakpoint($tablet) {
        width: 100%;
      }
      ul {
        text-align: center;
        &.mobile {
          @include breakpoint(1230px) {
            display: none;
          }
        }
        &.desktop {
          display: none;
          @include breakpoint(1230px) {
            display: block;
          }
        }
        li {
          position: relative;
          margin: 0 3% 45px;
          text-align: center;
          max-width: 400px;
          display: inline-block;
          vertical-align: top;
          @include breakpoint($tablet) {
            width: 40%;
            max-width: 340px;
            margin-bottom: 58px;
          }
          @include breakpoint(1230px) {
            width: 30%;
            max-width: 300px;
            margin-bottom: 110px;
          }
          $gsIconScale: 0.83;
          &.try-it {
            .icon {
              @include retina-div('/themes/basic/images/home-logged-out/get-started-calendar', 'png', round(31*$gsIconScale), round(43*$gsIconScale));
            }
          }
          &.get-ready {
            .icon {
              @include retina-div('/themes/basic/images/home-logged-out/get-started-ipad', 'png', round(27*$gsIconScale), round(36*$gsIconScale));
            }
          }
          &.stay-motivated {
            .icon {
              @include retina-div('/themes/basic/images/home-logged-out/get-started-social', 'png', round(205*$gsIconScale), round(35*$gsIconScale));
            }
          }
          &.grab-your-gear {
            @include breakpoint(1230px) {
              margin: 0 7% 60px;
            }
            .icon {
              @include retina-div('/themes/basic/images/home-logged-out/get-started-cart', 'png', round(38*$gsIconScale), round(33*$gsIconScale));
            }
          }
          &.push-yourself {
            @include breakpoint(1230px) {
              margin: 0 7% 60px;
            }
            .icon {
              @include retina-div('/themes/basic/images/home-logged-out/get-started-muscle', 'png', round(43*$gsIconScale), round(43*$gsIconScale));
            }
          }
          .icon {
            margin: 0 auto 17px;
          }
          .title {
            @include font-playfair-700;
            font-size: em(30);
            margin-bottom: 10px;
            line-height: 1.1em;
            letter-spacing: 0.02em;
            @include breakpoint($tablet) {
              font-size: em(36);
            }
          }
          p {
            font-size: em(15);
            line-height: 2.25em;
            margin-bottom: 0px;
            @include breakpoint($tablet) {
              font-size: em(14);
            }
          }
          .blue-dot-btn {
            margin-top: 18px;
            z-index: 2;
            position: relative;
            min-width: 180px;
            a {
              font-size: em(13);
              padding: em(12) em(30) em(13);
            }
          }
          .num {
            @include font-playfair-700;
            color: #b6b3ae;
            opacity: 0.09;
            letter-spacing: -0.08em;
            font-size: em(295);
            position: absolute;
            width: 100%;
            text-align: center;
            top: 35px;
            @include transform(scale(0.8, 1));
            @include breakpoint($tablet) {
              font-size: em(350);
              top: 25px;
              opacity: 0.07;
            }
          }
        }
      }
      .lines {
        position: absolute;
        top: 220px;
        width: 100%;
        text-align: center;
        display: none;
        left: 0;
        @include breakpoint(1230px) {
          display: block;
          img {
            width: 770px;
          }
        }
      }

    }
  }
}