#hero {
  background: $dullBlue url($images + '/home-logged-out/hero-mobile.jpg') 0% bottom no-repeat;
  background-size: cover;
  position: relative;
  @include breakpoint($tablet) {
    background: $dullBlue url($images + '/home-logged-out/hero-desktop.jpg') 18% center no-repeat;
    background-size: cover;
    min-height: 100vh;
    //border-left: 15px solid $dullBlue;
  }
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.15);
    @include breakpoint($tablet) {
      background-color: transparent;
    }

  }
  //&:after {
  //  position: absolute;
  //  content: '';
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 15px;
  //  background-color: $dullBlue;
  //}
  .centered-text {
    padding: 60px 0 90px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    margin: 0 $mobileSideMargin;
    @include breakpoint($tablet) {
      display: table;
      height: 100vh;
      min-height: 650px;
      margin: 0 auto;
      left: 0px;
      width: 85%;
      padding: 100px 0 135px;
      top: 35px;
    }
    .inner {
      display: table-cell;
      vertical-align: middle;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      position: relative;
      @include breakpoint($tablet) {
        top: 30px;
      }
      .top-text, .subtitle {
        font-size: em(14);
        letter-spacing: 0.35em;
        line-height: 1.45em;
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          font-size: em(16.5);
          letter-spacing: 0.65em;
          margin-bottom: 23px;
          line-height: 1.4em;
        }
      }
      .title {
        font-size: em(40);
        line-height: 1.1em;
        margin-bottom: 20px;
        @include breakpoint($tablet) {
          //font-size: em(70);
          font-size: 3.9em;
          line-height: 1em;
          margin-bottom: 38px;
        }
      }
      .subtitle {
        //@include font-libre-baskerville-400;
        //letter-spacing: 0.025em;
        //line-height: 1.4em;
        margin-bottom: 30px;
        //font-size: em(16);
        @include breakpoint($tablet) {
          //font-size: em(16.5);
          margin-bottom: 40px;
        }
      }
      .blue-dot-btn {
        text-shadow: none;
        min-width: 200px;
        margin-bottom: 30px;
        @include breakpoint($tablet) {
          min-width: 240px;
          margin-bottom: 35px;
        }
        a {
          background-color: rgba(0, 0, 0, 0.3);
          &:hover {
            color: $brightBlue;
            background-color: rgba(0, 0, 0, 0.4);
          }
          .br, .bl {
            width: 50%;
          }
        }
      }
      .scroll-cta {

      }
    }
  }

}