body.home {

  @import "hero";
  @import "real-results";
  @import "start-sculpting";
  @import "regimens";
  @import "create-custom-mashups";
  @import "stream-workouts";
  @import "get-started";
  @import "join";
  @import "magazine";
  @import "results";
  @import "workouts";
  @import "programs";
  @import "exercises-work";
  @import "instructors";
  @import "mashups";
  @import "stream-new";
  @import "partners";
  @import "entry";
  @import "how-it-works";

  section.padding {
    padding: 36px 0 40px;
    @include breakpoint($tablet) {
      padding: 40px 0 50px;
    }
  }

  .sign-up-btn {
    padding: 15px 30px;
    z-index: 2;
    position: relative;
  }

}