.how-it-works {
	position: relative;
	padding-bottom: 26px;
	overflow: hidden;
	.img-holder {
		text-align: right;
		overflow: hidden;
		display: none;
		@include breakpoint($ipadPortrait) {
			display: block;
		}
	}
	.img-frame {
		@include breakpoint($ipadPortrait) {
			padding-left: 40%;
		}
		@include breakpoint($ipadLandscape) {
			padding-left: 50%;
		}
	}
	.text-holder {
		@include breakpoint($ipadPortrait) {
			position:absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			.container {
				position: relative;
				height: 100%;
			}
		}
		.btn-holder {
			text-align: center;
			@include breakpoint($ipadPortrait) {
				position: absolute;
				z-index: 10;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.btn {
			font-size: 13px;
			line-height: 19.5px;
			padding: 15px 30px;
		}
	}
	.box {
		background: #fff;
		@include breakpoint($ipadPortrait) {
			position: relative;
			height: 100%;
			max-width: 400px;
			&:before {
				content:"";
				position: absolute;
				z-index: 5;
				top: 0;
				bottom: 0;
				left: -50px;
				right: 100%;
				background: #fff;
			}
		}
		@include breakpoint($ipadLandscape) {
			max-width: 606px;
		}
		> .triangle {
			display: none;
			@include breakpoint($ipadPortrait) {
				z-index: 5;
				left: 100%;
				top: -1px;
				bottom: 0;
				right: -121px;
				display: block;
				margin-left: -1px;
			}
		}
		.headline {
			position: relative;
			z-index: 10;
			padding: 25px 20px;
			background: #535658;
			color: #fff;
			text-align: center;
			margin: 0 -15px;
			@include breakpoint($ipadPortrait) {
				margin-left: 0;
				margin-right: -80px;
				padding: 48px 20px 37px;
				&:before {
					content:"";
					position: absolute;
					top: 0;
					bottom: 0;
					left: -999px;
					right: 100%;
					background: #535658;
				}
			}
			.triangle {
				display: none;
				@include breakpoint($ipadPortrait) {
					display: block;
					&.right {
						top: 0;
						bottom: -14px;
						left: 100%;
						right: -33px;
						margin-left: -1px;
					}
					&.bottom {
						height: 14px;
						top: 100%;
						left: -999px;
						margin-top: -1px;
					}
				}
			}
			h1 {
				@include font-playfair-700;
				margin: 0;
				font-size: 30px;
				line-height: 34px;
				letter-spacing: 2px;
				@include breakpoint($x-phone) {
					font-size: 36px;
					line-height: 40px;
				}
				@include breakpoint($ipadPortrait) {
					font-size: 45px;
					line-height: 50px;
				}
				@include breakpoint($ipadLandscape) {
					font-size: 56px;
					line-height: 60px;
				}
			}
		}
	}
	ol {
		position: relative;
		z-index: 10;
		counter-reset: newCounter;
		color: #5c636c;
		padding-top: 30px;
		@include breakpoint($ipadPortrait) {
			margin-right: -20px;
			padding-top: 56px;
		}
		@include breakpoint($ipadLandscape) {
			padding-left: 175px;
		}
		li {
			position: relative;
			padding-left: 60px;
			font-size: 16px;
			line-height: 20px;
			padding-bottom: 45px;
			&:last-child {
				padding-bottom: 30px;
				&:after {
					display: none;
				}
			}
			@include breakpoint($ipadPortrait) {
				font-size: 19px;
				line-height: 23px;
				padding-left: 70px;
			}
			@include breakpoint($ipadLandscape) {
				padding-left: 80px;
				padding-bottom: 64px;
			}
			&:before {
				@include font-libre-baskerville-400;
				counter-increment: newCounter;
				content: counters(newCounter,".") " "; 
				position:absolute;
				top: -3px;
				left: 0;
				text-align: center;
				font-size: 16px;
				line-height: 38px;
				color: #6ecff6;
				width: 40px;
				height: 40px;
				border: 1px dotted #6ecff6;
				border-radius: 50%;
				@include breakpoint($ipadPortrait) {
					width: 55px;
					height: 55px;
					font-size: 20px;
					line-height: 53px;
				}
			}
			&:after {
				content:"";
				position: absolute;
				top: 50px;
				left: 19px;
				bottom: 20px;
				border-left: 1px dotted #6ecff6;
				@include breakpoint($ipadPortrait) {
					top: 65px;
					left: 27px;
				}
			}
		}
	}
}