.instructors-section {
	overflow: hidden;
	@include breakpoint($ipadLandscape) {
		position: relative;
	}
	.img-holder {
		overflow: hidden;
		text-align: center;
		@include breakpoint($ipadLandscape) {
			float: right;
			width: 1115px;
			text-align: right;
		}
		.img-frame {
			margin: 0 -9999px;
			height: 463px;
			@include breakpoint($phone) {
				height: 580px;
			}
			@include breakpoint($ipadPortrait) {
				height: 539px;
				margin: 0;
			}
			@include breakpoint($x-tablet) {
				margin: 0 -9999px;
				height: 770px;
			}
			@include breakpoint($ipadLandscape) {
				height: 632px;
				margin-right: 0;
			}
		}
		img {
			vertical-align: top;
			height: 100%;
			width: auto;
			@include breakpoint($ipadPortrait) {
				width: 100%;
				height: auto;
			}
			@include breakpoint($x-tablet) {
				height: 100%;
				width: auto;
			}
			@include breakpoint($ipadLandscape) {
				margin-right: -180px;
			}
			@include breakpoint($xx-large) {
				margin-right: -120px;
			}
			@include breakpoint($extraLarge) {
				margin-right: -60px;
			}
			@include breakpoint($xx-extraLarge) {
				margin-right: 0;
			}
			@include breakpoint(1750px) {
				width: 920px;
				height: auto;
			}
		}
	}
	.slideshow {
		position: relative;
		height: 463px;
		@include breakpoint($ipadPortrait) {
			height: 539px;
			margin-bottom: 10px;
		}
		@include breakpoint($x-tablet) {
			height: 770px;
		}
		@include breakpoint($ipadLandscape) {
			height: 632px;
			margin-bottom: 0;
		}
		.slide {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			&.active {
				z-index: 2;
			}
		}
	}
	.slide-frame {
		@include breakpoint($ipadLandscape) {
			z-index: 10;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.headline {
		@include font-libre-baskerville-400;
		position: relative;
		z-index: 10;
		color: #fff;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		letter-spacing: 1px;
		background: rgba(#2d3133,0.82);
		margin-bottom: -12px;
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 10px;
		}
		@include breakpoint($ipadLandscape) {
			position: absolute;
			z-index: 50;
			top: 0;
			left: 0;
			right: 0;
			background: none;
			margin-bottom: 0;
		}
		.frame {
			padding: 28px 0 1px;
			@include breakpoint($ipadPortrait) {
				max-width: 590px;
				margin: 0 auto;
				padding: 38px 0 1px;
			}
			@include breakpoint($ipadLandscape) {
				position: relative;
				background: #535658;
				max-width: 550px;
				margin: 0;
				padding: 71px 0 4px;
				&:before {
					content:"";
					position: absolute;
					z-index: 10;
					top: 0;
					bottom: 0;
					right: 100%;
					left: -9999px;
					background: inherit;
				}
			}
			@include breakpoint($xxx-large) {
				max-width: 652px;
			}
		}
		p {
			font-size: inherit;
			line-height: inherit;
			margin-bottom: 18px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 13px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 36px;
			}
		}
		.triangle {
			z-index: 10;
			&.bottom {
				top: 100%;
				height: 12px;
				opacity: 0.82;
				@include breakpoint($ipadPortrait) {
					height: 15px;
				}
				@include breakpoint($ipadLandscape) {
					height: 29px;
					opacity: 1;
					left: -999px;
					polygon {
						fill: #535658;
					}
				}
			}
			&.right {
				display: none;
				@include breakpoint($ipadLandscape) {
					display: block;
					left: 100%;
					top: 0;
					bottom: -29px;
					width: 64px;
					margin-left: -1px;
				}
			}
		}
	}
	h1 {
		@include font-playfair-700;
		font-size: 30px;
		line-height: 34px;
		margin: 0 0 11px;
		letter-spacing: 2px;
		@include breakpoint($x-phone) {
			font-size: 36px;
			line-height: 45px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 45px;
			margin-bottom: 17px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 34px;
		}
	}
	.divider {
		position: relative;
		z-index: 20;
		margin-bottom: -1px;
		@include breakpoint($ipadPortrait) {
			margin-bottom: 11px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 0;
		}
	}
	.text-holder {
		z-index: 10;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		@include breakpoint($ipadLandscape) {
			position: relative;
			height: 100%;
		}
	}
	.name {
		@include font-lato-600;
		display: inline-block;
		vertical-align: top;
		font-size: 40px;
		line-height: 34px;
		margin: 0 -15px 32px;
		min-width: 420px;
		text-transform: none;
		background: rgba(#bec1c5,0.82);
		color: #fff;
		padding: 22px 25px 23px;
		letter-spacing: 2px;
		@include breakpoint($x-phone) {
			padding-left: 45px;
			font-size: 45px;
			line-height: 38px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 70px;
			line-height: 70px;
			padding: 17px 30px 27px 116px;
			min-width: 545px;
			margin-bottom: 9px;
		}
		@include breakpoint($ipadLandscape) {
			position: absolute;
			margin: 0;
			bottom: 32px;
			left: 0;
			right: 0;
			max-width: 100%;
			padding: 46px 85px 51px 650px;
			font-size: 70px;
			line-height: 60px;
			&:after {
				content:"";
				z-index: 10;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				right: -9999px;
				background: rgba(#bec1c5,0.82);
			}
		}
		@include breakpoint($xx-large) {
			padding-left: 720px;
		}
		@include breakpoint($xxx-large) {
			padding-left: 805px;
		}
		span {
			font-weight: 700;
			@include breakpoint($ipadLandscape) {
				display: block;
			}
		}
	}
	.text-frame {
		position: relative;
		@include breakpoint($ipadLandscape) {
			height: 100%;
		}
		.container {
			@include breakpoint($ipadLandscape) {
				height: 100%;
				position: relative;
			}
		}
		.box {
			@include font-open-sans-400;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 1px;
			color: #5c636c;
			background: #fff;
			padding: 25px 45px 14px;
			min-height: 169px;
			margin: 0 -15px;
			@include breakpoint($ipadPortrait) {
				font-size: 16px;
				line-height: 19px;
				padding: 41px 115px 5px;
				background: rgba(#fff,0.9);
			}
			@include breakpoint($ipadLandscape) {
				position: relative;
				margin: 0;
				background: #fff;
				width: 504px;
				height: 100%;
				padding: 339px 50px 50px;
				font-size: 14px;
				line-height: 16px;
				&:before {
					content:"";
					position: absolute;
					top: 0;
					bottom: 0;
					left: -9999px;
					right: 100%;
					background: #fff;
				}
			}
			@include breakpoint($xxx-large) {
				padding-left: 100px;
				padding-right: 30px;
				width: 608px;
			}
		}
		strong {
			font-weight: 700;
			display: block;
			font-size: 12px;
			line-height: 14px;
			color: #6ecff6;
			margin-bottom: 8px;
			@include breakpoint($x-phone) {
				font-size: 14px;
				line-height: 16px;
			}
			@include breakpoint($ipadPortrait) {
				margin-bottom: 5px;
				font-size: 18px;
				line-height: 22px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 18px;
			}
		}
		ul {
			list-style: none;
			padding: 0 0 12px;
			margin: 0;
			font-size: 10px;
			line-height: 12px;
			@include breakpoint($x-phone) {
				font-size: 12px;
				line-height: 14px;
			}
			@include breakpoint($ipadPortrait) {
				font-size: 14px;
				line-height: 16px;
				padding: 0;
			}
		}
		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px;
			@include breakpoint($ipadPortrait) {
				padding-left: 35px;
			}
			&:before {
				content:"";
				position: absolute;
				top: 3px;
				left: 0;
				width: 13px;
				height: 11px;
				background: url(../images/global/icon-strength.png) no-repeat;
				background-size: 38px 11px;
				@include breakpoint($ipadPortrait) {
					width: 25px;
					height: 23px;
					background-size: 75px 21px;
				}
			}
		}
		p {
			font-size: inherit;
			line-height: inherit;
			margin: 0 0 22px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 10px;
			}
		}
		.triangle {
			display: none;
			@include breakpoint($ipadLandscape) {
				display: block;
				left: 100%;
				top: -1px;
				bottom: 0;
				right: auto;
				width: 136px;
			}
		}
	}
	.btn-holder {
		text-align: center;
	}
	.btn {
		font-size: 13px;
		line-height: 19.5px;
		padding: 15px 30px;
		@include breakpoint($ipadLandscape) {
			display: none;
		}
	}
	.btn-prev,
	.btn-next {
		position: absolute;
		z-index: 20;
		bottom: 89px;
		font-size: 32px;
		color: #b2b2b2;
		@include breakpoint($ipadPortrait) {
			bottom: 62px;
			font-size: 44px;
		}
		@include breakpoint($ipadLandscape) {
			bottom: 224px;
		}
		&:hover {
			color: darken(#b2b2b2, 10%);
		}
	}
	.btn-prev {
		left: 10px;
		@include breakpoint($ipadPortrait) {
			left: 40px;
		}
		@include breakpoint($ipadLandscape) {
			left: 10px;
		}
		@include breakpoint($xxx-large) {
			left: auto;
			right: 50%;
			margin-right: 505px;
		}
	}
	.btn-next {
		right: 10px;
		@include breakpoint($ipadPortrait) {
			right: 40px;
		}
		@include breakpoint($ipadLandscape) {
			right: auto;
			left: 490px;
		}
		@include breakpoint($xxx-large) {
			left: auto;
			right: 50%;
			margin-right: -30px;
		}
		@include breakpoint($extraLarge) {
		}
	}
}