.intro-section {
	position: relative;
	overflow: hidden;
	margin-top: -83px;
	@include breakpoint($ipadPortrait) {
		margin-top: 0;
	}
	@include breakpoint($ipadLandscape) {
		margin-top: 0;
	}
	.triangle {
		bottom: 0;
		height: 24px;
		@include breakpoint($ipadPortrait) {
			height: 42px;
		}
		@include breakpoint($ipadLandscape) {
			height: 79px;
		}
		&.small {
			height: 12px;
			@include breakpoint($ipadPortrait) {
				height: 28px;
			}
			@include breakpoint($ipadLandscape) {
				height: 66px;
			}
		}
	}
	.img-holder {
		margin: 0 -9999px;
		text-align: center;
		height: 401px;
		@include breakpoint($phone) {
			height: 421px;
		}
		@include breakpoint($ipadPortrait) {
			height: 591px;
		}
		@include breakpoint($ipadLandscape) {
			height: 745px;
		}
		@include breakpoint($extraLarge) {
			margin: 0;
			height: auto;
		}
		img {
			max-width: 100%;
			width: auto;
			height: 100%;
			margin-right: -220px;
			@include breakpoint($x-phone) {
				margin-right: -90px;
			}
			@include breakpoint($phone) {
				margin-right: 0;
			}
			@include breakpoint($ipadPortrait) {
				margin-right: -150px;
			}
			@include breakpoint($x-tablet) {
				margin-right: 0;
			}
			@include breakpoint($extraLarge) {
				width: 100%;
				height: auto;
			}
		}
	}
	.text-holder {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.frame {
		text-align: right;
		padding-top: 187px;
		@include breakpoint($ipadPortrait) {
			padding: 236px 5px 0;
		}
		@include breakpoint($ipadLandscape) {
			padding-top: 279px;
		}
	}
	.slogan {
		@include font-roboto-100;
		color: $white;
		margin-bottom: 12px;
		@include breakpoint($ipadPortrait) {
			margin-bottom: 10px;
		}
		@include breakpoint($ipadLandscape) {
			padding-right: 180px;
			margin-bottom: 53px;
		}
		strong {
			display: block;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 20px;
			font-weight: 900;
			@include breakpoint($ipadPortrait) {
				font-size: 26px;
				line-height: 35px;
			}
			@include breakpoint($ipadLandscape) {
				letter-spacing: 1px;
				font-size: 26px;
				line-height: 35px;
			}
		}
		span {
			display: block;
			font-size: 20px;
			line-height: 1.2;
			letter-spacing: 0;
			@include breakpoint($ipadPortrait) {
				font-size: 29px;
				line-height: 41px;
			}
			@include breakpoint($ipadLandscape) {
				font-size: 42px;
				line-height: 56px;
			}
		}
	}
	h1 {
		@include font-roboto-300;
		margin: 0 0 2px;
		text-align: right;
		text-transform: none;
		font-size: 29px;
		line-height: 34px;
		letter-spacing: 0;
		@include breakpoint($ipadPortrait) {
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 3px;
		}
		@include breakpoint($ipadLandscape) {
			font-size: 68px;
			line-height: 74px;
			margin-bottom: 7px;
		}
	}
	.btn {
		@include font-roboto-500;
		font-size: 17px;
		line-height: 1.76;
		padding: 4px 20px;
		letter-spacing: 0.5px;
		background: #6ecff6;
		&:hover {
			background: #48c2f4;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 21px;
			line-height: 1.38;
			padding: 9px 24px;
			border-radius: 20px;
		}
	}
}