.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.triangle {
	position: absolute;
	z-index: 20;
	left: 0;
	right: 0;
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.btn.blue {
	span {
		display: inline-block;
		vertical-align: middle;
	}
}

.icon-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url(/themes/basic/images/global/icon-sprite.png) no-repeat -20px 0;
	margin-left: 5px;
}

.icon-arrow-dotted {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	width: 10px;
	height: 19px;
	background: url(/themes/basic/images/global/icon-sprite.png) no-repeat;
	@include breakpoint($ipadLandscape) {
		margin-right: 15px;
	}
}

.join-section {
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	background: url(/themes/basic/images/home-logged-out/join-bg-01.jpg) no-repeat 50% -42px;
	background-size: cover;
	overflow: hidden;
	@include breakpoint($ipadPortrait) {
		padding-top: 170px;
		padding-bottom: 100px;
		background-position: 50% 0;
	}
	@include breakpoint($ipadLandscape) {
		background-size: auto auto;
		padding: 100px 0;
		display: flex;
		align-items: center;
		min-height: 704px;
		background-position: 50% 100%;
	}
	@include breakpoint(1441px) {
		min-height: 866px;
	}
	@include breakpoint($xxx-extraLarge) {
		background-size: 100% auto;
	}
	.triangle {
		bottom: 0;
		height: 24px;
		@include breakpoint($ipadPortrait) {
			height: 42px;
		}
		@include breakpoint($ipadLandscape) {
			height: 79px;
		}
		&.small {
			height: 12px;
			@include breakpoint($ipadPortrait) {
				height: 28px;
			}
			@include breakpoint($ipadLandscape) {
				height: 66px;
			}
		}
	}
}

.join-box {
	@include font-open-sans-400;
	max-width: 744px;
	margin: 0 auto;
	background: rgba(#fff,0.9);
	text-align: center;
	padding: 37px 15px 32px;
	color: #2c2c2c;
	font-size: 14px;
	@include breakpoint($x-phone) {
		max-width: 600px;
		font-size: 16px;
		line-height: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include breakpoint($ipadPortrait) {
		padding: 40px 50px 32px;
	}
	h1 {
		@include font-playfair-700;
		font-size: 30px;
		line-height: 34px;
		margin: 0 0 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		@include breakpoint($x-phone) {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 40px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 45px;
			line-height: 50px;
		}
		@include breakpoint($ipadLandscape) {
			font-size: 48px;
			line-height: 58px;
		}
		strong {
			display: block;
			font-size: 40px;
			line-height: 48px;
			@include breakpoint($x-phone) {
				font-size: 56px;
				line-height: 64px;
			}
			@include breakpoint($ipadPortrait) {
				font-size: 68px;
				line-height: 74px;
			}
			@include breakpoint($ipadLandscape) {
				font-size: 74px;
				line-height: 82px;
			}
		}
	}
	.btn.blue {
		display: block;
		width: 100%;
		font-weight: 700;
		margin-bottom: 16px;
		background: #6ecff6;
		letter-spacing: 1px;
		font-size: 15px;
		line-height: 20px;
		padding: 9px 15px;
		border-radius: 21px;
		&:hover {
			background: #48c2f4;
		}
		@include breakpoint($x-phone) {
			display: inline-block;
			width: auto;
			min-width: 342px;
			font-size: 19px;
			line-height: 20px;
			padding: 10px 25px;
			border-radius: 21px;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0 -10px 20px;
		font-size: 0;
		line-height: 0;
		letter-spacing: -4px;
		@include breakpoint($x-phone) {
			margin: 0 -11px 37px;
		}
	}
	li {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0;
		@include breakpoint($x-phone) {
			font-size: 16px;
			padding: 0 11px;
		}
		&:before {
			content:"";
			position: absolute;
			top: 5px;
			bottom: 3px;
			left: 0;
			width: 1px;
			background: #2c2c2c;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
	.link {
		display: block;
		a {
			text-decoration: underline;
			color: #2c2c2c;
			&:hover {
				text-decoration: none;
			}
		}
	}
}