.magazine-section {
	padding: 28px 15px 24px;
	background: #f7f7f7;
	overflow: hidden;
	@include breakpoint($ipadPortrait) {
		padding: 83px 0 55px;
	}
	@include breakpoint($ipadLandscape) {
		overflow: visible;
		position: relative;
		padding-top: 74px;
		padding-bottom: 30px;
	}
	.col-holder {
		font-size: 0;
		line-height: 0;
		letter-spacing: -4px;
		text-align: center;
		@include breakpoint($x-phone) {
			margin: 0 -17px;
		}
		@include breakpoint($ipadPortrait) {
			margin: 0 -7px;
		}
		@include breakpoint($ipadLandscape) {
			margin: 0;
		}
	}
	.col {
		display: inline-block;
		vertical-align: top;
		padding: 0 0 40px;
		text-align: center;
		max-width: 220px;
		@include breakpoint($x-phone) {
			width: 33.33%;
			padding: 0 17px;
			max-width: 254px;
		}
		@include breakpoint($ipadPortrait) {
			padding: 0 7px;
			max-width: 234px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 0 35px;
			max-width: 290px;
		}
	}
	.img-holder {
		margin-bottom: 30px;
		@include breakpoint($ipadLandscape) {
			margin-bottom: 31px;
		}
		img {
			vertical-align: top;
			max-width: 100%;
			height: auto;
		}
	}
	blockquote {
		@include font-open-sans-300;
		display: block;
		margin: 0;
		font-size: 12px;
		line-height: 1.1666;
		letter-spacing: 0;
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 20px;
		}
		@include breakpoint($ipadLandscape) {
			line-height: 19px;
		}
	}
}