.mashups-section {
	@include breakpoint($ipadLandscape) {
		position: relative;
	}
	img {
		vertical-align: top;
		max-width: 100%;
		height: auto;
	}
	.img-holder {
		@include breakpoint($ipadLandscape) {
			position: relative;
			overflow: hidden;
		}
	}
	.img-frame {
		margin-bottom: -30px;
		@include breakpoint($ipadPortrait) {
			margin-bottom: -63px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 11px;
		}
		img {
			width: 100%;
		}
	}
	.headline {
		@include font-libre-baskerville-400;
		text-align: center;
		color: #5c636d;
		font-size: 12px;
		line-height: 14px;
		padding-bottom: 19px;
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 19px;
		}
		@include breakpoint($ipadLandscape) {
			position: absolute;
			z-index: 10;
			bottom: 0;
			left: 0;
			right: 0;
			padding-bottom: 32px;
		}
		p {
			font-style: italic;
			font-size: inherit;
			line-height: inherit;
			margin-bottom: 14px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 18px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 26px;
				br {
					display: none;
				}
			}
		}
	}
	h1 {
		@include font-playfair-700;
		color: #5c636d;
		font-size: 30px;
		line-height: 34px;
		letter-spacing: 2px;
		margin: 0 0 13px;
		@include breakpoint($x-phone) {
			font-size: 36px;
			line-height: 40px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 45px;
			line-height: 50px;
			margin-bottom: 16px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 20px;
			letter-spacing: 3px;
		}
	}
	.list {
		list-style: none;
		padding: 0;
		margin: 0 -15px;
		color: #fff;
		counter-reset: newCounter;
		@include breakpoint($ipadLandscape) {
			margin: 0;
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
		li {
			position: relative;
			padding: 27px 30px 19px;
			@include breakpoint($ipadPortrait) {
				padding: 59px 70px 14px;
			}
			@include breakpoint($ipadLandscape) {
				width: 33.33%;
				float: left;
				padding: 58px 25px 10px;
			}
			&:nth-child(1) {
				background: #bec1c5;
				@include breakpoint($ipadLandscape) {
					min-height: 449px;
				}
			}
			&:nth-child(2) {
				background: #8d9199;
				@include breakpoint($ipadLandscape) {
					min-height: 499px;
				}
			}
			&:nth-child(3) {
				background: #5c626c;
				@include breakpoint($ipadLandscape) {
					min-height: 546px;
				}
			}
			&:before {
				@include font-libre-baskerville-400;
				counter-increment: newCounter;
				content: counters(newCounter,".") " "; 
				position:absolute;
				top: -2px;
				left: 11px;
				font-size: 150px;
				line-height: 1;
				color: #fff;
				opacity: 0.2;
				@include breakpoint($ipadPortrait) {
					top: 30px;
					left: 56px;
				}
				@include breakpoint($ipadLandscape) {
					left: 22px;
					top: 20px;
				}
			}
			&:after {
				content:"";
				position: absolute;
				z-index: 5;
				top: 0;
				left: 50%;
				width: 0;
				height: 0;
				margin-left: -13px;
				border-style: solid;
				border-width: 10px 13px 0 13px;
				border-color: #fff transparent transparent transparent;
			}
		}
		.img {
			text-align: center;
			margin-bottom: 6px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 19px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 25px;
				padding: 0 20px;
			}
		}
		p {
			font-size: inherit;
			line-height: inherit;
		}
	}
	.title {
		@include font-libre-baskerville-400;
		font-weight: 400;
		display: block;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 17px;
		letter-spacing: 1px;
		text-transform: uppercase;
		@include breakpoint($ipadPortrait) {
			margin-bottom: 32px;
		}
		@include breakpoint($ipadLandscape) {
			max-width: 433px;
			margin: 0 auto 27px;
		}
		span {
			display: block;
			font-size: 22px;
			@include breakpoint($ipadPortrait) {
				display: inline;
			}
		}
	}
	.frame {
		padding: 0 20px 11px;
		position: relative;
		font-size: 16px;
		line-height: 20px;
		@include breakpoint($ipadPortrait) {
			max-width: 433px;
			margin: 0 auto;
			padding: 0 0 11px;
		}
		p {
			margin-bottom: 13px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 16px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 26px;
			}
		}
		&:before,
		&:after {
			content:"";
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 20px;
			height: 1px;
			width: 7px;
			background: #e5e6e8;
			@include breakpoint($ipadPortrait) {
				left: 0;
			}
		}
		&:after {
			width: 14px;
			bottom: 10px;
		}
	}
}