.partners-section {
	padding: 28px 0 18px;
	overflow: hidden;
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-left: -20px;
		margin-right: -20px;
		justify-content: center;
		@include breakpoint($ipadLandscape) {
			justify-content: space-around;
			flex-wrap: nowrap;
			margin: 0;
		}
	}
	li {
		margin: 0 20px 20px;
		@include breakpoint($ipadLandscape) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}