.programs-section {
	padding-top: 12px;
	overflow: hidden;
	@include breakpoint($ipadPortrait) {
		padding-top: 11px;
	}
	@include breakpoint($ipadLandscape) {
		padding-top: 69px;
		padding-bottom: 22px;
	}
	h1 {
		@include font-lato-600;
		font-size: 16px;
		line-height: 18px;
		color: #00d0f8;
		margin: 0 0 22px;
		letter-spacing: 2px;
		@include breakpoint($ipadPortrait) {
			font-size: 20px;
			margin-bottom: 26px;
		}
	}
	.subtitle {
		@include font-libre-baskerville-400;
		text-transform: uppercase;
		color: #898d93;
		font-size: 10px;
		line-height: 16px;
		margin: 0 0 22px;
		text-align: center;
		letter-spacing: 1px;
		@include breakpoint($ipadPortrait) {
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 16px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 38px;
		}
	}
	.btn-group {
		padding: 30px 15px 40px;
		letter-spacing: 0;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		@include breakpoint($x-phone) {
			padding-top: 39px;
			padding-bottom: 0;
		}
		@include breakpoint($ipadPortrait) {
			padding-top: 55px;
		}
		@include breakpoint($ipadLandscape) {
			padding-top: 59px;
		}
	}
	.btn-frame {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		> div {
			order: 1;
		}
		@include breakpoint($ipadPortrait) {
			display: inline-block;
			vertical-align: top;
		}
	}
	.btn {
		display: inline-block;
		vertical-align: top;
		font-size: 19px;
		line-height: 20px;
		padding: 9px 20px;
		border-radius: 21px;
		letter-spacing: 0;
		background: #6ecff6;
		order: 2;
		&:hover {
			background: #48c2f4;
		}
		i {
			margin-right: 10px;
		}
		@include breakpoint($x-phone) {
			display: block;
		}
		@include breakpoint($ipadPortrait) {
			margin-bottom: 45px;
		}
	}
	.link {
		@include font-lato-600;
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-left: 23px;
		color: #00d0f8;
		font-size: 19px;
		line-height: 36px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 20px;
		&:hover {
			color: #48c2f4;
		}
		@include breakpoint($x-phone) {
			margin-bottom: 11px;
		}
		@include breakpoint($ipadPortrait) {
			padding-left: 30px;
			margin-bottom: 10px;
			order: 2;
		}
		i {
			position: absolute;
			top: 9px;
			left: 0;
			font-size: 20px;
		}
		span {
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
			border-bottom: 1px solid #00d0f8;
			letter-spacing: 0;
			@include breakpoint($ipadPortrait) {
				padding: 0;
			}
		}
	}
}

.program-holder {
	max-width: 1180px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	margin: 0 -15px;
	text-align: center;
	text-align: left;
	@include breakpoint($ipadLandscape) {
		margin: 0 auto;
	}
	.program {
		@include font-open-sans-400;
		letter-spacing: 0;
		text-align: center;
		@include breakpoint($x-phone) {
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}
		@include breakpoint($ipadLandscape) {
			width: 33.33%;
		}
		&:first-child {
			.duration {
				background: rgba(#00d0f8,0.4);
			}
		}
		&:nth-child(2) {
			.duration {
				background: rgba(#00d0f8,0.6);
			}
		}
		&:nth-child(3) {
			.duration {
				background: rgba(#00d0f8,0.8);
			}
		}
		&:nth-child(4) {
			.duration {
				background: #00d0f8;
			}
		}
		&:nth-child(5) {
			.duration {
				background: #00c0e5;
			}
		}
	}
	.img-holder {
		a {
			@include breakpoint($ipadLandscape) {
				&:hover {
					.icon-plus,
					&:before {
						display: block;
					}
				}
			}
			position: relative;
			display: block;
			&:before {
				display: none;
				content:"";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(#33d9f9,0.7);
			}
		}
		img {
			vertical-align: top;
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.icon-plus {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 24px;
		margin: -12px 0 0 -12px;
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 4px;
			height: 24px;
			background: #fff;
			transform: translate(-50%,-50%);
		}
		&:after {
			height: 4px;
			width: 24px;
		}
	}
	.duration {
		@include font-playfair-700;
		display: block;
		background: #05b3d5;
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		padding: 7px 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		@include breakpoint($ipadPortrait) {
			font-size: 22px;
			line-height: 30px;
			padding: 11px 15px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 12px 10px 11px;
			font-size: 18px;
			line-height: 24px;
		}
	}
	.text-holder {
		font-size: 11px;
		line-height: 14px;
		color: #969595;
		padding: 13px 20px 14px;
		@include breakpoint($ipadPortrait) {
			font-size: 14px;
			line-height: 22px;
			padding-top: 20px;
			padding-bottom: 42px;
			letter-spacing: 1px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 21px 65px 20px;
			font-size: 13px;
			line-height: 13px;
			min-height: 111px;
		}
		p {
			font-size: inherit;
			line-height: inherit;
			@include breakpoint($ipadLandscape) {
				br {
					display: none;
				}
			}
		}
	}
	h2 {
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		margin: 0 0 1px;
		@include breakpoint($ipadPortrait) {
			font-size: 22px;
			letter-spacing: 3px;
			margin-bottom: 4px;
		}
		@include breakpoint($ipadLandscape) {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 6px;
		}
	}
}