#real-results {
  background-color: $lightGray;
  padding: 40px 0;
  @include breakpoint($tablet) {
    padding: 60px 0 60px;
  }
  header {
    margin-bottom: 32px;
    @include breakpoint($tablet) {
      margin-bottom: 38px;
    }
    .side-lines {
      margin-bottom: 18px;
    }
    .do-something {
      @include font-libre-baskerville-400italic;
      text-align: center;
      font-size: em(15.5);
      line-height: 1.55em;
      margin: 0 5%;
    }
  }
  .lockout {
    //margin: 0;
    text-align: center;
    @include with-layout(25) {
      ul {
        @include container();
        @include clearfix;
        margin-bottom: 14px;
        @include breakpoint($tablet) {
          margin-bottom: 23px;
        }
        li {
          @include span(25);
          background-color: $white;
          text-align: center;
          padding: 10px;
          margin-bottom: 20px;
          @include breakpoint($tablet) {
            @include span(12);
          }
          h4 {
            padding: 25px 10px 10px;
            @include font-lato-900;
          }
          .side-lines {
            min-height: 6px;
            width: 27%;
            margin: 0 auto;
            opacity: 0.9;
          }
          .copy {
            padding: 20px 5% 27px;
            @include breakpoint($tablet) {
              padding: 20px 9% 35px;
            }
            p {
              text-align: center;
              @include font-libre-baskerville-400;
              font-size: em(15.5);
              line-height: 2.2em;
            }
          }
          img {
            width: 100%;
          }
          &:last-of-type {
            @include span(25);
            @include breakpoint($tablet) {
              @include span(last 12);
            }
          }
        }
      }
    }
    .sign-up-btn {
      margin-bottom: 19px;
    }
    .blue-dot-btn {
      font-size: em(13);
      a {
        padding: em(16) em(27);
      }
    }
  }

}