#regimens {
  padding: 14px 0 30px;
  @include breakpoint($tablet) {
      padding: 14px 0 50px;
  }
  header {
    padding-top: 35px;
    margin-bottom: 27px;
    text-align: center;
    @include breakpoint($tablet) {
      margin-bottom: 35px;
    }
    .num {
      @include font-playfair-700;
      color: #b6b3ae;
      opacity: 0.15;
      letter-spacing: -0.08em;
      font-size: em(270);
      margin-top: -0.84em;
      @include transform(scale(0.8, 1));
      @include breakpoint($tablet) {
        font-size: em(350);
        margin-top: -0.74em;
      }
    }
    .side-lines {
      margin-bottom: 20px;
      h1 {
        background-color: $white;
      }
    }
    .subtitle {
      @include font-libre-baskerville-400italic;
      text-align: center;
      font-size: em(15.5);
      line-height: 1.55em;
      margin: 0 3%;
    }
  }
  .content {
    .lockout {
      max-width: 1120px !important;
      ul {
        margin-bottom: 12px;
        text-align: center;
        @include clearfix;
        @include breakpoint($tablet) {
          margin-bottom: 32px;
        }
        li {
          padding: 28px 14px 14px;
          text-align: center;
          background-color: $lightGray;
          display: inline-block;
          margin-bottom: 13px;
          vertical-align: top;
          @include breakpoint(480px) {
            width: 46.5%;
            margin: 7px 5px;
            padding: 35px 14px 14px;
          }
          @include breakpoint(650px) {
              width: 30%;
          }
          @include breakpoint(1000px) {
            float: left;
            width: 20%;
            margin: 0;
            outline: 2px solid $white;
          }
          h6 {
            color: $dullBlue;
            @include font-lato-900;
            font-size: em(17);
            letter-spacing: 0.5em;
            margin-bottom: 15px;
            @include breakpoint($tablet) {
              margin-bottom: 20px;
            }
          }
          p {
            margin: 0 10px 20px;
            font-size: em(13.5);
            line-height:2.4em;
            .bold {
              @include font-lato-700;
            }
            @include breakpoint($tablet) {
              margin: 0 0px 20px;
            }
          }
          .thumb {
            img {
              width: 100%;
            }
          }
        }
      }
      .which-reg {
        @include font-libre-baskerville-400italic;
        font-size: em(24);
        text-align: center;
        letter-spacing: 0.06em;
        opacity: 0.95;
        line-height: 1.3em;
        margin: 0 40px;
        @include breakpoint($tablet) {
          font-size: em(30);
          margin: 0;
        }
      }
    }
  }
}