.result-section {
	position: relative;
	padding: 37px 0 21px;
	@include breakpoint($ipadPortrait) {
		padding-top: 35px;
		padding-bottom: 3px;
	}
	@include breakpoint($ipadLandscape) {
		padding-top: 92px;
		padding-bottom: 47px;
	}
	.side-lines {
		margin-bottom: 18px;
		&.cream {
			h1 {
				background: #fff;
			}
		}
	}
	.do-something {
		@include font-libre-baskerville-400italic;
		text-align: center;
		font-size: 0.96875em;
		line-height: 1.55em;
		margin: 0 5% 22px;
		@include breakpoint($ipadLandscape) {
			margin-bottom: 42px;
		}
	}
	.carousel {
		position: relative;
		overflow: hidden;
		@include breakpoint($ipadPortrait) {
			max-width: 622px;
			margin: 0 auto;
		}
		@include breakpoint($ipadLandscape) {
			max-width: 780px;
		}
		.mask {
			position: relative;
			overflow: hidden;
		}
		.slideset {
			width: 100% !important;
			font-size: 0;
			line-height: 0;
			white-space: nowrap;
		}
		.slide {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			@include breakpoint($x-phone) {
				padding: 0 35px;
			}
			@include breakpoint($ipadPortrait) {
				padding: 0;
			}
		}
		.btn-prev,
		.btn-next {
			display: none;
			@include breakpoint($ipadPortrait) {
				display: block;
				position: absolute;
				top: 123px;
				font-size: 42px;
				color: #b2b2b2;
				&:hover {
					color: darken(#b2b2b2, 10%);
				}
			}
			@include breakpoint($ipadLandscape) {
				top: 94px;
			}
		}
		.btn-prev {
			@include breakpoint($ipadPortrait) {
				left: 0;
			}
			@include breakpoint($ipadLandscape) {
				left: 0;
			}
		}
		.btn-next {
			@include breakpoint($ipadPortrait) {
				right: 0;
			}
			@include breakpoint($ipadLandscape) {
				right: 0;
			}
		}
	}
	.img-holder {
		text-align: center;
		margin-bottom: -3px;
		@include breakpoint($ipadPortrait) {
			position: relative;
			padding: 0 108px;
			margin-bottom: 17px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 0 178px;
			margin-bottom: 25px;
		}
		img {
			vertical-align: top;
			max-width: 100%;
			height: auto;
		}
	}
	.share-box {
		display: none;
		@include breakpoint($ipadPortrait) {
			display: block;
			position: absolute;
			z-index: 10;
			bottom: -22px;
			left: 45px;
			color: #6ecff6;
			text-align: left;
			span {
				@include font-open-sans-400;
				display: block;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 16px;
				letter-spacing: 5px;
				margin-bottom: 6px;
				margin-left: 8px;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				&:after {
					content:"";
					clear: both;
					display: block;
				}
			}
			li {
				float: left;
				margin-right: 10px;
			}
			a {
				color: #6ecff6;
				font-size: 28px;
				line-height: 28px;
				&:before {
					@include footer-icon;
				}
				&:hover {
					color: darken(#6ecff6,5%);
				}
				&.icon-facebook {
					&:before {
						content: "\e614";
					}
				}
				&.icon-twitter {
					font-size: 24px;
					&:before {
						content: "\e618";
						display: inline-block;
						margin-top: 3px;
					}
				}
			}
		}
		@include breakpoint($ipadLandscape) {
			left: 94px;
			bottom: 49px;
		}
	}
	.text-holder {
		padding: 0 10px 10px;
		@include breakpoint($ipadPortrait) {
			padding: 0 108px 10px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 0 178px 10px;
		}
		.frame {
			position: relative;
			padding-top: 21px;
			letter-spacing: 1px;
			@include breakpoint($ipadPortrait) {
				padding-top: 35px;
				letter-spacing: 0;
			}
			@include breakpoint($ipadLandscape) {
				padding-top: 33px;
			}
			&:before,
			&:after {
				content: '';
				position:absolute;
				top: 0;
				left: 0;
				width: 14px;
				height: 1px;
				background: #6ecff6;
			}
			&:after {
				top: 10px;
				width: 7px;
			}
		}
		p {
			margin: 0 0 14px;
			font-size: 12px;
			line-height: 14px;
			@include breakpoint($ipadPortrait) {
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 25px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 26px;
				font-size: 16px;
				line-height: 19px;
			}
		}
	}
	.headline {
		@include font-lato-100;
		text-align: left;
		color: #585858;
		margin-bottom: 8px;
		font-size: 30px;
		line-height: 32px;
		@include breakpoint($x-phone) {
			font-size: 35px;
			line-height: 35px;
		}
		@include breakpoint($ipadPortrait) {
			float: left;
			width: 50%;
			padding: 47px 30px 0 0;
			margin: 0;
			font-size: 40px;
			line-height: 34px;
		}
		@include breakpoint($ipadLandscape) {
			width: 300px;
			font-size: 45px;
			line-height: 45px;
			padding-top: 7px;
		}
		span {
			display: block;
			position: relative;
			padding-left: 26px;
			letter-spacing: -1px;
			@include breakpoint($x-phone) {
				font-size: 30px;
			}
			@include breakpoint($ipadPortrait) {
				font-size: 40px;
				padding-left: 30px;
				font-style: italic;
			}
			@include breakpoint($ipadLandscape) {
				font-size: 45px;
				padding-left: 40px;
			}
			.icon {
				position: absolute;
				top: 5px;
				left: -3px;
				@include breakpoint($x-phone) {
					top: 7px;
				}
				@include breakpoint($ipadPortrait) {
					left: 3px;
					top: 9px;
					height: 16px;
					width: 18px;
					background-size: 54px 16px;
				}
				@include breakpoint($ipadLandscape) {
					width: 25px;
					height: 21px;
					background-size: 75px 21px;
				}
			}
		}
		strong {
			display: block;
			font-weight: 700;
		}
	}
	.btn-holder {
		text-align: center;
	}
	.btn {
		border-radius: 21px;
		padding: 9px 20px;
		font-size: 17px;
		line-height: 20px;
		letter-spacing: 0;
		background: #6ecff6;
		&:hover {
			background: #48c2f4;
		}
		i {
			margin-right: 10px;
		}
	}
	.success-stories-btn {
		text-align: center;
	}
	.blue-dot-btn {
		display: inline-block;
		background: transparent;
		color: #5c636d;
		font-size: 13px;
		line-height: 1;
		a {
			position: relative;
			font-weight: 400;
			padding: 13px 22px;
			color: #5c636d;
			position: relative;
			width: 100%;
			height: 100%;
			display: inline-block;
			border-radius: 200px;
			letter-spacing: 0.05em;
			font-family: 'Lato', sans-serif;
			transition: all 0.3s;
			&:after {
				width: 5px;
				height: 5px;
				position: absolute;
				content: '';
				border-radius: 100px;
				bottom: -2px;
				left: 50%;
				margin-left: -2px;
				background-color: #6ecff6;
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}
		.border {
			width: 50%;
			height: 50%;
			position: absolute;
			&.tl {
				top: 0;
				left: 0;
				border-top-left-radius: 200px;
				border-left: 1px solid #b6b9bd;
				border-top: 1px solid #b6b9bd;
			}
			&.tr {
				top: 0;
				right: 0;
				border-top-right-radius: 200px;
				border-right: 1px solid #b6b9bd;
				border-top: 1px solid #b6b9bd;
			}
			&.br {
				right: 0;
				bottom: 0;
				width: 46%;
				border-bottom-right-radius: 200px;
				border-right: 1px solid #b6b9bd;
				border-bottom: 1px solid #b6b9bd;
			}
			&.bl {
				left: 0;
				bottom: 0;
				width: 46%;
				border-bottom-left-radius: 200px;
				border-left: 1px solid #b6b9bd;
				border-bottom: 1px solid #b6b9bd;
			}
		}
	}
}