#start-sculpting {
  background-color: $lightGray;
  padding: 40px 0 30px;
  @include breakpoint($tablet) {
    padding: 60px 0 50px;
  }
  header {
    margin-bottom: 32px;
    @include breakpoint($tablet) {
      margin-bottom: 38px;
    }
    .side-lines {
      margin-bottom: 18px;
    }
    .do-something {
      @include font-libre-baskerville-400italic;
      text-align: center;
      font-size: em(15.5);
      line-height: 1.55em;
      margin: 0 5%;
    }
  }
  .lockout {
    text-align: center;
    .copy {
      margin-bottom: 45px;
      li {
        margin-bottom: 9px;
        font-size: em(16.5);
        line-height: 1.5em;
        @include font-libre-baskerville-400;
        .checkmark {
          @include retina-div('/themes/basic/images/global/icon-checkmark3', 'png', 18, 18);
          display: inline-block;
          vertical-align: middle;
          position: relative;
          margin-right: 1px;
        }
      }
    }
    .video-thumbs {
      li {
        display: inline-block;
        float: none;
        margin: 0 2px 10px;
        @include breakpoint($tablet) {
          width: 45%;
        }
        @include breakpoint(870px) {
          width: 30%;
        }
      }
    }
    .buttons {
      padding: 30px 0 5px;
      @include breakpoint($tablet) {
        padding: 50px 0 15px;
      }
      .blue-dot-btn {
        min-width: 200px;
        margin: 0 10px 13px;
        @include breakpoint($tablet) {
          min-width: 0;
          margin: 0 10px 10px;
        }
        a {
          padding: em(16) em(22);
          font-size: em(18);
          @include breakpoint($tablet) {
            font-size: em(14.5);
            padding: em(16) em(30) em(15);
          }
        }
      }
    }
  }

}