#stream-workouts {
  padding: 35px 0 37px;
  text-align: center;
  @include breakpoint($tablet) {
    padding: 70px 0 50px;
  }
  header {
    text-align: center;
    margin-bottom: 30px;
    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }
    .side-lines {
      margin-bottom: 0;
      @include breakpoint($tablet) {
        margin-bottom: 2px;
      }
      h4 {
        background-color: $white;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: em(13);
        letter-spacing: 0.4em;
        text-align: center;
        padding: 0 0.3% 0 2%;
        @include breakpoint($tablet) {
          letter-spacing: 1em;
          font-size: em(14.5);
          padding: 0 0.8% 0 2%;
        }
      }
    }
    h1 {
      margin-bottom: 14px;
      @include breakpoint($tablet) {
        margin-bottom: 17px;
      }
    }
    .subtitle {
      @include font-libre-baskerville-400;
      text-align: center;
      font-size: em(15);
      line-height: 1.75em;
      max-width: 595px;
      margin: 0 auto;
      letter-spacing: 0.04em;
      @include breakpoint($tablet) {
        line-height: 2em;
      }
    }
    .num {
      @include font-playfair-700;
      color: #b6b3ae;
      opacity: 0.15;
      letter-spacing: -0.08em;
      font-size: em(270);
      margin-top: -1.05em;
      @include transform(scale(0.8, 1));
      @include breakpoint($tablet) {
        font-size: em(350);
        margin-top: -0.92em;
      }
    }
  }
  .devices {
    max-width: 520px;
    width: 90%;
    display: block;
    margin: 0 auto 34px;
    text-align: center;
    @include breakpoint($tablet) {
      margin: 0 auto 41px;
      width: 100%;
    }
  }
}