.stream-section {
	overflow: hidden;
	text-align: center;
	padding-bottom: 40px;
	@include breakpoint($ipadPortrait) {
		padding-bottom: 60px;
	}
	@include breakpoint($ipadLandscape) {
		padding-bottom: 80px;
		overflow: visible;
	}
	.headline {
		@include font-libre-baskerville-400;
		position: relative;
		padding: 47px 0 48px;
		background: #00d0f8;
		color: #fff;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 2px;
		margin-bottom: -72px;
		@include breakpoint($x-phone) {
			margin-bottom: -112px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 19px;
			padding: 53px 50px 54px;
			margin-bottom: -124px;
		}
		@include breakpoint($ipadLandscape) {
			padding: 103px 0 170px;
			min-height: 496px;
			margin-bottom: -277px;
			background: none;
			background-size: 100% 100%;
			@include background-svg('
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve"  preserveAspectRatio="none">
					<linearGradient id="linear-gradient"  x1="0%" y1="0%" x2="120%" y2="30%" >
						<stop offset="0%" stop-color="rgba(60,213,250,1)"/>
				 <stop offset="50%" stop-color="rgba(60,213,250,1)"/>
				<stop offset="50%" stop-color="rgba(40,203,249,1)"/>
						<stop offset="100%" stop-color="rgba(40,203,249,1)"/>
					</linearGradient>
					<polygon fill="url(#linear-gradient)" points="0,0 100,9  100,90 0,100 " />
				</svg>');
		}
		.subtitle {
			@include font-lato-700;
			display: block;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 15px;
			letter-spacing: 5px;
			@include breakpoint($ipadPortrait) {
				font-size: 19px;
				margin-bottom: 10px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 17px;
			}
		}
		p {
			font-size: inherit;
			line-height: inherit;
			margin-bottom: 10px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 20px;
			}
			@include breakpoint($ipadLandscape) {
				margin-bottom: 12px;
			}
			br {
				display: none;
				@include breakpoint($ipadPortrait) {
					display: block;
				}
			}
		}
		.triangle {
			z-index: 5;
			&.top {
				top: 0;
				height: 9px;
				@include breakpoint($ipadPortrait) {
					height: 14px;
				}
				@include breakpoint($ipadLandscape) {
					display: none;
				}
			}
			&.bottom {
				top: 100%;
				bottom: auto;
				height: 9px;
				@include breakpoint($ipadPortrait) {
					height: 12px;
				}
				@include breakpoint($ipadLandscape) {
					height: 42px;
					display: none;
				}
			}
		}
	}
	h1 {
		@include font-playfair-700;
		font-size: 30px;
		line-height: 34px;
		margin: 0 0 11px;
		letter-spacing: 2px;
		@include breakpoint($x-phone) {
			font-size: 38px;
			line-height: 46px;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 45px;
			line-height: 54px;
			margin-bottom: 9px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 14px;
			letter-spacing: 5px;
		}
	}
	.divider {
		display: none;
		@include breakpoint($ipadLandscape) {
			display: block;
		}
	}
	.img-holder {
		position: relative;
		z-index: 10;
		height: 240px;
		margin: 0 -9999px;
		@include breakpoint($x-phone) {
			height: 376px;
			margin-bottom: -30px;
		}
		@include breakpoint($ipadPortrait) {
			height: 421px;
			margin-bottom: -40px;
		}
		@include breakpoint($ipadLandscape) {
			height: auto;
			margin: 0 0 -28px;
		}
		img {
			vertical-align: top;
			height: 100%;
			width: auto;
			@include breakpoint($ipadLandscape) {
				max-width: 100%;
				height: auto;
				width: inherit;

			}
		}
	}
	.btn {
		font-size: 13px;
		line-height: 19.5px;
		padding: 15px 30px;
	}
}