.workout-program {
	position: relative;
	overflow: hidden;
	text-align: center;
	background: url(/themes/basic/images/home-logged-out/workout.jpg) no-repeat 50% 0;
	background-size: cover;
	@include breakpoint($x-phone) {
		background-position: 50% -50px;
	}
	@include breakpoint($phone) {
		background-position: 50% -70px;
	}
	@include breakpoint($ipadPortrait) {
		background-position: 50% -70px;
		background-size: 100% auto;
	}
	@include breakpoint($ipadLandscape) {
		background-position: 50% -200px;
		background-size: auto auto;
	}
	.triangle {
		bottom: 0;
		height: 26px;
	}
	.text-holder {
		@include font-libre-baskerville-400;
		background: rgba(#000000,0.4);
		color: #fff;
		padding: 31px 0 31px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 1px;
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 20px;
			padding-top: 57px;
			padding-bottom: 20px;
			min-height: 251px;
		}
		@include breakpoint($ipadLandscape) {
			padding-top: 55px;
			padding-bottom: 40px;
			min-height: 250px;
		}
	}
	h1 {
		@include font-playfair-700;
		font-size: 30px;
		line-height: 34px;
		margin: 0 0 15px;
		letter-spacing: 2px;
		@include breakpoint($x-phone) {
			font-size: 36px;
			line-height: 1;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 45px;
			margin-bottom: 10px;
		}
		@include breakpoint($ipadLandscape) {
			line-height: 60px;
			margin-bottom: 3px;
		}
	}
	p {
		font-size: inherit;
		line-height: inherit;
		margin: 0 0 7px;
		@include breakpoint($ipadPortrait) {
			margin-bottom: 22px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 16px;
		}
	}
	strong {
		display: block;
		font-weight: 400;
		letter-spacing: 3px;
		br {
			display: none;
			@include breakpoint($x-phone) {
				display: block;
			}
			@include breakpoint($ipadPortrait) {
				display: none;
			}
		}
	}
	.divider {
		width: 90px;
		height: 15px;
		background-size: 90px 15px;
		margin-bottom: 13px;
		@include breakpoint($ipadPortrait) {
			margin-bottom: 12px;
		}
		@include breakpoint($ipadLandscape) {
			margin-bottom: 20px;
		}
	}
}

.divider {
	display: block;
	margin: 0 auto 11px;
	background: url(/themes/basic/images/global/divider.png) no-repeat;
	width: 118px;
	height: 20px;
}

.divider-color {
	display: block;
	margin: 0 auto;
	background: url(/themes/basic/images/global/divider-color.png) no-repeat;
	width: 118px;
	height: 20px;
}