.workouts-section {
	.video-thumbs {
		li {
			opacity: 0;
			transform: translate(0, 70px);
			transition: all 0.4s ease;
		}
		.initial-video-item {
			opacity: 1;
			transform: translate(0);
		}
		.animate-item {
			opacity: 1;
			transform: translate(0);
		}
	}
}

.loading-splash {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background-color: #6ecff6;
	text-indent: -9999px;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@keyframes rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}