#footer {
  $scale: 0.8235;
  background-color: #f6f6f6;
  padding: 100px*$scale 280px*$scale/1400px*100% 85px*$scale 280px*$scale/1400px*100%;
  @include flex;
  @include justify-content(space-between);
  @include flex-flow(row wrap);
  .nav {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    li {
      a {
        text-decoration: none;
        //color: $grey;
        font-size: 14px*$scale;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.2em*$scale;
        line-height: 48px*$scale;
      }
      //margin-bottom:40px*$scale;
    }
    &:first-child {
      //margin-right:100px/1700px*100%;
    }
    &:nth-child(2) {
      //margin-right:115px/1700px*100%;
    }
  }

  .footer-block {
    display: inline-block;
    //width:305px*$scale/1400px*100%;
    width: 25%;
    vertical-align: top;
    h3 {
      color: $dullBlue;
      font-size: 18.04px*$scale;
      margin-bottom: 25px*$scale;
      font-weight: 900;
      letter-spacing: 0.5em*$scale;
    }
    p {
      font-size: 14px*$scale;
      color: $dullBlue;
      line-height: 30px*$scale;
      margin-bottom: 70px*$scale;
      letter-spacing: 0.05em*$scale;
    }
    &.connect-wrap {
      ul {
        list-style: none;
        li {
          display: inline-block;
          a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            outline: none;
            border: none;
            font-size: 20px;
            color: $dullBlue;
            padding-right: 10px;
            &:before {
              @include footer-icon;
            }
            &:hover {
              color: #8CA4B9;
            }
          }
          &#facebook {
            a {
              font-size: 24px;
              &:before {
                content: "\e614";
              }
            }
          }
          &#twitter {
            a {
              &:before {
                content: "\e618";
              }
            }
          }
          &#pinterest {
            a {
              &:before {
                content: "\e617";
              }
            }
          }
          &#instagram {
            a {
              &:before {
                content: "\e900";
              }
            }
          }
          &#youtube {
            a {
              &:before {
                content: "\e901";
              }
            } 
          }
        }
      }
      //margin-right:115px/1700px*100%;
    }
    &.newsletter-wrap {
      .footer_btn {
        padding: 15px 30px;
      }
    }
  }
  h6 {
    width: 100%;
    @include flex-grow(4);
    font-size: 14.03px*$scale;
    letter-spacing: 0.05em*$scale;
    margin-top: 125px*$scale;
    line-height: 14px;
  }
  input[type="text"] {
    font-style: italic;
    font-size: 16px*$scale;
    color: $dullBlue;
    height: 65px*$scale;
    width: 100%;
    border-radius: 40px*$scale;
    border: 0;
    padding-left: 70px*$scale;
  }
  form {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      &#email {
        left: 30px*$scale;
      }
      &#arrow {
        right: 25px*$scale;
      }
    }
  }
  @media(max-width: 1400px) {
    padding: 100px*$scale 130px*$scale/1400px*100% 85px*$scale 130px*$scale/1400px*100%;
  }
  @media(max-width: 860px) {
    padding: 30px 130px*$scale/1400px*100% 30px 130px*$scale/1400px*100%;
    .nav {
      width: 100%;
      @include flex;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 1.6%;
        }
      }
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
    .footer-block {
      width: 48%;
    }
    h6 {
      margin-top: 65px*$scale;

    }
  }
  @media(max-width: 725px) {
    .nav {
      display: inline-block;
      width: 50%;
      li {
        display: block;
      }
    }
  }
  @media(max-width: 500px) {
    .nav {
      display: block;
      width: 100%;
    }
    .footer-block {
      display: block;
      width: 100%;
      &:nth-child(3) {
        margin-bottom: 40px;
      }
    }
  }
}