#header.logged-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
  background-color: $dullBlue;
  .no-scroll & {
    padding-right: 15px;
  }
  .lockout {
    display: table;
    height: 87px;
    width: 90%;
    & > div {
      display: table-cell;
    }
    .left {
      width: 40%;
      vertical-align: middle;
      @include breakpoint(850px) {
        width: 20%;
      }
      .inner {
        display: table;
        vertical-align: middle;
        a {
          color: #fff;
          //display: table;
          width: 100%;
          vertical-align: middle;
          @include transition(color 0.3s);
          &:hover {
            color: $brightBlue;
          }
          &.logout {
            font-size: em(14);
            color: $brightBlue;
            text-decoration: underline !important;
            @include transition(all 0.3s);

            &:hover {
              color: #fff;
            }
          }
          &.help {
            display: block;
          }
        }
        .pic {
          display: table-cell;
          position: relative;
          vertical-align: middle;
          .image {
            overflow: hidden;
            border-radius: 200px;
            border: 2px solid $brightBlue;
            width: 55px;
            height: 55px;
          }
          img {
            width: 100%;
          }
        }
        .user {
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px;
          h5 {
            text-align: left;
            text-transform: uppercase;
            font-size: em(12.5);
            display: none;
            letter-spacing: 0.03em;
            line-height: 1.2em;
            @include breakpoint(450px) {
              display: inline-block;
            }
          }
          .desktop {
            display: none;
            @include breakpoint(450px) {
              display: inline;
            }
          }
          .logout-icon{
            opacity: 0.92;
            margin-bottom: 2px;
            @include retina-div('/themes/basic/images/global/header/icon-signout', 'png', 26, 26);
            @include breakpoint(450px) {
              display: none;
            }
          }
          a {
            display: inline;
          }
        }
      }
    }
    .center {
      width: 20%;
      height: 87px;
      text-align: center;
      padding-top: 13px;
      @include breakpoint(850px) {
        width: 40%;
        min-width: 450px;
      }
      .btn {
        width: 147px;
        display: none;
        @include breakpoint(850px) {
          display: inline-block;
        }
      }
      .logo {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(850px) {
          margin: 0 33px 0;
        }
        .inner {
          @include retina-div('/themes/basic/images/global/header/logo', 'png', 98*.8, 77*.8);
        }
      }

    }
    .right {
      width: 40%;
      position: relative;
      z-index: 10;
      @include breakpoint(850px) {
        width: 20%;
      }
      @include clearfix;
      .wrap {
        float: right;
        top: 4px;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        width: 100px;
        @include clearfix;
        h5 {
          float: right;
          text-transform: uppercase;
          font-size: em(12);
          display: inline-block;
          letter-spacing: 0.2em;
          margin-right: 17px;
          @include transition(color 0.5s ease-in-out);
          @include font-lato-700;
          &.col-1-active{
            color: $nearBlack;
          }
          &.col-3-active{
            color: white;
          }
          &:not(.col-1-active), &:not(.col-3-active) {
            &:hover {
              color: $brightBlue;
            }
          }
          @media(max-width:700px) {
            &.col-1-active, &.col-3-active {
              color: white;
            }
          }
        }
        .hamburger {
          float: right;
          margin-top: 1px;
          .bar {
            width: 28px;
            height: 2px;
            background-color: #fff;
            margin-bottom: 5px;
            @include transition(all 0.5s ease-in-out);
          }
          &.open{
            .bar:first-child{
              @include transform(rotate(45deg) translateY(250%));
            }
            .bar:last-child{
              @include transform(rotate(-45deg) translateY(-250%));
            }
          }
          &:not(.open) {
            &:hover {
              .bar{
                background-color: white;
              }
            }
          }
          &.open {
            &:hover {
              .bar{
                background-color: $brightBlue;
              }
            }
          }
          &.col-1-active{
            .bar{
              background-color: $nearBlack;
            }
          }
          &.col-3-active{
            .bar{
              background-color: white;
            }
          }
          @media(max-width:700px){
            &.open{
              .bar{
                background-color: white;
              }
            }
          }
        }
      }
    }
  }

}