#header.logged-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
  background-color: $dullBlue;
  @include transition(background-color 0.6s);
  @include breakpoint($tablet) {
    // background-color: rgba(92, 99, 109, 0);
    background-color: $dullBlue;
    .short-nav & {
      background-color: $dullBlue;
    }
  }
  .no-scroll & {
    padding-right: 15px;
  }
  .lockout {
    @include with-layout(10 0 border-box) {
      @include container();
      margin: 0 $mobileSideMargin;
      @include breakpoint($tablet) {
        width: 100%;
        padding: 0 15px;
        position: relative;
        margin: 0 auto;
      }
      @include breakpoint($ipadLandscape) {
        width: 86%;
        padding: 0;
      }
      & > div {
        height: 83px;
        @include transition(all 0.5s);
        @include breakpoint($tablet) {
          // height: 150px;
          height: 83px;
          .short-nav & {
            height: 83px;
          }
        }
      }
      .left {
        @include span(4);
        text-transform: uppercase;
        @include breakpoint($tablet) {
          width: 44%;
        }
        @include breakpoint($ipadLandscape) {
          width: 40%;
        }
        ul {
          top: 34px;
          position: relative;
          @include transition(all 0.5s);
          @include breakpoint($tablet) {
            // top: 72px;
            top: 35px;
            .short-nav & {
              top: 35px;
            }
          }
          li {
            float: left;
            margin-right: 10%;
            @include font-lato-700;
            letter-spacing: 0.18em;
            font-size: em(14);
            @include breakpoint($tablet) {
              margin-right: 10px;
            }
            @include breakpoint($ipadLandscape) {
              margin-right: 5%;
            }
            @include breakpoint($xx-large) {
              margin-right: 10%;
            }
            &.register, &.help {
              display: none;
              @include breakpoint($ipadPortrait) {
                display: block;
              }
            }
            a {
              color: #fff;
              padding: 10px 0;
              @include transition(all 0.3s);
              &:hover {
                // color: $dullBlue;
                color: $brightBlue;
                .short-nav & {
                  color: $brightBlue;
                }
              }
              .dark-header & {
                color: #fff;
                @include breakpoint($tablet) {
                  color: $dullBlue;
                }
                &:hover {
                  color: $brightBlue;
                }
              }
              .short-nav & {
                color: #fff;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .center {
        text-align: center;
        top: 11px;
        position: relative;
        @include span(2);
        left: -5px;
        @include breakpoint($tablet) {
          width: 12%;
          // top: 38px;
          left: 0;
          top: 11px;
          .short-nav & {
            top: 11px;
          }
        }
        @include breakpoint($ipadLandscape) {
          width: 20%;
        }
        .logo {
          display: inline-block;
          .inner {
            @include transition(all 0.5s);
            @include retina-div('/themes/basic/images/global/header/logo', 'png', 112*.69, 89*.69);
            .dark-header & {
              //@include retina-div('/themes/basic/images/global/header/logo-dark', 'png', 112*.69, 89*.69);
            }
            @include breakpoint($tablet) {
              // @include retina-div('/themes/basic/images/global/header/logo', 'png', 112, 89);
              @include retina-div('/themes/basic/images/global/header/logo', 'png', 112*.69, 89*.69);
              .dark-header & {
                @include retina-div('/themes/basic/images/global/header/logo-dark', 'png', 112, 89);
              }
              .short-nav & {
                @include retina-div('/themes/basic/images/global/header/logo', 'png', 112*.69, 89*.69);
              }

            }
          }
        }
      }
      .right {
        position: relative;
        z-index: 10;
        @include span(4);
        @include clearfix;
        @include breakpoint($tablet) {
          width: 44%;
        }
        @include breakpoint($ipadLandscape) {
          width: 40%;
        }
        .wrap {
          float: right;
          top: 38px;
          position: relative;
          white-space: nowrap;
          cursor: pointer;
          width: 100px;
          @include clearfix;
          @include transition(all 0.5s);
          @include breakpoint($tablet) {
            // top: 74px;
            top: 38px;
            .short-nav & {
              top: 38px;
            }
          }
          h5 {
            float: right;
            text-transform: uppercase;
            font-size: em(12);
            display: inline-block;
            letter-spacing: 0.2em;
            margin-right: 12px;
            @include font-lato-700;
            @include breakpoint($tablet) {
              margin-right: 17px;
            }
            @include transition(color 0.5s ease-in-out);
            .dark-header & {
              color: #fff;
              @include breakpoint($tablet) {
                color: $dullBlue;
              }
            }
            .short-nav & {
              color: #fff;
            }
            &.col-1-active{
              color: $nearBlack;
            }
            &.col-3-active{
              color: white;
            }
            &:not(.col-1-active), &:not(.col-3-active) {
              &:hover {
                color: $brightBlue;
              }
            }
            @media(max-width:700px){
              &.col-1-active, &.col-3-active{
                color: white;
              }
            }
          }
          .hamburger {
            float: right;
            margin-top: 1px;
            .bar {
              width: 28px;
              height: 2px;
              background-color: $brightBlue;
              margin-bottom: 5px;
              @include transition(all 0.5s ease-in-out);
            }
            &.open{
              .bar:first-child{
                @include transform(rotate(45deg) translateY(250%));
              }
              .bar:last-child{
                @include transform(rotate(-45deg) translateY(-250%));
              }
            }
            &:not(.open) {
              &:hover {
                .bar{
                  background-color: white;
                }
              }
            }
            &.open {
              &:hover {
                .bar{
                  background-color: $brightBlue;
                }
              }
            }
            &.col-1-active{
              .bar{
                background-color: $nearBlack;
              }
            }
            &.col-3-active{
              .bar{
                background-color: white;
              }
            }
            @media(max-width:700px){
              &.open{
                .bar{
                  background-color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}