.scroll-cta {
  text-align: center;
  &.desktop {
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -7px;
    display: none;
    @include breakpoint($tablet) {
      display: inline-block;
    }
  }
  &.mobile {
    @include breakpoint($tablet) {
      display: none;
    }
  }
  &.white {
    .dot {
      background-color: $white;
    }
    .arrow {
      @include retina-div($images + '/global/arrow-down-white', 'png', 14, 9);
    }
  }
  .dot {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: $brightBlue;
    margin: 0 auto 13px;
  }
  .arrow {
    @include retina-div($images + '/global/arrow-down', 'png', 14, 9);
    margin: 0 auto;
  }
  @-webkit-keyframes scrollarrow {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
    }
  }
  @-moz-keyframes scrollarrow {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
    }
  }
  @-o-keyframes scrollarrow {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
    }
  }
  @keyframes scrollarrow {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
    }
  }
  .animated {
    animation-name: scrollarrow;
    animation-duration: 2s;
    animation-iteration-count: 3;
    opacity: 1;
    &.one {
      animation-delay: .25s;
      -webkit-animation-delay: .25s;
    }
    &.two {
      animation-delay: .5s;
      -webkit-animation-delay: .5s;
    }
    &.three {
      animation-delay: .75s;
      -webkit-animation-delay: .75s;
    }
    &.four {
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
    }
  }
}