/************************************/
/************Expanded Menu***********/
/************************************/

$scale:0.8235;

$grey:#5c636d;

$cream:#e6e4e1;

$nearwhite:#f3f3f3;

$tan:#b6b3ae;

$darkbrown:#847e77;

$blue:#6dcff6;

$brown:#90816f;

$nearblack:#262220;

#main-menu{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:5;
	@include transition(max-height 0.5s ease-in-out);
	#nav-wrap{
		position:absolute;
		z-index:10;
		top:50%;
		height:100%;
		width:100%;
		@include transform(translateY(-50%));
		ul{
			display:none;
			vertical-align:top;
			position:absolute;
			&.open{
				display:inline-block;
			}
			li{
				width:100%;
				height:80px;
				text-align:left;
				position:relative;
				display:block;
				&:before{
					content:"";
					width:0%;
					height:100%;
					@include transition(width 0.5s ease-in-out);
					position:absolute;
					top:0;
					right:0;
					z-index:-1;
				}
				&:after{
					@include footer-icon;
					content:"\e903";
					position:absolute;
					font-size:14px;
					top:50%;
					right:20px;
					@include transform(translateY(-50%));
					opacity:0;
					@include transition(opacity 0.5s ease-in-out);
				}
				&.active{
					&:before{								
						width:100%;
						@include transition(width 0.5s ease-in-out);
					}
					&:after{
						opacity:1;
						@include transition(opacity 0.5s ease-in-out);
					}
				}
				a{
					text-decoration:none;
					text-transform:uppercase;
					opacity:0;
					margin-left:-20%;
					padding:10% 0;
					display:inline;
					@include font-lato-700;
					font-size:16px;
					@include transition(padding 0.33s ease-in-out);
					&:hover{
						padding-left:0.6vw;
					}
				}
			}
			//first-tier
			&.column-1{
				width:30vw;
				left:0;
				top:50%;
				@include transform(translateY(-50%));
				>li{
					padding:35px*$scale 5% 35px*$scale 260*$scale/500*100%;
					&:before{
						background-color:white;
					}
					&.menu-item-has-children{
						&:after{
							color: $grey;
						}
					}
					>a{
						color:$grey;
					}
					&:nth-of-type(1){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.3s forwards);
							}
						}
						>.sub-menu{
				            top:0;
                        }
					}
					&:nth-of-type(2){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.35s forwards);
							}
						}
						>.sub-menu{
				            top:-80px;
                        }
					}
					&:nth-of-type(3){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.4s forwards);
							}
						}
						>.sub-menu{
				            top:-160px;
                        }    
					}
					&:nth-of-type(4){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.45s forwards);
							}
						}
                        >.sub-menu{
				            top:-240px;
                        }
					}
					&:nth-of-type(5){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.5s forwards);
							}
						}
                        >.sub-menu{
				            top:-320px;
                        }
					}
					&:nth-of-type(6){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.55s forwards);
							}
						}
                        >.sub-menu{
				            top:-400px;
                        }
					}
					&:nth-of-type(7){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.6s forwards);
							}
						}
                        >.sub-menu{
				            top:-480px;
                        }
					}
					&:nth-of-type(8){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.65s forwards);
							}
						}
                        >.sub-menu{
				            top:-560px;
                        }
					}
					&:nth-of-type(9){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.7s forwards);
							}
						}
                        >.sub-menu{
				            top:-640px;
                        }
					}
				}
			}
			//second tier
			&.menu-depth-1{
				width:19vw;
				left:30vw;
				>li{
					&:before{
						background-color:$grey;
						@include transition(width 0.5s ease-in-out 0.3s);
					}
					&.menu-item-has-children{
						&:after{
							color: white;
						}
					}
					padding:35px*$scale 5% 35px*$scale 80*$scale/320*100%;
					>a{
						color:$grey;
						@include transition(all 0.3s ease-in-out);
						&.active{
							color:white;
						}
					}
					&:first-child{
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.3s forwards);
							}
						}
                        >.sub-menu{
				            top:0;
                        }
					}
					&:nth-child(2){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.35s forwards);
							}
						}
                        >.sub-menu{
				            top:-80px;
                        }
					}
					&:nth-child(3){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.4s forwards);
							}
						}
                        >.sub-menu{
				            top:-160px;
                        }
					}
					&:nth-child(4){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.45s forwards);
							}
						}
                        >.sub-menu{
				            top:-240px;
                        }
					}
					&:nth-child(5){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.5s forwards);
							}
						}
                        >.sub-menu{
				            top:320px;
                        }
					}
					&:nth-child(6){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.55s forwards);
							}
						}
                        >.sub-menu{
				            top:-400px;
                        }
					}
					&:nth-child(7){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.6s forwards);
							}
						}
                        >.sub-menu{
				            top:-480px;
                        }
					}
					&:nth-child(8){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.65s forwards);
							}
						}
                        >.sub-menu{
				            top:-560px;
                        }
					}
					&:nth-child(9){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.7s forwards);
							}
						}
                        >.sub-menu{
				            top:-640px;
                        }
					}
				}
			}
			//third tier
			&.menu-depth-2{
				width:51vw;
				left:100%;
				li{
					padding:35px*$scale 60% 35px*$scale 80*$scale/880*100%;
					a{
						color:white;
					}
					&:first-child{
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.3s forwards);
							}
						}
					}
					&:nth-child(2){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.35s forwards);
							}
						}
					}
					&:nth-child(3){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.4s forwards);
							}
						}
					}
					&:nth-child(4){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.45s forwards);
							}
						}
					}
					&:nth-child(5){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.5s forwards);
							}
						}
					}
					&:nth-child(6){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.55s forwards);
							}
						}
                        
					}
					&:nth-child(7){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.6s forwards);
							}
						} 
					}
					&:nth-child(8){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.65s forwards);
							}
						}  
					}
					&:nth-child(9){
						a{
							&.open{
								@include animation(menu-li-open 1s ease-in-out 0.7s forwards);
							}
						}
					}
				}
				&.col-1-active, &.col-2-active{
					opacity:0;
				}
				&.col-3-active{
					opacity:1;
				}
			}
		}
		&.col-1-active{
			//opacity:0
		}
		&.col-2-active{
			opacity:1;
		}
	}
	#background-wrap{
		.background{
			display:inline-block;
			height:100%;
			position:absolute;
			top:0;
			overflow:hidden;
			&.bg-column-1{
				background-color:#f9f9f9;
				z-index:1;
				left:0;
				@include transition(width 0.5s ease-in-out);
				&.open{
					width:100%;
				}
				&.closed{
					width:0;
				}
			}
			&.bg-column-2{
				right:0;
				background-color:white;
				z-index:2;
				@include transition(width 0.5s ease-in-out 0.1s);
				&.open{
					width:70%;
				}
				&.closed{
					width:0;
				}
			}
			&.bg-column-3{
				background-color:$grey;
				z-index:3;
				right:0;
				@include transition(width 0.3s ease-in-out);
				&.open{
					width:51%;
				}
				&.closed{
					width:0;
				}
			}
		}
		#img-wrap{
			width:221px*$scale;
			height:173px*$scale;
			position:absolute;
			top:50%;
			right:260px;
			z-index:50;
			&.closed{
				opacity:0;
				@include transform(translate(150%,-50%));
			}
			&.open{
				opacity:1;
				@include transform(translate(50%,-50%));
			}
			a{
				width:100%;
				height:100%;
				display:block;
				background:url("../images/global/biglogo-w.png") no-repeat;
				background-size:100%;
				@include transition(all 0.5s ease-in-out);
				
				&.grey{
					background:url("../images/global/biglogo.png") no-repeat;
					background-size:100%;
				}
			}
			@media(max-width:1200px){
				right:175px;
			}

		}
	}

	/************************************/
	/************Media Queries***********/
	/************************************/

	@media(max-width:1375px){
		#nav-wrap{
			ul{
				&.column-1{
					width:30vw;
					>li{
						padding:35px*$scale 5% 35px*$scale 100/500*100%;
					}

				}
				&.menu-depth-1{
					width:25vw;
					left:30vw;
					>li{
						padding:35px*$scale 5% 35px*$scale 60/320*100%;
					}
				}
				&.menu-depth-2{
					width:45vw;
					>li{
						//padding:35px*$scale 5% 35px*$scale 80*$scale/880*100%;
					}
				}
			}
		}
		#background-wrap{
			.background{
				&.bg-column-2{
					&.open{
						width:70%;
					}
				}
				&.bg-column-3{
					&.open{
						width:45%;
					}
				}
			}
		}
	}
	@media(max-width:1000px){
		#nav-wrap{
			ul{
				&.column-1,&.menu-depth-1,&.menu-depth-2{
					width:33.33vw;
					>li{
						padding:35px*$scale 7% 35px*$scale 15%;
						a{
							&:hover{
								padding-left:0;
							}
						}
					}
				}
				&.menu-depth-1{
					left:33.33vw;
				}
			}
		}
		#background-wrap{
			.background{
				&.bg-column-2{
					&.open{
						width:66.66%;
					}
				} 
				&.bg-column-3{
					&.open{
						width:33.33%;
					}
				}
			}
			#img-wrap{
				top:115px;
				left:50%;
				right:auto;
				&.open{
					@include transform(translate(-50%, -50%));
				}
				a, a.grey{
					background:url("../images/global/biglogo-w.png") no-repeat;
					background-size:100%;
				}
				@media(max-height:1000px){
					display:none;
				}
			}
		}
	}
	@media(max-width:700px){
		background-color:$nearwhite;
		position:relative;
		height:auto;
		max-height:0;
		overflow:hidden;
		left:-5%;
		@include transition(max-height 0.5s cubic-bezier(0, 1.5, 1, 2));
		&.open{
			max-height:calc(100vh - 86.4531px);
			overflow:auto;
			
		}
		#nav-wrap{
			position:relative;
			height:auto;
			top:auto;
			padding-bottom:15px;
			@include transform(none);
			ul{
				position:relative;
				height:auto;
				display:block;
				overflow:hidden;
				@include transform(none);
				&.column-1,&.menu-depth-1,&.menu-depth-2{
					width:100vw;
					@include transform(none);
					>li{
						height:auto;
						padding:10px 7% 10px 15%;
						line-height: 32px;
						&.vod{
							display:block;
						}
						&.menu-item-has-children{
							&:after{
								opacity:1;
								right:10%;
								top:20px;
								@include transform(rotate(0deg));
								@include transition(transform 0.3s ease-in-out);
							}
							&.mobile-active{
								&:after{
									@include transform(rotate(90deg));
								}
							}
						}
						&:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9){
							> .sub-menu{
								top:0;
							}
						}
						a{
							padding:1% 0;
						}
					}
				}
				&.menu-depth-1{
					left:0vw;
					width:101vw;
					margin-left:-19.5%;
					background-color:white;
					>li{
						padding:10px 7% 10px 25%;
						&.menu-item-has-children{
							&:after{
								color:$grey;
							}
						}
					}
				}
				&.menu-depth-2{
					width:101vw;
					margin-left:-36.5%;
					left:0vw;
					background-color:$grey;
					>li{
						padding:10px 7% 10px 35%;
					}
				}
				&.menu-depth-1.open{
					&.menu-depth-2{
						margin-bottom:-10px;
					}
				}
				&.sub-menu{
					max-height:0;
					@include transition(max-height 1.5s cubic-bezier(0, 1.5, 1, 2));
				}
				&.sub-menu.open{
					margin-top:8px;
					max-height:1000px;
				}
				
			}
		}
		#background-wrap{
			display:none;
		}
	}
	@media (max-height:600px) and (min-width:701px){
		#nav-wrap{
			ul{
				&.column-1,&.menu-depth-1,&.menu-depth-2{
					>li{
						height:10vh;
						padding-top:3vh;
						padding-bottom:3vh;
					}
				}
				&.column-1{
					>li{
						&:nth-of-type(2){
							>.sub-menu{
								top:-10vh;
							}
						}
						&:nth-of-type(3){
							>.sub-menu{
								top:-20vh;
							}
						}
						&:nth-of-type(4){
							>.sub-menu{
								top:-30vh;
							}
						}
						&:nth-of-type(5){
							>.sub-menu{
								top:-40vh;
							}
						}
						&:nth-of-type(6){
							>.sub-menu{
								top:-50vh;
							}
						}
						&:nth-of-type(7){
							>.sub-menu{
								top:-60vh;
							}
						}
						&:nth-of-type(8){
							>.sub-menu{
								top:-70vh;
							}
						}
						&:nth-of-type(9){
							>.sub-menu{
								top:-80vh;
							}
						}
					}
				}
				&.menu-depth-1{
					>li{
						&:nth-of-type(2){
							>.sub-menu{
								top:-10vh;
							}
						}
						&:nth-of-type(3){
							>.sub-menu{
								top:-20vh;
							}
						}
						&:nth-of-type(4){
							>.sub-menu{
								top:-30vh;
							}
						}
						&:nth-of-type(5){
							>.sub-menu{
								top:-40vh;
							}
						}
						&:nth-of-type(6){
							>.sub-menu{
								top:-50vh;
							}
						}
						&:nth-of-type(7){
							>.sub-menu{
								top:-60vh;
							}
						}
						&:nth-of-type(8){
							>.sub-menu{
								top:-70vh;
							}
						}
						&:nth-of-type(9){
							>.sub-menu{
								top:-80vh;
							}
						}
					}
				}
				&.menu-depth-2{
					>li{
						&:nth-of-type(2){
							>.sub-menu{
								top:-10vh;
							}
						}
						&:nth-of-type(3){
							>.sub-menu{
								top:-20vh;
							}
						}
						&:nth-of-type(4){
							>.sub-menu{
								top:-30vh;
							}
						}
						&:nth-of-type(5){
							>.sub-menu{
								top:-40vh;
							}
						}
						&:nth-of-type(6){
							>.sub-menu{
								top:-50vh;
							}
						}
						&:nth-of-type(7){
							>.sub-menu{
								top:-60vh;
							}
						}
						&:nth-of-type(8){
							>.sub-menu{
								top:-70vh;
							}
						}
						&:nth-of-type(9){
							>.sub-menu{
								top:-80vh;
							}
						}
					}
				}
			}
		}
	}
	@media (max-height:500px) and (min-width:701px){
		#nav-wrap{
			ul{
				&.column-1,&.menu-depth-1,&.menu-depth-2{
					>li{
						padding-top:2.5vh;
						padding-bottom:2.5vh;
					}
				}
			}
		}
	}
	@media (max-height:400px) and (min-width:701px){
		#nav-wrap{
			ul{
				&.column-1,&.menu-depth-1,&.menu-depth-2{
					>li{
						padding-top:1.75vh;
						padding-bottom:1.75vh;
					}
				}
			}
		}
	}
}

/*****Menu List Item Open*****/


@-webkit-keyframes menu-li-open{
	0%{
		opacity:0;
		margin-left:-20%;
	}
	100%{
		opacity:1;
		margin-left:0;
	}
}

@keyframes menu-li-open{
	0%{
		opacity:0;
		margin-left:-20%;
	}
	100%{
		opacity:1;
		margin-left:0;
	}
}

/*****Menu List Item Close*****/

@-webkit-keyframes menu-li-close{
	0%{
		opacity:1;
		margin-left:0;
	}
	100%{
		opacity:0;
		margin-left:-20%;
	}
}

@keyframes menu-li-close{
	0%{
		opacity:1;
		margin-left:0;
	}
	100%{
		opacity:0;
		margin-left:-20%;
	}
}

@include breakpoint($tablet) {
	body.home #header {
		transition: all 0.7s ease-in-out !important;
		.center .logo .inner {
			transition:all  0.7s ease-in-out !important;
		}
	}

	// body.home:not(.scrolled-from-top) #header {
	// 	padding: 37px 0;
	// 	background-color: transparent !important;
	// 	.center .logo .inner {
	// 		transform: scale(1.5);
	// 	}
	// }
}