#mashup-video-editor {
  display: none;
  background-color: $dullBlue;
  color: #fff;
  padding: 30px 0 40px;
  position: relative;
  @include breakpoint($tablet) {
    padding: 30px 0 50px;
  }
  .full-width {
    position: relative;
  }
  .title {
    max-width: 1160px !important;
    margin-bottom: 20px;
    @include breakpoint($tablet) {
      width: 92%;
      padding: 0 180px;
    }
    h1 {
      display: inline-block;
      margin-bottom: 15px;
    }
    .edit {
      @include breakpoint($tablet) {
        display: inline-block;
      }
      position: relative;
      top: -12px;
      font-size: em(13);
      padding: 10px;
      text-decoration: underline;
      cursor: pointer;
      @include transition(all 0.3s);
      &:hover {
        color: $brightBlue;
      }
    }
    .btn {
      margin-bottom: 28px;
      @include breakpoint($tablet) {
        position: absolute;
        top: 10px;
        right: 0;
        margin-bottom: 0;
      }
    }
  }
  .videos {
    max-width: 1160px;
    width: 92%;
    margin: 0 auto;
    .sortable-ghost {
      opacity: 0;
    }
    .sortable-chosen {
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important;

    }
    #list-title-bar {
      margin-bottom: 0;
      .titles {
        display: none;
        margin-bottom: 5px;
        border: none;
        @include font-lato-400;
        @include breakpoint($tablet) {
          display: block;
        }
        .play, .drag {
          .icon {
            visibility: hidden;
          }
        }
        .remove {
          cursor: default;
        }
      }
    }
    .video-list {
      margin-bottom:30px;
      @include breakpoint($tablet) {
        margin-bottom: 40px;
      }
      li {
        background-color: $dullBlue;
        border: 1px solid #848a93;
        text-transform: uppercase;
        text-align: left;
        line-height: 1.2em;
        font-size: em(14.5);
        margin-bottom: 10px;
        @include font-lato-700;
        display: table;
        width: 100%;
        @include breakpoint($tablet) {
          margin-bottom: 20px;
        }
        > div {
          display: table-cell;
          vertical-align: middle;
          padding: 8px 20px 8px 0;
        }
        .play {
          width: 5%;
          padding-right: 5px;
          @include breakpoint($tablet) {
            padding-right: 20px;
          }
          .icon {
            cursor: pointer;
            margin: 0px 10px;
            @include retina-div('/themes/basic/images/global/icon-play', 'png', 33, 34);
          }
        }
        .title {
          width: 60%;
          padding: 8px 20px 8px 0;
          @include breakpoint($tablet) {
              width: 30%;
          }
        }
        .instructor {
          width: 17%;
          display: none;
          @include breakpoint($tablet) {
            display: table-cell;
          }
        }
        .type {
          width: 22%;
          display: none;
          @include breakpoint($tablet) {
            display: table-cell;
          }
          div {
            display: inline-block;
          }
        }
        .duration {
          display: none;
          @include breakpoint($tablet) {
            width: 13%;
            display: table-cell;
          }
        }
        .remove {
          width: 9%;
          .text {
            display: inline-block;
            text-decoration: underline;
            cursor: pointer;
            @include transition(all 0.3s);
            &:hover {
              color: $brightBlue;
            }
          }
        }
        .drag {
          width: 2%;
          .icon {
            cursor: -webkit-grab;
            cursor: grab;
            @include retina-div('/themes/basic/images/global/icon-drag-arrows', 'png', 14, 34);
            &:active {
              cursor: -webkit-grabbing;
              cursor: grabbing;
            }
          }
        }
      }
    }
  }
  .buttons {
    .btn {
      margin: 0 5px 10px;
      min-width: 190px;
      border: none;
    }
  }
}