body.mashup-maker {

  #video-thumbs {
    background-color: $lightGray;
    text-align: center;
    margin-top: 5px;
    #add-video-to-mashup {
      display: none;
      padding: 36px 0;
      background: $dullBlue url('/themes/basic/images/mashup/add-video-bg.jpg') top center no-repeat;
      background-size: cover;
      @include breakpoint($tablet) {
        padding: 50px 0;
      }
      h1 {
        color: #fff;
        width: 88%;
        margin: 0 auto 20px;
        line-height: 1.1em;
        @include breakpoint($tablet) {
          width: 94%;
        }
      }
    }
    @import "mashup-video-editor";
    header {
      padding: 25px 0 30px;
      @include breakpoint($tablet) {
        padding: 38px 0 40px;
      }
      .title {
        margin-bottom: 23px;
        @include breakpoint($tablet) {
          bottom: 30px;
        }
      }
      .dropdowns {
        .select-wrap {
          margin: 0 3px;
          @include breakpoint($tablet) {
            margin: 0 4px;
          }
        }

      }
    }

  }

}
