#bring-ball-home {
  //background: $dullBlue url('/themes/basic/images/home-logged-out/get-started-bg.png') center 20px repeat;
  background-color: $dullBlue;
  padding: 35px 0 40px;
  color: #fff;
  text-align: center;
  @include breakpoint($tablet) {
    padding: 45px 0 50px;
  }
  header {
    text-align: center;
    margin-bottom: 24px;
    @include breakpoint($tablet) {
      margin-bottom: 37px;
    }
    .side-lines {
      margin-bottom: 0;
      @include breakpoint($tablet) {
        margin-bottom: 2px;
      }
      h4 {
        background-color: $dullBlue;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: em(13);
        letter-spacing: 0.4em;
        text-align: center;
        padding: 0 0.3% 0 2%;
        @include breakpoint($tablet) {
          letter-spacing: 1em;
          font-size: em(14.5);
          padding: 0 2.8% 0 4%;
        }
      }
    }
    h1 {
      color: $brightBlue;
      margin-bottom: 18px;
      @include breakpoint($tablet) {
        margin-bottom: 25px;
      }
    }
    .subtitle {
      @include font-libre-baskerville-400italic;
      text-align: center;
      font-size: em(15.5);
      line-height: 1.55em;
      width: 90%;
      margin: 0 auto;
      @include breakpoint($tablet) {
        width: 100%;
      }
    }
  }
  .ball {
    text-align: center;
    margin-bottom: 28px;
    @include breakpoint($tablet) {
      margin-bottom: 38px;
    }
    img {
      max-width: 792px;
      width: 100%;
    }
  }
  .blue-dot-btn {
    min-width: 170px;
    a {
      @include font-lato-400;
      font-size: em(14);
    }
  }

}