#hero {
  background: $dullBlue url($images + '/home-logged-in/hero-mobile.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  @include breakpoint($tablet) {
    background: $dullBlue url($images + '/home-logged-in/hero-desktop.jpg') 25% center no-repeat;
    background-size: cover;
    min-height: 575px;
  }
  // used as bg tint for mobile
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.15);
    @include breakpoint($tablet) {
      background-color: transparent;
    }
  }
  .centered-text {
    padding: 130px 0 32px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    margin: 0 $mobileSideMargin;
    @include breakpoint($tablet) {
      display: table;
      height: 100%;
      margin: 0 auto;
      width: 90%;
      padding: 168px 0 30px;
    }
    .inner {
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      position: relative;
      @include breakpoint($tablet) {
        display: table-cell;
        vertical-align: middle;
      }
      .top-text {
        font-size: em(14);
        letter-spacing: 0.35em;
        line-height: 1.45em;
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          font-size: em(16.5);
          letter-spacing: 0.65em;
          margin-bottom: 23px;
          line-height: 1.4em;
        }
      }
      .title {
        font-size: em(40);
        line-height: 1.1em;
        margin-bottom: 20px;
        @include breakpoint($tablet) {
          font-size: em(70);
          line-height: 1em;
          margin-bottom: 38px;
        }
      }
      .subtitle {
        @include font-libre-baskerville-400;
        letter-spacing: 0.025em;
        line-height: 1.4em;
        width: 90%;
        margin: 0 auto 30px;
        font-size: em(16);
        @include breakpoint($tablet) {
          font-size: em(16.5);
          margin-bottom: 40px;
        }
      }
      .blue-dot-btn {
        min-width: 200px;
        margin-bottom: 30px;
        //font-size: em(16);
        @include breakpoint($tablet) {
          min-width: 240px;
          margin-bottom: 35px;
        }
      }
      //.scroll-cta {
      //  margin-bottom: 20px;
      //  @include breakpoint($tablet) {
      //    margin-bottom: 0;
      //  }
      //}
    }
  }
}
