/* select */
.select-holder {
	.jcf-select {
		display: inline-block;
		vertical-align: top;
		position: relative;
		background: transparent;
		min-width: 131px;
		height: 37px;

		&.jcf-drop-active {
			color: #fff;
			background-color: #5e6571;

			.jcf-select-opener {
				&:before {
					border-top-color: #fff;
				}
			}
		}
	}
	.jcf-select select {
		z-index: 1;
		left: 0;
		top: 0;
	}
	.jcf-select .jcf-select-text {
		text-overflow:ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		font-size: 13px;
		line-height: 35px;
		margin: 0 35px 0 16px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
	}
	.jcf-select .jcf-select-opener {
		position: absolute;
		text-align: center;
		background: transparent;
		width: 26px;
		bottom: 0;
		right: 0;
		top: 0;
		&:before {
			content: '';
			position: absolute;
			top: 15px;
			right: 14px;
			width: 0; 
			height: 0; 
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid #5e6571;
		}
	}
	body > .jcf-select-drop {
		position: absolute;
		margin: -1px 0 0;
		z-index: 9999;
	}
	body > .jcf-select-drop.jcf-drop-flipped {
		margin: 1px 0 0;
	}
	.jcf-select .jcf-select-drop {
		position: absolute;
		margin-top: 0px;
		z-index: 9999;
		top: 100%;
		left: -1px;
		right: -1px;
	}
	.jcf-select .jcf-drop-flipped {
		bottom: 100%;
		top: auto;
	}
	.jcf-select.jcf-compact-multiple {
		max-width: 220px;
	}
	.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
		display: inline-block;
		padding-top: 2px;
		content: '...';
	}
	.jcf-select-drop .jcf-select-drop-content {
		border: none;
	}
	.jcf-select-drop.jcf-compact-multiple .jcf-hover {
		background: none;
	}
	.jcf-select-drop.jcf-compact-multiple .jcf-selected {
		background: #e6e6e6;
		color: #000;
	}
	.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
		display: inline-block;
		content: '';
		height:4px;
		width:8px;
		margin:-7px 5px 0 -3px;
		border:3px solid #777;
		border-width:0 0 3px 3px;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
	}
}
	/* select options styles */
	.jcf-list {
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 10;
		background: #f4f4f4;
		line-height: 14px;
		font-size: 12px;
		width: 100%;
	}
	.jcf-list .jcf-list-content {
		vertical-align: top;
		display: inline-block;
		overflow: auto;
		width: 100%;
	}
	.jcf-list ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.jcf-list ul li {
		overflow: hidden;
		display: block;
	}
	.jcf-list .jcf-overflow {
		overflow: auto;
	}
	.jcf-list .jcf-option {
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		padding: 12px 18px;
		color: #656565;
		min-height: 14px;
		height: 1%;
		font-size: 13px;
		line-height: 8px;
	}
	.jcf-list .jcf-disabled {
		background: #fff !important;
		color: #aaa !important;
	}
	.jcf-select-drop .jcf-hover,
	.jcf-list-box .jcf-selected {
		background: #6ecff6;
		color: #fff;
	}
	.jcf-list .jcf-optgroup-caption {
		white-space: nowrap;
		font-weight: bold;
		display: block;
		padding: 5px 9px;
		cursor: default;
		color: #000;
	}
	.jcf-list .jcf-optgroup .jcf-option {
		padding-left: 30px;
	}
	/* common styles */
	.jcf-disabled {background: #ddd !important;}
	.jcf-focus, .jcf-focus * {border-color: #f00 !important;}