#legend {
  padding: 23px 0 20px;
  background-color: $lightGray;
  @include clearfix;
  @include breakpoint($tablet) {
    padding: 22px 0 20px;
  }
  h5 {
    @include font-lato-900;
    font-size: em(12.7);
    position: relative;
    top: 5px;
    margin: 0 3.1% 10px 5px;
    display: none;
    @include breakpoint($tablet) {
      margin-right: 2.8%;
      display: block;
      float: left;
      margin-bottom: 0;
    }
  }
  ul {
    @include breakpoint($tablet) {
      @include clearfix;
    }
    li {
      float: left;
      text-transform: uppercase;
      margin-right: 4%;
      font-size: em(11.9);
      @include clearfix;
      &:last-of-type {
        margin-right: 0;
      }
      @include breakpoint(330px) {
        font-size: em(14.2);
        margin-right: 4.5%;
      }
      @include breakpoint($tablet) {
        margin-right: 3.15%;
        font-size: em(13.7);
      }
      .icon {
        float: left;
        margin-right: 7px;
        &.cardio {
          width: 25px;
          height: 21px;
          background-size: 77px 21px;
        }
        &.strength {
          width: 25px;
          height: 23px;
          background-size: 74px 23px;
        }
        &.restorative {
          width: 21px;
          height: 20px;
          background-size: 61px 20px;
        }
      }
      .type {
        position: relative;
        top: 2px;
        float: left;
        @include breakpoint($tablet) {
          top: 3px;
        }
      }
    }
  }

}