.modal-new {
	.button57 {
		border-radius: 50px;
		border: none;
		display: inline-block;
		position: relative;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		text-decoration: none !important;
		color: #5c636d;
		font-family: "Lato", "Helvetica Neue", arial, helvetica, sans-serif;
		text-align: center;
		transition: all .2s ease-in-out;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			border-radius: 50px;
			transition-timing-function: cubic-bezier(0.75,0,0.125,1);
			z-index: 1;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 4px;
			height: 4px;
			left: 50%;
			bottom: -2px;
			background-color: #6dcff6;
			border-radius: 100%;
			transform: translate(-50%,0);
		}
		&:hover {
			color: rgba(92, 99, 109, 0.6);
			&:before {
				opacity: 1;
			}
		}
		@include breakpoint(992px) {
			padding: 13px 30px 11px;
			font-size: 11px;
			line-height: 15px;
		}
		.btn-text {
			position: relative;
			z-index: 3;
		}
		.border {
			position: absolute;
			height: calc(50% + 1px);
			border-color: #5c636d !important;
			&.top {
				width: calc(50% + 1px);
				top: 0;
				border-top: 1px solid;
				&.left {
					left: 0;
					border-left: 1px solid;
					border-top-left-radius: 50px;
				}
				&.right {
					right: 0;
					border-right: 1px solid;
					border-top-right-radius: 50px;
				}
			}
			&.bottom {
				width: calc(50% - 7px);
				border-bottom: 1px solid;
				bottom: 0;
				&.left {
					left: 0;
					border-left: 1px solid;
					border-bottom-left-radius: 50px;
				}
				&.right {
					right: 0;
					border-right: 1px solid;
					border-bottom-right-radius: 50px;
				}
			}
		}
	}
}