.modal-video {
    color: #474c52;
    h1 {
        margin-bottom: 12px;
        padding: 0 50px;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.4px;
        @include breakpoint($desktop) {
            font-size: 33px;
        }
    }
    h3 {
        margin-bottom: 2px;
        font-size: 14px;
        color: #70c2e0;
        text-transform: uppercase;
    }
    &.modal {
        &#video {
            .lockout {
                max-width: 933px !important;
                .inner {
                    border: 0 !important;
                    height: 100%;
                    .player {
                        padding-bottom: 56.4% !important;
                    }
                }
            }
        }
    }
    .lockout {
        overflow: hidden;
        padding-top: 13px;
        background-color: #fff;
        @include breakpoint($desktop) {
            padding-top: 26px;
        }
        .close-btn {
            position: absolute;
            right: 28px;
            
            width: 19px !important;
            height: 19px !important;
            background-image: url(/themes/basic/images/modal-video/ico-close-blue.png) !important;
            background-size: 19px 19px !important;
            @include breakpoint($desktop) {
                top: 27px;
            }
        }
        .video {
            max-width: 100%;
            width: 100%;
            height: auto;
            margin: 0 !important;
            padding: 0 !important;
            background-color: black;
            @include breakpoint($desktop) {
                max-width: 568px;
            }
        }
        &.has-product {
            .overlay {
                .product-text {
                    display: block;
                }
            }
        }
        .overlay {
            position: absolute;
            z-index: 10;
            min-height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(#000,0.85);
            color: #fff;
            font-weight: 300;
            p {
                margin: 0;
                font-size: 14px;
                line-height: 16px;
                @include breakpoint($ipadPortrait) {
                    font-size: 19px;
                    line-height: 23px;
                }
            }
        }
        .social-text,
        .product-text {
            z-index: 5;
            position: absolute;
            .arrow {
                position: absolute;
                width: 61px;
                height: 43px;
                &.left {
                    background: url(../images/home-logged-in/arrow-left.png) no-repeat;
                }
                &.right {
                    background: url(../images/home-logged-in/arrow-right.png) no-repeat;
                }
            }
        }
        .social-text {
            top: 210px;
            left: 15px;
            right: 15px;
            text-align: left;
            @include breakpoint($ipadPortrait) {
                top: 228px;
                text-align: right;
                max-width: 385px;
                top: 228px;
                left: 132px;
                right: auto;
            }
            .arrow {
                left: 0;
                top: 100%;
                margin-left: 20px;
                margin-top: 20px;
                transform: rotate(90deg);
                @include breakpoint($ipadPortrait) {
                    left: 100%;
                    margin-top: 0;
                    margin-left: 14px;
                    transform: none;
                    top: auto;
                    bottom: 0;
                    left: 100%;
                }
            }
        }
        .product-text {
            display: none;
            bottom: 90px;
            left: 15px;
            right: 15px;
            text-align: center;
            @include breakpoint($ipadPortrait) {
                bottom: 152px;
                left: 50%;
                right: auto;
                transform: translateX(-50%);
                max-width: 280px;
            }
            .arrow {
                &.left {
                    bottom: 100%;
                    right: 50%;
                    transform: rotate(180deg);
                    margin-right: -30px;
                    margin-bottom: 20px;
                    @include breakpoint($ipadPortrait) {
                        bottom: 15px;
                        right: 100%;
                        margin-right: 25px;
                        transform: none;
                        margin-bottom: 0;
                    }
                }
                &.right {
                    display: none;
                    left: 100%;
                    margin-left: 20px;
                    bottom: -10px;
                    @include breakpoint($ipadPortrait) {
                        display: block;
                    }
                }
            }
        }
    }
    .definition-list {
        margin-top: 4px;
        padding-bottom: 4px;
        font-size: 15px;
        letter-spacing: -0.025em;

        dt, dd {
            display: inline;
            margin: 0;
        }

        dt {
            margin-right: 4px;
            color: #939faa;
        }

        dd + dt:before {
            content: '\A';
            white-space: pre;
        }

        dd + dd:before {
            content: ', ';
            margin-left: -0.25em;
        }
    }
    .modal-row {
        display: flex;
        &--video {
            flex-direction: column;
            margin-bottom: 20px;
            background-color: #f5f9fc;
            text-align: left;
            @include breakpoint($desktop) {
                flex-direction: row;
            }
            > div:not(.modal-video__description, .inner) {
                @include breakpoint($ipadPortrait) {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                }
                > img {
                    max-width: 100%;
                    height: auto;
                    @include breakpoint($ipadPortrait) {
                        max-width: 60%;
                    }
                }
                .modal-video__description {
                    @include breakpoint($ipadPortrait) {
                        min-width: 300px;
                    }
                }
            }
        }
    }
    .description-item {
        margin-bottom: 7px;
        padding-bottom: 7px;
        border-bottom: 1px solid #e6e8ea;
        &:last-child {
            border-bottom: 0;
        }
    }
    .description-list {
        li {
            display: inline-block;
            &:after {
                content: ',';
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
    }
    .socials {
        display: flex;
        margin: 11px 0 0 -4px;;
        li {
            margin-right: 8px;
        }
        .jssocials-shares {
            display: -webkit-flex;
            display: flex;
        }
        .jssocials-share {
            margin: 0 10px;
            font-size: 20px;
            a {
                color: #5c636d;
            }
        }
    }
    &__description {
        padding: 15px;
        @include breakpoint($desktop) {
            max-width: 330px;
            padding: 12px 7px 0 26px;
            font-size: 17px;
            line-height: 24px;
        }
    }
    .recom-title {
        display: inline-block;
        margin: 0 auto 19px;
        font-weight: 400;
        font-size: 18px;
        @include breakpoint(570px) {
            margin: 0 28px 19px;
        }
    }
    .recommended-items {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @include breakpoint(570px) {
            flex-direction: row;
            margin: 0;
        }
        li {
            position: relative;
            overflow: hidden;
        }
        a {
            position: relative;
            display: block;
            color: #2f3136;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40%;
                background: linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(204,204,204,0.7) 40%,rgba(187,187,187,1) 100%);
            }
            &:hover {
                color: #64b9db;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        &__description {
            position: absolute;
            bottom: 16px;
            left: 20px;
            min-height: 55px;
            font-size: 13px;
            line-height: 26px;
            text-align: left;
        }
        .title {
            display: block;
        }
        .price {
            display: inline-block;
            padding: 0 11px;
            font-size: 16px;
            color: #fff;
            border-radius: 13px;
            &--bg-pink {
                background-color: #b745b4;
            }
            &--bg-blue {
                background-color: #4d46b6;
            }
            &--bg-yellow {
                background-color: #b5b847;
            }
        }
    }
    .recom-link {
        flex: 1 100%;
        max-width: 311px;
        margin: 0 auto;
        padding: 18px 10px 22px;
        font-size: 19px;
        text-align: center;
        color: #fff;
        background-color: #6dcff6;
        transition: background-color 0.3s linear;
        @include breakpoint(570px) {
            max-width: 100%;
        }
        &:hover {
            background-color: #56caf8;
        }
    }
}