.mashups-header {
  margin: 0 7px 31px 3px;
}
#sample-mashups {
  padding: 20px 0 20px;
  text-align: center;
  @include breakpoint($tablet) {
    padding: 29px 0 16px;
  }
  .side-lines {
    h4 {
      @include breakpoint($tablet) {
        margin-bottom: 15px;
        position: 4.5%;
      }
      .btn {
        top: -2px;
        position: relative;
        display: none;
        @include breakpoint($tablet) {
          display: inline-block;
          font-size: em(12.5);
        }
      }
    }
  }
  ul {
    margin-bottom: 20px;
    @include breakpoint($tablet) {
      margin-bottom: 0px;
    }
  }
  .btn.mobile {
    margin-bottom: 0px;
    @include breakpoint($tablet) {
      display: none;
    }
  }
  .p57-mashup {
    &--title {
      width: 50px;
      text-align: center;
      text-transform: uppercase;
      background-image: none;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
      }
      &-live {
        &:before {;
          border-bottom: 49px solid transparent;
          border-left: 67px solid #1375d5;
        }
        span {
          top: 1px;
          left: -4px;
          font-weight: 700;
          font-size: 9px;
          line-height: 1.35;
        }
      }
      &-new {
        height: 50px;
        &:before {
          border-bottom: 60px solid transparent;
          border-left: 77px solid #555;
        }
        span {
          top: 8px;
          left: -1px;
          font-weight: 700px;
          font-size: 10px;
        }
      }
      span {
        position: relative;
        display: block;
      }
    }
  }
}