.modal-new {
	.slide {
		text-align: center;
		.img-wr {
			margin-bottom: 20px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&__content {
			max-width: 211px;
			margin: 0 auto;
		}
		&__description {
			font-size: 20px;
			text-transform: uppercase;
		}
	}
	.modal-carousel-wr {
		position: relative;
		max-width: 950px;
		margin: 0 auto;
		padding: 0 50px;
	}
	.btn-prev,
	.btn-next {
		position: absolute;
		top: 123px;
		font-size: 22px;
		color: #b2b2b2;
		&:hover {
			color: darken(#b2b2b2, 10%);
		}
		@include breakpoint($ipadPortrait) {
			font-size: 42px;
		}
		@include breakpoint($ipadLandscape) {
			top: 94px;
		}
	}
	.btn-prev {
		left: 0;
		@include breakpoint($ipadPortrait) {
			left: 0;
		}
	}
	.btn-next {
		right: 0;
		@include breakpoint($ipadPortrait) {
			right: 0;
		}
	}
}