.stream-player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .hidden {
    display: none !important;
  }
  .player-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    > .jwplayer {
      height: 100% !important;
    }
    .player-fullscreen-btn {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 23px;
      color: white;
      margin-top: -30px;
      span {
        cursor: pointer;
        background: rgba(128,128,128,0.7);
        padding: 17px 32px;
        border-radius: 51px;
      }
    }
  }
  .message-holder {
    background-color: black;
    .message-wrapper {
      color: white;
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
.hero-with-player {
  min-height: 200px;
  @include breakpoint($x-phone) {
    min-height: 250px;
  }
  @include breakpoint($phone) {
    min-height: 350px;
  }
}
