.stub-video {
  padding-top: 9px;
  font-size: 14px;
  text-align: center;
  line-height: 1.25;
  @include breakpoint($ipadPortrait) {
    font-size: 18px;
    padding-top: 16px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.video-thumb-container {
  min-height: 222px;
}
.workouts-section {
  margin-bottom: 26px;
  &__header {
    margin-bottom: 16px;
  }
  .select-wrap {
    &:after {
      display: none;
    }
  }
  .filter-wr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint(800px) {
      justify-content: flex-start;
    }
  }
}
#workouts {
  padding: 20px 0 25px;
  @include breakpoint($tablet) {
    padding: 48px 0 40px;
  }
  .workouts-header {
    margin-left: 0 0 39px 2px;
  }
  h5 {
    position: relative;
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: -4px;
    color: #6ecff6;
    &:after {
      content: '';
      position: absolute;
      bottom: -26px;
      left: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 1px;
      background-color: currentColor;
      box-shadow: 0px 5px currentColor, 6px 0 currentColor, -6px 0 currentColor;
    }
  }
  h4 {
    @include breakpoint($tablet) {
      padding-right: 3.2%;
    }
  }
  .ico-clock {
    position: relative;
    margin-bottom: 34px;
    padding-top: 35px;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 50%;
      width: 18px;
      height: 19px;
      transform: translateX(-50%);
      background: url("/themes/basic/images/home-logged-in/ico-clock.png") no-repeat 50% 50%;
    }
    &:after {
      bottom: -17px;
    }
    span {
      font-size: 25px;
    }
  }
  .see-more-regimens {
    display: inline-block;
    margin-right: 25px;
    padding: 0 !important;
    a {
      min-width: 100px !important;
      padding: 1em;
      font-size: 13px;
      @include breakpoint(800px) {
        min-width: 180px !important;
      }
    }
  }
  .side-lines {
    form {
      display: block;
      margin-top: 14px;
      @include breakpoint($tablet) {
        margin-top: 0;
      }
      @include breakpoint($tablet) {
        display: inline;
      }
    }
  }
  .add-to-mashup {
    display: none;
  }
}