.workouts-header {
  margin-bottom: 38px;
  padding: 0 6px 0 5px;
}
#workout-regimens {
  text-align: center;
  padding: 25px 0 9px;
  @include breakpoint($tablet) {
    padding: 34px 0 0px;
  }
  ul {
    @include clearfix;
    margin-bottom: 30px;
    @include breakpoint($tablet) {
      margin-bottom: 29px;
    }
    li {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      @include breakpoint($tablet) {
        width: 50%;
        float: left;
        &:hover {
          .hover-overlay {
            opacity: 1;
            @include transform(scale(1));
          }
          .text-overlay {
            .centered {
              opacity: 0;
              .ua-mobile & {
                opacity: 1;
              }
            }
          }
          .bg-image {
            @include transform(scale(1.06));
            .ua-mobile & {
              @include transform(scale(1));
            }
          }
        }
      }
      &:nth-child(1n+7) {
        display: none;
      }
      .bg-image {
        width: 100%;
        @include transition(all 0.6s);
      }
      .icon {
        position: absolute;
        right: 2.3%;
        bottom: 3.8%;
      }
      .text-overlay, .hover-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.05);
      }
      .hover-overlay {
        background-color: rgba(92, 99, 109, 0.9);
        display: none;
        @include breakpoint($tablet) {
          @include transform(scale(1.08));
          @include transition(all 0.6s);
          opacity: 0;
          display: block;

        }
        .ua-mobile & {
          @include transition(all 0s);
        }
      }
      .centered {
        display: table;
        width: 100%;
        height: 100%;
        padding: 6%;
        .inner {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
          h1 {
            @include font-lato-300;
            line-height: 1em;
            letter-spacing: 0.00em;
            font-size: 8vw;
            margin-bottom: 1vw;
            @include breakpoint($tablet) {
              font-size: 3.5vw;
            }
          }
          h5 {
            @include font-lato-300;
            font-size: 5vw;
            margin-bottom: 0.1em;
            margin-left: 1px;
            padding-bottom: 0.45em;
            border-bottom: 0.1em solid transparent;
            border-image: linear-gradient(90deg, currentColor 1.7em, transparent 0) 0 0 100%;
            letter-spacing: 0;
            @include breakpoint(650px) {
              margin-bottom: 0.9em;
            }
            @include breakpoint($tablet) {
              font-size: 1.67vw;
            }
          }
          p {
            text-transform: none;
            font-size: em(16);
          }
        }
        &--bottom-left {
          padding-left: 22px;
          padding-bottom: 7px;
          .inner {
            padding-right: 80px;
            vertical-align: bottom;
            text-align: left;
            h1 {
              line-height: 32px;
              letter-spacing: 0.09em;
              font-size: 22px;
              text-align: left;
              @include breakpoint(650px) {
                font-size: 31px;
              }
            }
            h5 {
              font-weight: 400;
              font-size: 12px;
            }
          }
        }
        &--top-left {
          padding-left: 28px;
          .inner {
            vertical-align: top;
            text-align: left;
            h1 {
              line-height: 32px;
              letter-spacing: 0.09em;
              font-size: 22px;
              text-align: left;
              @include breakpoint(650px) {
                font-size: 31px;
              }
            }
            h5 {
              font-weight: 400;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .columns-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
    li {
      width: 100%;
      margin-bottom: 8px;
      align-self: baseline;
      @include breakpoint(650px) {
        max-width: 33%;
        flex: 1 45%;
        margin-right: 8px;
      }
      @include breakpoint(1000px) {
        flex: 1 32%;
        margin-bottom: 23px;
      }
      &:nth-child(2n) {
        @include breakpoint(650px) {
          margin-right: 0;
        }
        @include breakpoint(1000px) {
          margin-right: 8px;
        }
      }
      &:nth-child(3n) {
        @include breakpoint(1000px) {
          margin-right: 0;
        }
      }
      &:nth-child(4n) {
        @include breakpoint(650px) {
          margin-right: 0;
        }
        @include breakpoint(1000px) {
          margin-right: 8px;
        }
      }
      &:last-child {
        @include breakpoint(650px) {
          margin-right: 0;
        }
      }
    }
  }
  #see-more-regimens {
    padding: 0 0 20px;
    display: inline-block;
    @include breakpoint($tablet) {
        padding: 0 0 30px;
    }
    a {
      min-width: 180px;
    }
  }
  .right-line-only {
    h4 {
      padding-right: 4.55%;
    }
  }
}