.modal {
	.congrats-modal {
		max-width: 1000px !important;
		text-align: center;
		.inner {
			background: #fff;
			border: none;
			margin-bottom: 110px;
			color: #59636e;
			padding: 48px 15px 45px;
			@include breakpoint($phone) {
				padding-left: 50px;
				padding-right: 50px;
			}
			@include breakpoint($large) {
				padding-left: 120px;
				padding-right: 120px;
			}
			.content {
				margin: 0;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0;
				@include breakpoint($phone) {
					font-size: 17px;
					line-height: 20px;
				}
			}
		}
		h2 {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 900;
			line-height: 1;
			color: #59636e;
			margin: 0 0 23px;
			letter-spacing: 2px;
			@include breakpoint($phone) {
				font-size: 40px;
			}
			span {
				display: block;
				color: #6ecff6;
			}
		}
		em {
			display: block;
			margin-bottom: 25px;
			font-family: 'Libre Baskerville', serif;
			font-style: italic;
			@include breakpoint($phone) {
				margin-bottom: 41px;
			}
		}
		p {
			max-width: 560px;
			font-size: 14px;
			line-height: 17px;
			margin: 0 auto 30px;
			@include breakpoint($phone) {
				font-size: 17px;
				line-height: 21px;
			}
		}
		.separate {
			width: 46px;
			margin: 0 auto 27px;
			height: 1px;
			background: #8dd7fa;
		}
		.subtitle {
			display: block;
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 27px;
			@include breakpoint($phone) {
				font-size: 19px;
				line-height: 20px;
			}
			strong {
				display: block;
				text-transform: uppercase;
				font-size: 20px;
				line-height: 24px;
				color: #6ecff6;
				font-weight: 500;
				@include breakpoint($phone) {
					font-size: 26px;
					line-height: 34px;
				}
			}
		}
		.side-lines {
			text-align: center;
			margin-bottom: 30px;
			@include breakpoint($phone) {
				margin-bottom: 58px;
			}
			h4 {
				display: inline-block;
				vertical-align: top;
				margin: 0;
				font-size: 14px;
				line-height: 22px;
				background: #fff;
				padding: 0 5px;
				letter-spacing: 5px;
				@include breakpoint($phone) {
					letter-spacing: 9px;
					padding: 0 20px;
				}
			}
		}
		.btn.blue {
			font-size: 13px;
			line-height: 19.5px;
			padding: 15px 30px;
			font-weight: 400;
		}
	}
}