.change-plan & {
  ul {
    margin-bottom: 30px;
    li {
      margin-bottom: 38px;
      &:last-of-type {
        margin-bottom: 0px;
      }
      .thumb {
        position: relative;
        display: inline-block;
        &.active {
          border: 4px solid $brightBlue;
        }
        img {
          width: 100%;
          max-width: 460px;
        }
        .text-overlay {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          @include scut-center-transform(y);
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          h3 {
            @include font-playfair-700;
            font-size: em(45);
            margin-bottom: 18px;
            @include breakpoint($tablet) {
              font-size: em(55);
              margin-bottom: 25px;
            }
            .dollar {
              position: relative;
              top: 6px;
              font-size: em(14);
            }
          }
          h5 {
            text-transform: uppercase;
            letter-spacing: 0.3em;
            @include font-lato-700;
            font-size: em(15);
            @include breakpoint($tablet) {
              font-size: em(16.5);
              letter-spacing: 0.4em;
            }
          }
          h6 {
            font-size: em(14);
            letter-spacing: 0.05em;
            @include breakpoint($tablet) {

            }
          }
        }
      }
    }
  }
  .buttons {
    .btn {
      clear: both;
      margin-bottom: 16px;
      //min-width: 170px;
    }
  }
}