&#mashup {
    .lockout {
        max-width: 1050px !important;
    }
}

.inner.mashup {
    h1 {
        margin-bottom: 20px;
        font-size: em(26);
        @include breakpoint($desktop) {
            font-size: em(40);
            margin-bottom: 25px;
        }
    }
    .bottom {
        padding: 25px 0 10px;
        @include font-libre-baskerville-400;
        text-align: left;
        @include breakpoint($tablet) {
            padding: 30px 20px 15px;
        }
        .slider {
            h5 {
                @include font-lato-700;
                letter-spacing: 0.5em;
                font-size: em(16);
                margin-bottom: 20px;
                margin-left: 5px;
            }
            .thumb-slider {
                display: none;
                margin: 0 0 30px;
                padding: 0;

                @include clearfix;
                li {
                    float: left;
                    margin: 0 4px;
                    cursor: pointer;
                    &.active {
                        outline: 3px solid $brightBlue;
                        outline-offset: -3px;
                    }
                    .thumb {
                        z-index: -1;
                        &:before {
                            @include retina-div('/themes/basic/images/global/play', 'png', round(65*0.75), round(67*0.75));
                            margin-left: -23px;
                            margin-top: -30px;
                        }
                        .title-icon {
                            left: 4%;
                            bottom: 3%;
                            right: 4%;
                            @include breakpoint($tablet) {
                                left: 3.6%;
                                bottom: 2%;
                                right: 3%;
                            }
                        }
                    }
                }
            }

        }
        .description {
            margin: 0 5px;
        }
    }

}