&#mashup-name {
  .inner {
    min-height: 300px;
    input {
      width: 100%;
      max-width: 300px;
    }
    input {
      margin-bottom: 15px;
    }
    .btn {
      min-width: 95px;
      margin-left: 5px;
    }
  }
}
