.modal-new {
    max-width: 1122px;
    margin: 0 auto;
    padding: 25px 15px;
    @include breakpoint($large) {
        padding: 100px 15px 0;
    }
    &__section {
        margin-bottom: 40px;
        @include breakpoint($large) {
            margin: 0 29px 83px 52px;
        }
        @include breakpoint($phone) {
            margin-bottom: 25px;
        }
    }
    .video {
        max-width: 691px;
        margin: 0 auto;
    }
    .flex {
        &--horizontal {
            display: flex;
            flex-direction: column;
            @include breakpoint($large) {
                flex-direction: row;
            }
        }
    }
    .player {
        margin-bottom: 10px;
        overflow: hidden;
        @include breakpoint($phone) {
            margin-bottom: 29px;
        }
    }
    .video-description {
        margin-bottom: 20px;
        padding-top: 4px;
        padding-right: 10px;
        @include breakpoint($large) {
            margin-bottom: 0;
        }
        h2 {
            margin-bottom: 13px;
            font-weight: 300;
            font-size: 25px;
            line-height: 1.2;
            letter-spacing: 4.5px;
            text-transform: uppercase;
            text-align: center;
            @include breakpoint($ipadPortrait) {
                font-size: 35px;
                margin-bottom: 26px;
                text-align: left;
            }
            span {
                font-weight: 500;
                color: #6ecff6;
            }
        }
        p {
            font-size: 16px;
            line-height: 1.85;
        }
    }
    .equipment-required {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include breakpoint($x-phone) {
            flex-direction: row;
            text-align: left;
        }
        h4 {
            position: relative;
            margin-left: 1px;
            padding-bottom: 0.45em;
            font-weight: 400;
            font-size: 15px;
            border-bottom: 0.1em solid transparent;
            color: #6ecff6;
            letter-spacing: 5px;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 16px;
                height: 1px;
                background-color: currentColor;
                box-shadow: 0px 5px currentColor, 6px 0 currentColor, -6px 0 currentColor;
                @include breakpoint($x-phone) {
                    bottom: -8px;
                    left: 6px;
                    transform: translateX(0);
                }
            }
            @include breakpoint($phone) {
                font-size: 17px;
            }
        }
    }
    .equipment-thumbs {
        display: flex;
        justify-content: space-around;
        flex: 1;
        margin-right: 13px;
        margin-left: 21px;
        font-size: 13px;
        li {
            text-transform: uppercase;
            letter-spacing: 2px;
            @include breakpoint($phone) {
                font-size: 15px;
            }
        }
    }
    .text-center {
        text-align: center;
    }
    .text-uppercase {
        text-transform: uppercase;
    }
    .line-around {
        position: relative;
        text-align: center;
        padding: 0 !important;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 21px;
        &:before {
            content: '';
            background: #5c636d;
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
        }
        &-wrap {
            max-width: 985px;
            margin: 0 auto 63px;
            float: none;
        }
        &-inner {
            padding: 0 15px 0 20px;
            max-width: 200px;
            font-size: 12px;
            line-height: 18px;
            margin: 0 auto;
            display: inline-block;
            background: #ffffff;
            text-align: center;
            position: relative;
            z-index: 1;
            letter-spacing: .25em;
            font-weight: bold;
            @include breakpoint($x-phone) {
                max-width: 280px;
                letter-spacing: .5em;
            }
             @include breakpoint($ipadPortrait) {
                max-width: none;
                letter-spacing: .75em;
                font-size: 14px;
                line-height: 18px;
             }
        }
        &-dots {
            &:before,
            &:after {
                content: '';
                position: absolute;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background: #5c636d;
                top: 50%;
                margin-top: -2px;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
    }
    .serif-heading {
        font-family: 'Playfair Display', 'Libre Baskerville', 'georgia', 'times new roman', times, serif;
        font-weight: bold;
    }
    .mb3 {
        margin-bottom: 36px !important;
    }
    .pt0 {
        padding-top: 0 !important;
    }
    .alpha {
        position: relative;
        font-size: 48px;
        line-height: 42px;
        &:before {
            content: '';
            position: absolute;
            bottom: -26px;
            left: 50%;
            transform: translateX(-50%);
            width: 16px;
            height: 1px;
            background-color: #6ecff6;
            box-shadow: 0px 5px #6ecff6, 6px 0 #6ecff6, -6px 0 #6ecff6;
        }
        @include breakpoint(1200) {
            font-size: 46px;
            line-height: 48px;
        }
    }
    .button57 {
        border-radius: 50px;
        border: none;
        display: inline-block;
        position: relative;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none !important;
        color: #5c636d;
        font-family: "Lato", "Helvetica Neue", arial, helvetica, sans-serif;
        text-align: center;
        padding: 13px 30px 11px;
        font-size: 11px;
        line-height: 15px;
        transition: all .2s ease-in-out;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            border-radius: 50px;
            transition-timing-function: cubic-bezier(0.75,0,0.125,1);
            z-index: 1;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 4px;
            left: 50%;
            bottom: -2px;
            background-color: #6dcff6;
            border-radius: 100%;
            transform: translate(-50%,0);
        }
        &:hover {
            color: rgba(92, 99, 109, 0.6);
            &:before {
                opacity: 1;
            }
        }
        .btn-text {
            position: relative;
            z-index: 3;
        }
        .border {
            position: absolute;
            height: calc(50% + 1px);
            border-color: #5c636d !important;
            &.top {
                width: calc(50% + 1px);
                top: 0;
                border-top: 1px solid;
                &.left {
                    left: 0;
                    border-left: 1px solid;
                    border-top-left-radius: 50px;
                }
                &.right {
                    right: 0;
                    border-right: 1px solid;
                    border-top-right-radius: 50px;
                }
            }
            &.bottom {
                width: calc(50% - 7px);
                border-bottom: 1px solid;
                bottom: 0;
                &.left {
                    left: 0;
                    border-left: 1px solid;
                    border-bottom-left-radius: 50px;
                }
                &.right {
                    right: 0;
                    border-right: 1px solid;
                    border-bottom-right-radius: 50px;
                }
            }
        }
    }
}