.modal {
  display: none;
  background-color: rgba(92, 99, 109, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
  padding: 25px 0 0;
  -webkit-overflow-scrolling: touch;
  @include breakpoint($tablet) {
    padding: 50px 0 0;
  }
  &.scroll {
    overflow-y: scroll;
  }
  .lockout {
    max-width: 840px !important;
    text-align: right;
    .close-btn {
      display: none;
      cursor: pointer;
      float: right;
      margin-bottom: 18px;
      @include retina-div('/themes/basic/images/global/close-btn', 'png', 40, 40);
      @include transition(transform 0.4s);
      @include breakpoint($tablet) {
        margin-bottom: 20px;
      }
      &:hover {
        @include transform(rotate(90deg));
      }
    }
    .inner {
      display: none;
      //opacity: 0;
      border: 1px solid #888e97;
      margin: 0 auto 180px;
      background-color: #626973;
      clear: both;
      color: #fff;
      padding: 30px;
      text-align: center;
      h1 {
        text-transform: uppercase;
        margin-bottom: 7%;
        letter-spacing: 0.025em;
        @include breakpoint($desktop) {
          font-size: em(47);
          line-height: 1.05em;
        }
      }
      h5.type {
        text-transform: uppercase;
        font-size: em(14.5);
        margin-bottom: 10px;
        letter-spacing: 0.07em;
      }
      .player {
        position: relative;
        width: 100%;
        height: 0;
        background-color: #000;
        padding-bottom: 56.25%;
        background-color: #000;
        iframe, object {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
      .description {
        p {
          font-size: em(13.5);
          line-height: 1.7em;
        }
      }
      .content {
        margin: 50px 0;
        font-size: 20px;
        &--modal {
          background-color: transparent;
        }
      }
      .equipment-required {
        display: none;
        margin-top: 25px;
        margin-bottom: 15px;
        @include clearfix;
        h4 {
          font-size: em(14);
        }
        .equipment-thumbs {
          &:after {
            position: absolute;
            top: 0;
            left: 0px;
            width: 6px;
            height: 100%;
            content: '';
            z-index: 2;
            background-color: $brightBlue;
          }
          li {
            //background-color: $brightBlue;
            float: left;
            width: 25%;
            position: relative;
            text-align: center;

            &:first-child {

            }
            &:before {
              position: absolute;
              top: 0;
              right: 0px;
              width: 6px;
              height: 100%;
              content: '';
              z-index: 2;
              background-color: $brightBlue;
            }
            &:hover {
              @include breakpoint($tablet) {
                .hover {
                  opacity: 1;
                  .ua-mobile & {
                    opacity: 0;
                  }
                }
              }
            }
            img {
              width: 100%;
              //border: 6px solid $brightBlue;
              border-top: 6px solid $brightBlue;
              border-bottom: 6px solid $brightBlue;
              //border-right: 6px solid $brightBlue;

              //margin: 6px 0px 6px 6px;
            }
            .hover {
              opacity: 0;
              @include transition(all 0.3s);
              position: absolute;
              width: calc(100% - 6px);
              height: calc(100% - 12px);
              top: 6px;
              left: 0px;
              background-color: rgba(0, 0, 0, 0.3);
              .buy-now {
                display: table;
                width: 100%;
                height: 100%;
                .btn-wrap {
                  display: table-cell;
                  vertical-align: middle;
                  .btn {
                    color: #fff;
                    @include font-lato-700;
                    border: 1px solid #fff;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
  @import "tutorial";
  @import "confirm-plan";
  @import "sign-in";
  @import "video";
  @import "mashup";
  @import "mashup-name";
  @import "confirm-mashup-delete";
  @import "start-program-form";
  @import "finish-program-modal";
  @import "program-modal";
}