.inner.pgrogram-modal {
	@include font-open-sans-400;
	h1 {
		@include font-open-sans-700;
		margin-bottom: 30px !important;
	}
	p {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 20px;
		@include breakpoint($ipadPortrait) {
			font-size: 16px;
			line-height: 20px;
		}
		b {
			display: block;
			font-weight: 700;
			font-size: 18px;
			line-height: 24px;
			@include breakpoint($ipadPortrait) {
				font-size: 20px;
			}
		}
	}
}