.sign-in  {
  .alert {
    max-width: 310px;
    margin: 0 auto 5px;
    text-align: left;
    color: #fff;
  }
  .inputs {
    max-width: 320px;
    margin: 0 auto;
    input {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .user-height{
      label{
        margin-bottom: 10px;
        display: inline-block;
      }
  }
  .select-group{
    overflow: hidden;
    .select-wrap{
       display: inline-block;
       width: 50%;
       float: left;
      select{
        // width: auto;
      }
    }
  }
  .blue-dot-btn {
    font-size: em(15);
    min-width: 180px;
    margin-bottom: 40px;
    a {
      letter-spacing: 0.1em;
      padding: em(22) em(28) em(23);
    }
  }
  .forgot {
    font-size: em(13);
    display: inline-block;
    margin-bottom: 7px;
    a {
      color: #fff;
      text-decoration: underline;
      @include transition(all 0.3s);
      &:hover {
        color: $brightBlue;
      }
    }
  }
  .new {
    color: #fff;
    font-size: em(13);
    margin-bottom: 8px;
    a {
      color: $brightBlue;
      margin-left: 12px;
      @include transition(all 0.3s);
      &:hover {
        color: #fff;
      }
    }
  }

}