.modal {
	.inner {
		.socials {
			padding-top: 40px;
		}
	}
	.jssocials-shares {
		font-size: 0;
		line-height: 0;
	}
	.jssocials-share {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px;
		font-size: 50px;
		line-height: 1;
		a {
			font-size: inherit;
			line-height: inherit;
			color: #fff;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}