.start-program-form{
    .select-wrap{
        display: block;
        margin-bottom: 40px;

        select{
            width: 100%;
        }
    }

    .blue-dot-btn{
        a{
            text-transform: uppercase;
        }
    }
}