.inner.tutorial {
  background-color: #626973;
  padding: 0px !important;

  .tutorial-header {
    padding: 25px 15px 15px 15px;
    background-color: #5c636d;
    @include breakpoint($tablet) {
      padding: 30px 30px 25px;
    }
    h1 {
      margin-bottom: 23px;
    }

    p {
      @include font-libre-baskerville-400;
      padding: 0 40px 10px 40px;
      font-size: em(15);
      line-height: 1.75;
    }
  }
  .steps {
    padding: 25px 20px 0 20px;
    li {
      &.step1 {
        //display: none;
        background: #626973 url('/themes/basic/images/tutorial/01-bg.png') center 5px no-repeat;
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          margin-bottom: 25px;
        }
        h4 {
          @include font-lato-700;
          padding-top: 50px;
          font-size: em(20);
          @include breakpoint($tablet) {
            padding-top: 50px;
          }
        }
        p {
          @include font-libre-baskerville-400italic;
          font-size: em(20);
          margin-bottom: 25px;
          @include breakpoint($tablet) {
            margin-bottom: 45px;
          }
        }
        img {
          max-width: 780px;
          width: 100%;
        }
      }
      &.step2 {
        display: none;
        background: #626973 url('/themes/basic/images/tutorial/02-bg.png') center 5px no-repeat;
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          margin-bottom: 25px;
        }
        h4 {
          @include font-lato-700;
          padding-top: 37px;
          margin-bottom: 25px;
          font-size: em(20);
          @include breakpoint($tablet) {
            padding-top: 50px;
            margin-bottom: 5px;
          }
        }
        p {
          @include font-libre-baskerville-400italic;
          font-size: em(20);
          margin-bottom: 25px;
          @include breakpoint($tablet) {
            margin-bottom: 45px;
          }
        }
        img {
          max-width: 417px;
          width: 100%;
        }
      }
      &.step3 {
        display: none;
        background: #626973 url('/themes/basic/images/tutorial/03-bg.png') center 5px no-repeat;
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          margin-bottom: 25px;
        }
        h4 {
          @include font-lato-700;
          padding-top: 37px;
          margin-bottom: 25px;
          font-size: em(20);
          @include breakpoint($tablet) {
            padding-top: 50px;
            margin-bottom: 5px;
          }
        }
        p {
          @include font-libre-baskerville-400italic;
          font-size: em(20);
          margin-bottom: 25px;
          @include breakpoint($tablet) {
            margin-bottom: 45px;
          }
        }
        img {
          max-width: 675px;
          width: 100%;
        }
      }
    }
  }
  .nav {
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #fff;
      border-radius: 100px;
      cursor: pointer;
      margin: 0px 7px 15px 7px;
      @include breakpoint($tablet) {
        margin: 0px 7px 20px 7px;
      }
      &.active {
        background-color: #fff;
      }
    }
  }
  .buttons {
    .btn {
      margin-bottom: 15px;
      min-width: 110px;
      .finish-text {
        display: none;
      }
    }
    .skip-for-now {
      @include font-lato-400;
      text-decoration: underline;
      font-size: em(12);
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}