&#video {
  .lockout {
    max-width: 950px !important;
  }
}
.inner.video {
  h1 {
    margin-bottom: 20px;
    font-size: em(26);
    @include breakpoint($desktop) {
      font-size: em(40);
      margin-bottom: 25px;
    }
  }
  .bottom {
    padding: 25px 0 10px;
    @include font-libre-baskerville-400;
    text-align: left;
    @include breakpoint($tablet) {
      padding: 30px 20px 15px;
    }
    .description {
      //margin-bottom: 30px;
    }
  }
  

}