.ui-datepicker {
	width: 210px;
	margin-top: -1px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	/*border-top-width: 0;*/
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	display: none;
} 

.ui-datepicker .ui-datepicker-title {
	font-weight: bold;
	text-align: center;
}
.ui-datepicker table.ui-datepicker-calendar {
	width: 100%;
}
.ui-datepicker table.ui-datepicker-calendar thead th {
	font-size: 11px;
}
.ui-datepicker table.ui-datepicker-calendar tbody td {
	/*border: 1px solid #ddd;*/
	padding: 0;
	text-align: right;
	font-size: 12px;
}
.ui-datepicker table.ui-datepicker-calendar tbody td a {
	color: #999;
	text-decoration: none;
	display: block;
	padding: 0px 4px 0;
	border-radius: 3px;
	margin: 0 0 1px 1px;
}
.ui-datepicker table.ui-datepicker-calendar tbody td.ui-datepicker-today a {
	font-weight: bold;
}
.ui-datepicker table.ui-datepicker-calendar tbody td.ui-datepicker-other-month {
	border: 0 none;
}
.ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-active,
.ui-datepicker table.ui-datepicker-calendar tbody td a:hover {
	background-color: #F79825;
	color: #fff;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	display: inline-block;
	/*width: 14px;*/
	height: 14px;
	margin-top: 2px;
	line-height: 14px;
	vertical-align: text-top;
	/*background-repeat: no-repeat;*/
	/*text-indent: -9999px;*/
	cursor: pointer;
	opacity: .8;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;	
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
	opacity: 1;
}