a {
/* 	color: #0069D6; */
}

/******************************
 * Colors
 *****************************/
.color.red { color: #cc0000; }
.color.orange { color: #fe3f11; }
.color.yellow { color: #ffb300; }
.color.green { color: #80ae17; }
.color.blue { color: #2798c9; }
.color.purple { color: #632e84; }
.color.mine span {
	color: #cc0000;
/* 	border-color: #cc0000; */
	border-color: rgb(224, 67, 17);
/* 	background-color: rgb(255, 199, 0); */
}
.color.mine .media-grid a {
/* 	background-color: rgb(255, 199, 0); */
	background-color: #F5E4E4;
}
.mine.legend {
	font-size: 11px;
	color: #999;
}
.mine.legend span {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}

#sidebar ul.pills {
	text-align: left;
}
#sidebar ul.pills li {
	float: none;
}

h3 { margin-bottom: 8px; }
h4 { margin-bottom: 6px; }

/******************************
 * Bootstrap overrides
 *****************************/
.nav-list .nav-header {
	padding-left: 3px;
	padding-right: 3px;
	color: #444;
	text-transform: inherit;
	font-size: 13px;
}
.nav-list li > a {
	color: #999;
}
.nav-list li > a:HOVER {
	background-color: transparent;
	color: #2d88d7;
}
.nav-list .active > a,
.nav-list .active > a:HOVER {
	/*background-color: #C4E2E2;*/
	background-color: transparent;
	/*color: #555;*/
	/*color: #67A278;*/
	color: #2d88d7;
	text-shadow: none;
	font-weight: bold;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.nav-list [class^="icon-"] {
	/*margin-top: 1px;*/
}
.navbar ul.nav {
	margin: 0;
}
.navbar {
	margin-bottom: 8px;
 	position: relative; 
 	z-index: 100;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.navbar .container {
	width: 100%;
}
.navbar .navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar .nav > li > a {
	font-size: 12px;
	font-weight: bold;
}
.navbar .dropdown-menu {
	min-width: 0;
}
.navbar .nav .active .caret.caret-account {
	opacity: 0.3;
}
.navbar .nav .active a:HOVER .caret.caret-account {
	opacity: 1;
}
.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
	/*background-color: transparent;
	text-decoration: underline;*/
	color: #333;
	background: none transparent;
	font-weight: bold;
}
.navbar .nav .active > a {
	background-color: transparent;
}
.navbar .nav .dropdown-menu .active > a {
	color: #333;
	font-weight: bold;
}
.navbar .nav .active > a:hover {
	background-color: transparent;
}
.navbar .nav .dropdown-menu .active > a:HOVER {
	text-decoration: underline;
	color: #333;
}
.navbar .nav .active > a > i.icon-white {
	opacity: .8;
}
.navbar .caret.caret-account {
	border-width: 5px 5px 0;
	margin: 8px 5px 0 0;
}
.navbar i.icon-white {
	opacity: .5;
}
.navbar li:hover a > i.icon-white {
	opacity: 1;
}
.navbar .dropdown-menu a {
	padding: 2px 10px;
	line-height: 18px;
	font-size: 12px;
}
div.options {
	padding-top: 6px;
	float: left;
/* 	margin-left: 15px; */
}
div.options.no-label {
	padding-top: 0;
	float: none;
}
div.options.no-label {
/* 	margin-left: 145px; */
}
div.form-stacked div.options label {
	display: inline;
	font-weight: normal;
}
div.form div.options input {
	margin-top: 0;
}
div.form div.options label {
	float: none;
	display: inline;
}
div.row.no-label {
	margin-left: 110px;
}
div.form input.no-label {
	margin-left: 0;
}
/*form label,
.form-horizontal label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}*/

.header-tabs-container {
	/*padding: 5px 5px 0;*/
	/*margin: -20px -20px 20px;*/
	/*padding: 20px 10px 0*/
	/*-webkit-box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.2);*/
}
.header-tabs {
	margin: 0 -20px 20px;
	padding: 20px 20px 0;
	/*background-color: #FAFAFA;*/

	/*border-bottom: 2px solid #ddd;*/
}
.header-tabs.nav-tabs > li > a {
	color: #555;
}
.header-tabs.nav-tabs > .active > a {
	font-weight: bold;
	color: #444;
}
.nav li.hidden {
	display: none;
}

/*
.tabs {
	float: right;
	width: auto;
	border-bottom-width: 0;
}
*/
.btn.active {
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
}
.span-two-thirds .span-one-third {
	width: 175px;
	padding: 8px;
}
div.container {
/* 	width: 1000px; */
}
.topbar div ul.tabs {
	margin-right: 0;
}
.tabs > li {
	top: 0;
}
div ul.tabs a {
	border: 0 none;
}
div ul.tabs a:HOVER {
	border: 0 none;
/* 	background-color: transparent; */
}
#sidebar select {
	max-width: 100%;
}

/******************************
 * Yii overrides
 *****************************/
.table-condensed th,
.table-condensed td {
	padding: 5px 5px 2px;
}
/*
table.detail-view tr.odd,
table.detail-view tr.even {
	background-color: transparent;
}
table td.buttons {
	text-align: right;
}
table td a.smaller {
	padding: 2px 6px 2px;
	font-size: 10px;
}
*/

/******************************
 * Page styles
 *****************************/

html, body {
	background-color: #fff;
	background-color: #fafafa;
	/*font: 12px/1.5em "Lucida Grande";*/
	/*background: url(../images/wave.png) repeat 0 0 #e8e8e8;*/
	/*background: #fff;*/
}
.loading {
	background: url(../images/loading.gif) no-repeat 50% 10px transparent;
	min-height: 40px;
}
.loading.middle {
	background-position: 50% 50%;
}
.loading.overlay {
	position: absolute;
/* 	width: 261px; */
	background-color: rgba(255, 255, 255, .7);
	z-index: 1000;
}
.loading.fade {
	opacity: .5;
}
span.label {
	font-weight: bold;
}
#sidebar .divider {
	border-bottom: 1px solid #DDD;
	margin: 1em -20px;	
}
section#content .content .divider {
	border-bottom: 1px solid #E8E8E8;
	margin: 2em -20px;
}
.breadcrumb {
	border: 0 none;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	color: #999;
	padding: 0;
	margin: 0 0 8px;
	min-height: 0;
}
.breadcrumb a {
	color: #333;
}
.breadcrumb .separator {
	border-bottom: 0 none;
	margin: 0 4px;
}
span.status {
	background: url(../images/status.png) no-repeat 0 0 transparent;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	margin-right: 3px;
}
span.status.unpublished { background-position: 0 0; }
span.status.published { background-position: 0 -16px; }
span.status.transcribing { background-position: 0 -32px; }
span.status.reviewing { background-position: 0 -48px; }
span.status.approved { background-position: 0 -48px; }

a.remove {
	text-indent: -9999px;
	overflow: hidden;
	height: 16px;
	width: 16px;
	background: url(../images/x.png) no-repeat 0 0 transparent;
}
a.remove:HOVER {
	background-position: 0 -17px;
}

.page-header {
	position: relative;
	padding-bottom: 0;
	margin-top: 0;
}
.page-header h1 {
	margin-bottom: 8px;
}
.page-header .btn-group {
	position:absolute; 
	top:0; 
	right:0;
}

.yrow {
	margin: 1em 0;
}
.yrow .options label {
	display: inline;
	float: none;
}
div.yrow a.remove {
	float: right;
/* 	display: none; */
}
/*
div.yrow:HOVER a.remove {
	display: block;
}
*/
div.active-popover {
	background-color: #FFFAE2;
}
div.popover .inner {
	width: 430px;
}
div.popover h3 {
	margin-bottom: 0;
}
#sidebar h3 small {
	float: right;
}
#sidebar h3 small a {
	color: #bfbfbf;
	text-transform: uppercase;
	font-size: 10px;
}
table.track-counts {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #CCC;
	background-color: #f8f8f8;
	padding-top: 3px;
	padding-bottom: 1px;
}
table thead tr td {
	border-bottom: 1px solid #CCC;
	color: #AAA;
/*
	padding-bottom: 4px;
	margin-bottom: 4px;
*/
}
table tbody tr td {
	border: 0 none;
}
table tr td {
	padding: 4px 8px;
}
/*
table.track-counts tr td {
	border: 0 none;
	padding: 0 8px;
}
table.track-counts tr td a {
	font-style: italic;
}
*/
div.square-centre {
	margin: 2em auto;
	width: 240px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #CCC;
	background-color: #f8f8f8;

	text-align: center;
	padding: 20px 0 0 20px;
}
.multi-row {
	margin-bottom: 9px;
}

.alert-message {
	font-size: 12px;
	line-height: 16px;
}
.alert-message.form-message {
	border: 0 none;
	background: none;
	padding: 0;
}
.alert-message ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/******************************
 * Toolbar
 *****************************/

.toolbar .breadcrumb-nav {
  font-size: 14px;
  font-weight: bold;  
} 
.toolbar .nav {
	margin-top: 8px;
	margin-bottom: 0;
}
.toolbar .nav {
	font-weight: bold;
}
.toolbar .nav a {
	color: #333;
}
.toolbar .nav .dropdown.open a {
/* 	color: #fff; */
}
.toolbar .nav .dropdown-menu {
	font-weight: normal;
}
.toolbar .nav .dropdown-menu a {
	color: #555;
}
.toolbar .nav .dropdown-menu a:HOVER {
	color: #fff;
}

.toolbar {
	display: none;
	background-color: #f8f8f8;
	border-bottom: 1px solid #DDD;
	padding: 0;
	height: 50px;
	line-height: 50px;
	z-index: 100;
	position: relative;

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.toolbar .tabs {
	margin-top: 6px;
}
.toolbar ul.tabs > li > a {
	color: #2e2e2e;
	font-weight: bold;
	font-size: 14px;
}
footer, footer p {
	font-size: 10px;
	color: #BBB;
}

.nav-reports {

}

/******************************
 * Form Styles
 *****************************/
form .row {
	margin-bottom: 8px;
}
form.form-horizontal .row {
	margin-bottom: 18px;
}
form label {
	/*margin-right: 20px;*/
	font-size: 12px;
	font-weight: bold;
}
.form-stacked label {
	/*margin-right: 0;*/
}

form input.pad-left {
	margin-left: 145px;
}
div.form .inline-select select {
	max-width: 210px;
	width: auto;
}
.form .errorMessage {
	color: #BD2F37;
	margin-left: 160px;
	font-size: 11px;
	margin-top: 4px;
}
.form-horizontal .errorMessage {
	margin-left: 0;
}
.form.form-stacked .errorMessage {
	margin-left: 0;
}
div.form .no-input-text {
	padding-top: 6px;
	color: #999;
}
div.form-actions {
	background-color: transparent;
}
.form-horizontal div.form-actions {
	/*padding-left: 180px;*/
}

/******************************
 * Content Area
 *****************************/

section#content div.container {
	/*border: 2px solid #d4d4d4;
	border-top-width: 0;*/

/*	background-color: white;
	padding: 0 20px;
	margin-bottom: 20px;

	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
*/
/*	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
}
section#content {
	/*padding-top: 20px;*/
}
section#content .content {
	background-color: white;
	padding: 0 20px;
	margin-bottom: 20px;

	/*border: 1px solid #ccc;*/
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border-radius: 5px;


	/*padding: 20px 0 40px;*/
	padding: 20px 20px 20px;
/* 	padding: 1em 0 1em 20px; */
}


/*.login-box {
	border: 1px solid #ddd;
	box-shadow: 0 0 2px #999;
	margin-top: 2em;
	margin-bottom: 2em;
}*/



/******************************
 * Sidebar Styling
 *****************************/

#sidebar .portlet-title {
	font-size: 1.2em;
	font-weight: bold;
	line-height: normal;
	padding-bottom: .5em;
	margin-bottom: .5em;
}
#sidebar {
	/*padding-right: 20px;
	margin-right: -20px;*/
	/*background-color: #f8f8f8;
	border-left: 1px solid #ddd;*/
	
}
#sidebar .sidebar-inner {
	padding: 20px;

}
div.span-one-third #sidebar input[type=text] {
	width: 249px;
}
div.span4 #sidebar input[type=text] {
	width: 269px;
}
section#content .container {
	position: relative;
}

#sidebar form input[type="text"] {
	width: 100%;
}
#sidebar .input-padding {
	padding-right: 10px;
}

#sidebar {
/*
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
*/
/* 	width: 199px; */
	/*border: 1px solid #ccc;*/
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #fff;
}
#sidebar.sidebar-right {
	/*background-color: #fff;
	background-color: #fafafa;*/
	/*margin-left: 0;
	border-right: 1px solid #ddd;
	border-left: 0 none;*/

	background-color: white;
	/*padding: 0 20px;*/
	margin-bottom: 20px;
	
	position: relative;
	/*left: -20px;*/
	
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.nav-jump > li > a,
#sidebar.sidebar-right .nav-pills.nav-stacked > li > a {
	margin-bottom: 1px;
	background-color: white;
	border: 1px solid #E8E8E8;
	padding-top: 6px;
	padding-bottom: 5px;
	color: #777;
	font-size: 12px;
}
.nav-jump .dropdown-toggle .caret,
#sidebar.sidebar-right .nav-pills.nav-stacked .dropdown-toggle .caret {
	border-top-color: #777;
}
.nav-jump > li:HOVER > a,
.nav-jump > li.open > a,
#sidebar.sidebar-right .nav-pills.nav-stacked > li:HOVER > a,
#sidebar.sidebar-right .nav-pills.nav-stacked > li.open > a {
	border-color: #ddd;
	color: #555;
}
.nav-jump > li:HOVER > .caret,
#sidebar.sidebar-right .nav-pills.nav-stacked > li:HOVER > .caret {
	border-top-color: #fff;
}
.nav-jump .dropdown-menu {
	width: 100%;
}
#sidebar.sidebar-right .dropdown-menu {
	min-width: 99%;
}

/******************************
 * Autocomplete Rows
 *****************************/
div.autocomplete {
	margin-top: 1px;

	position: absolute;
	left: 0;
	right: 0;
	width: auto;
	background-color: rgba(255,255,255,.9);
	border: 1px solid #BBB;

	-webkit-box-shadow: 0 0 8px rgba(150,150,150, 0.6);
	-moz-box-shadow: 0 0 8px rgba(150,150,150, 0.6);
	box-shadow: 0 0 8px rgba(150,150,150, 0.6);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 0px;

	display: none;
}
div.empty,
div.results-row {
	padding: 8px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
}
div.results-row + div.results-row {
	border-top: 1px solid #F1F1F1;
}
div.results-row:HOVER {
	cursor: pointer;
/* 	background-color: #f8f8f8; */
	background-color: rgb(243,243,243);
	color: #000;
}
div.results-row.selected {
/* 	background-color: rgb(227, 233, 255); */
/* 	background-color: rgb(255, 242, 165); */
	background-color: #FFFAE2;
}
div.autocomplete .buttons {
/*
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;

	background-color: rgba(243,243,243,.8);
	border-top: 1px solid #ddd;
	padding: 12px 8px 10px;
*/
	text-align: right;
	padding: 5px;
}
.text-right {
	text-align: right;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
h1 {
	font-size: 28px;
	margin-bottom: 18px;
}
h5 {
	color: #999;
	font-weight: normal;
}

h1 small.right,
h2 small.right,
h3 small.right,
h4 small.right,
h5 small.right,
h6 small.right {
	float: right;
}
.btn.x-small {
	padding: 2px 6px 3px;
	font-size: 10px;
	font-weight: bold;
}
.light {
	color: #999;
}
.smaller {
	font-size: smaller;
}
table td ul {
	margin-bottom: 0;
}
table.table-condensed {
	font-size: 12px;
}
.table tbody td {
	/*color: #888;*/
}
.table a {
	color: #212121;
	font-weight: bold;
}
table td.details i {
	opacity: 0;
}
table tr:hover td.details i {
	opacity: .3;
}
table tr td.details:hover i {
	opacity: 1;
}
table.table-bordered-outer {
	border: 1px solid #DDD;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/******************************
 * Autocomplete form
 *****************************/
div.form.active {
	position: relative;
	/*position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
	
	border: 1px solid #BBB;
	background-color: #fff;
	margin: -4px -3px 0;
	padding: 3px;*/
	/*width: 198px;*/

	/*position: absolute;*/
	z-index: 500;
}
div.form.attachtomedia input[type="text"],
div.form.addtrack input[type="text"],
div.form.addvideo input[type="text"] {
	margin-bottom: 0;
}
#sidebar div.form {
	margin-bottom: 0;
}

.block-title {
	position: relative;
	z-index: 100;
}

input[type="file"] {
	line-height: normal;
	font-size: 12px;
	margin: 4px 0;
}

/******************************
 * Lists Styles
 *****************************/

div.list-view .items {
/* 	border: 1px solid rgb(47, 98, 206); */
}
div.list {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	
	border: 1px solid #CCC;
	background-color: #fff;
/*
	padding-top: 3px;
	padding-bottom: 1px;
*/
}
div.list.bottom-input {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-width: 0;
}
input.top-list {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
/* 	border-top-width: 0; */
}
div.list-view .items div.yrow,
div.list div.yrow {
	margin: 0;
	padding: 4px 6px;
	color: #555;
}
div.list .title {
	font-weight: bold;
	font-size: 11px;
}
.note,
div.list .description {
	font-size: 11px;
	color: #999;
}
div.list div.yrow.smaller {
	font-size: 12px;
}
div.list div.yrow a {
	color: #999;
}
div.list div.yrow.heading {
	font-weight: bold;
}
/* div.list-view .items div.yrow + div.yrow, */
div.list div.yrow + div.yrow {
	border-top: 1px solid #f1f1f1;
}
div.list div.yrow:HOVER {
	background-color: #FFFAE2;
}
div.list .summary, 
div.list-view .summary {
/*
	border: 1px solid rgb(47, 98, 206);
	background-color: rgb(47, 98, 206);
	margin: 0;
	color: #f8f8f8;
*/
/* 	padding: 2px 4px; */
	font-size: 11px;
	color: #999;
}
/*
div.list-view .pager {
	padding: 2px 4px;
	color: #999;
	font-size: 10px;
	text-transform: uppercase;
}
*/
.pagination {
	text-align: center;
}
.pagination a {
	padding: 0 10px;
	line-height: 24px;
	font-size: 11px;
	color: #444;
}
.pagination .hidden a {
	display: none;
}
.pagination li.hidden + li a {
	border-left-width: 1px;
	
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
div.list .actions {
	margin-top: 0;
	border-top-width: 0;
}
div.list form {
	margin-bottom: 0;
}
div.list .form {
	margin-bottom: 0;
	background-color: whiteSmoke;
	border-bottom: 1px solid #ddd;
	padding: 4px;
}
div.list .form .clearfix {
	margin-bottom: 0;
}
div.list textarea {
	width: 480px;
	resize: none;
	margin-bottom: 0;
/*
	border-width: 0 0 1px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
*/

/*
	-webkit-box-shadow: inset 0 0 0 transparent;
	-moz-box-shadow: inset 0 0 0 transparent;
	box-shadow: inset 0 0 0 transparent;
*/
}



/******************************
 * Artwork / Images
 *****************************/
div.color.mine .media-grid a {
	border-color: rgb(238, 169, 0);
	border-color: rgb(224, 67, 17);
}
div.color.mine .media-grid a:HOVER {
	border-color: #0069D6;
}
div.list-view .items div.row {
	margin-bottom: 2em;
	text-align: center;
}
div.list-view .items div.row a {
	color: #2e2e2e;
	font-size: .9em;
	font-weight: bold;
}
div.list-view .items div.row .media-grid {
	margin-left: 0;
}
div.artwork {
}
div.artwork a {
	margin: 0 auto .5em;
	float: none;
	display: block;
	width: 100px;
}
div.artwork img {
}


.media-counts {
	font-size: 11px;
	color: #999;
}

.form .row p.hint {
	margin-left: 146px;
	font-size: 11px;
	color: #999;
}
.form.stacked .row p.hint {
	margin-left: 0;
}

.info-box {
	border-radius: 5px;
	background-color: #e8e8e8;
	padding: 8px 7px;
	text-align: center;
	line-height: 14px;
	margin-bottom: 5px;
}
.info-box .title {
	font-size: 14px;
	font-weight: bold;
}
.info-box .description {
	font-size: 10px;
	color: #999;
	text-transform: uppercase;
}
.info-box div + div {
	margin-top: 4px;
}

.grid-view .summary {
	font-size: 10px;
	color: #999;
}
.grid-view {
	padding-top: 0;
}

/*table.table {
	border: 1px solid #ccc;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0px 5px rgba(0,0,0,0.1);
}
table.table thead th {
	background-color: #f8f8f8;
	padding: 7px 5px 6px;
	font-size: 13px;
}
table.table tbody td {
	padding: 6px 5px 3px;
}
*/
