@import "billing-details";
@import "change-email";
@import "email-preferences";
@import "change-password";
@import "change-plan";
@import "renew-plan";
@import "cancel-account";
@import "manage-profile";
@import "viewing-activity";
@import "update-payment-info";
@import "forgot-password";
@import "contact-us";


body.account {
  section {
    padding: 40px 0;
    @include breakpoint($tablet) {
      padding: 55px 0 40px;
    }
  }
  .content {
    background-color: $lightGray;
    padding: 34px 0 37px;
    @include breakpoint($tablet) {
      padding: 46px 0 52px;
    }
  }
  hr {
    &.short {
      width: 51%;
      display: inline-block;
      @include breakpoint($tablet) {
        width: 62%;
      }
    }
    &.right {
      float: right;
    }
  }
  .btn {
    min-width: 100px;
    margin-right: 8px;
    &:last-child {
      margin-right: 0 !important;
    }
  }
  .account-group {
    margin-bottom: 50px;
    @include clearfix;
    &:last-of-type {
      margin-bottom: 40px;
    }
    p {
      margin-top: -15px;
      margin-bottom: 35px;
    }
    .row {
      margin-bottom: 15px;
      @include font-lato-700;
      @include breakpoint($tablet) {
        display: table;
        width: 100%;
        margin-bottom: 16px;
      }
      li {
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          margin-bottom: 11px;
        }
      }
      .left {
        position: relative;
        margin-bottom: 20px;
        @include breakpoint($tablet) {
          display: table-cell;
          vertical-align: top;
          width: 38%;
          margin-bottom: 0;
        }
        &.redeem {
          width: 70%;
          float: left;
          @include breakpoint($tablet) {
            width: 38%;
            float: none;
          }
        }
        input {
          width: 95%;
          @include breakpoint($tablet) {
            width: 90%;
          }
        }
      }
      .center {
        width: 50%;
        float: left;
        @include breakpoint($tablet) {
          display: table-cell;
          vertical-align: top;
          width: 31%;
          float: none;
        }
        &.redeem {
          width: 30%;
        }
        li {
          font-size: em(13.5);
          position: relative;
          @include breakpoint(330px) {
            font-size: em(15.5);
          }
          @include breakpoint($tablet) {
            font-size: em(15.5);
          }
        }
        .redeem-btn {
          font-size: em(16);
          width: 100%;
          margin-top: 3px;
          background-color: transparent;
          @include transition(all 0.3s);
          &:hover {
            background-color: rgba(92, 99, 109, 0.08);
            color: $linkBlue;
          }
          @include breakpoint($tablet) {
            display: block;
            width: 160px;
            margin-top: 0;
          }
        }
        .tooltip {
          left: auto;
          right: 5%;
          @include breakpoint(500px) {
            right: 20%;
          }
          @include breakpoint($tablet) {
            left: 30px;
            right: auto;
          }
          &:before {
            content: '';
            position: absolute;
            @include scut-triangle(down, 39px 20px, $dullBlue);
            left: 170px;
            bottom: -19px;
            @include breakpoint($tablet) {
              left: 33px;
            }
          }
        }
        .user-pic {
          .inner {
            display: table;
            margin-top: -10px;
            @include breakpoint($tablet) {
              margin-top: -15px;
            }
            a {
              color: $dullBlue;
            }
            .pic {
              border-radius: 200px;
              border: 2px solid $brightBlue;
              display: table-cell;
              overflow: hidden;
              position: relative;
              vertical-align: top;
              width: 48px;
              height: 48px;
            }
            .user {
              display: table-cell;
              vertical-align: middle;
              padding-left: 10px;
              @include breakpoint($tablet) {
                padding-left: 13px;
              }
            }
          }
        }
        .cc-icon {
          max-width: 44px;
          max-height: 44px;
          margin-right: 8px;
          @include breakpoint($tablet) {
            max-width: 64px;
            max-height: 64px;
            margin-right: 10px;
          }
        }
        .cc-num-mobile {
          @include breakpoint($tablet) {
            display: none;
          }
        }
        .cc-num {
          display: none;
          @include breakpoint($tablet) {
            display: inline;
          }
        }
      }
      .right {
        width: 50%;
        text-align: right;
        text-transform: uppercase;
        float: left;
        @include breakpoint($tablet) {
          display: table-cell;
          vertical-align: top;
          width: 31%;
          float: none;
        }
        &.redeem {
          width: 100%;
        }
        .where-to {
          display: none;
          @include breakpoint($tablet) {
            display: inline-block;
            text-decoration: underline;
          }
        }
        li {
          font-size: em(13.5);
          @include breakpoint(330px) {
            font-size: em(14.5);
          }
          @include breakpoint($tablet) {
            font-size: em(14.5);
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

}
