body.billing-details {

  #details-wrap {
    margin-bottom: 40px;
    @include breakpoint($tablet) {
      margin-bottom: 60px;
    }
    ul {
      @include clearfix;
      li {
        @include clearfix;
        &:first-child {
          & > div {
            margin-bottom: 7px;
            @include font-lato-400;
          }
        }
        & > div {
          font-size: em(14);
          float: left;
          margin-bottom: 17px;
          line-height: 1.5em;
          @include font-lato-700;
          white-space: nowrap;
        }

        .monthly {
          width: 13%;
          min-width: 86px;
        }
        .date {
          width: 16%;
          min-width: 126px;
        }
        .cost {
          width: 18%;
          .mobile {
            @include breakpoint($tablet) {
              display: none;
            }
          }
          .desktop {
            display: none;
            @include breakpoint($tablet) {
              display: inline;
            }
          }
        }
        .fine-print {
          margin-right: 0;
          @include font-lato-400;
          white-space: normal;
          font-size: em(15);
        }
      }
    }

  }

  #history-wrap {
    margin-bottom: 30px;
    $billingDetailsBreak: 768px;
    @include with-layout(23 0) {
      ul {
        @include container;
        li {
          @include clearfix;
          font-size: em(14);
          margin-bottom: 19px;
          @include breakpoint($tablet) {
            font-size: em(13.5);
            margin-bottom: 17px;
          }
          &:nth-child(odd) {
            border-bottom: 1px solid darken($cream, 10%);
            @include breakpoint($tablet) {
              border-bottom: none;
            }
          }
          .col {
            padding-right: 12px;
            margin-bottom: 8px;
            @include breakpoint($tablet) {
              margin-bottom: 13px;
            }
            &.date {
              @include span(7);
              @include breakpoint($billingDetailsBreak) {
                @include span(3);
              }
              .text {
                text-decoration: underline;
                //@include font-lato-400;
              }
            }
            &.method {
              @include span(9);
              @include breakpoint($billingDetailsBreak) {
                @include span(5);
              }
            }
            &.description {
              @include span(last 6);
              @include breakpoint($billingDetailsBreak) {
                @include span(4);
              }
            }
            &.service-period {
              @include span(7);
              clear: both;
              @include breakpoint($billingDetailsBreak) {
                @include span(5);
                clear: none;
              }
            }
            &.subtotal {
              @include span(9);
              @include breakpoint($billingDetailsBreak) {
                @include span(4);
              }
            }
            &.total {
              @include span(last 6);
              @include breakpoint($billingDetailsBreak) {
                @include span(2);
              }
            }
          }

          .title {
            margin-bottom: 5px;
          }
          .text {
            @include font-lato-700
          }
        }
      }
    }
  }

  #asterisk-text {
    margin-bottom: 35px;
    p {
      line-height: 1.4em;
    }
  }

}