body.cancel-account {
  .content {
    &:last-of-type {
      margin-bottom: 0;
    }
    .text {
      margin-bottom: 25px;
    }
    ol {
      list-style-type: decimal;
      padding-left: 1.3em;
      margin-bottom: 30px;
      li {
        margin-bottom: 15px;
      }
    }
    .buttons {
      .btn {
        margin-bottom: 10px;
        @include breakpoint($tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
}