body.change-password {
  .content {
    text-transform: uppercase;
    form {
      .inputs {
        margin-bottom: 35px;
        @include breakpoint($tablet) {
          margin-bottom: 40px;
        }
        .input-item {
          input {
            width: 100%;
            @include breakpoint($tablet) {
              width: 350px;
            }
          }
        }
      }
    }
  }
}