body.change-plan {


  @include with-layout(12 0.25) {
    #account-types {
      @include clearfix;
      @include container();
      margin-bottom: 18px;
      @include breakpoint($tablet) {
        margin-top: 44px;
        margin-bottom: 24px;
      }
      li {
        cursor: pointer;
        outline: 4px solid rgba(0, 0, 0, 0);
        margin-bottom: 25px;
        position: relative;
        outline-offset: -4px;
        @include transition(all 0.3s);
        @include span(12);
        @include breakpoint(650px) {
          @include span(4);
          &:nth-child(3) {
            @include span(last 4);
          }
        }
        &.active {
          outline: 4px solid $brightBlue;
        }
        img {
          width: 100%;
        }
        label {
          cursor: pointer;
          input[type=radio] {
            display: none;
          }
        }
        .text-overlay {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          @include scut-center-transform(y);
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          @include breakpoint(650px) {
            font-size: 88%;
          }
          @include breakpoint($desktop) {
            font-size: 100%;
          }
          h3 {
            @include font-playfair-700;
            font-size: em(55);
            margin-bottom: 17px;
            .number {
              .ua-safari & {
                position: relative;
                top: -0.1em;
                font-size: 110%;
              }
            }
          }
          h5 {
            text-transform: uppercase;
            letter-spacing: 0.4em;
            @include font-lato-700;
            font-size: em(16.5);
          }
          h6 {
            font-size: em(14);
            letter-spacing: 0.05em;
          }
        }
        .current-plan {
          text-align: center;
          position: absolute;
          bottom: -30px;
          @include font-lato-700;
          @include scut-center-transform(x);
        }
      }
    }
  }
  p.text {
    margin-bottom: 15px;
    line-height: 1.4em;
  }
  .legal {
    margin-bottom: 25px;
    max-height: 220px;
    overflow-y: auto;
    display: none;
    p {
      line-height: 2em;
      font-size: em(13);
      margin-right: 10px;
      @include breakpoint($tablet) {
        line-height: 2.3em;
      }
      &.bold {
        @include font-lato-700;
      }
    }
    li {
      list-style-position: outside;
      list-style-type: lower-alpha;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }
  .text-danger {
    margin-bottom: 30px;
    margin-left: 0;
    display: none;
  }
  #under-contract {
    color: rgba(234, 19, 19, 0.88);
    font-size: em(14.5);
    margin-bottom: 30px;
    display: none;
  }
  .checkbox-wrap, .buttons {
    display: none;
  }
}