body.change-email {
  text-transform: uppercase;
  .content {
    .current-email {
      font-size: em(14.5);
      margin-bottom: 20px;
    }
    .email-address {
      @include font-lato-700;
      font-size: em(14.5);
      margin-bottom: 30px;
      @include breakpoint($tablet) {
        margin-bottom: 40px;
      }
    }
    form {
      .inputs {
        margin-bottom: 35px;
        @include breakpoint($tablet) {
          margin-bottom: 40px;
        }
        input {
          width: 100%;
          @include breakpoint($tablet) {
            width: 350px;
          }
        }
      }
    }
  }
}