body.contact-us {
  .content {
    &:last-of-type {
      margin-bottom: 0;
    }
    .text {
      margin-bottom: 25px;
    }
    form {
      @include with-layout(10 0.25) {
        .inputs {
          margin-bottom: 35px;
          @include container();
          @include breakpoint($tablet) {
            margin-bottom: 40px;
          }
          .row {
            @include clearfix;
            &:nth-child(2) {
              @include breakpoint($tablet) {
                margin-bottom: 15px;
              }
            }
            .input-item {
              @include span(10);
              @include breakpoint(650px) {
                &:nth-child(1) {
                  @include span(5);
                }
                &:nth-child(2) {
                  @include span(last 5);
                }
              }
              @include breakpoint(900px) {
                &:nth-child(1), &:nth-child(2) {
                  @include span(4);
                }
              }
              input {
                width: 100%;
              }
              &.textarea {
                @include span(10);
                @include breakpoint(900px) {
                  @include span(8);
                }
                margin-bottom: 0;
                textarea {
                  width: 100%;
                }
              }
            }

          }
        }
        .buttons {
          .btn {
            margin-bottom: 10px;
            @include breakpoint($tablet) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}