body.email-preferences {
  @include font-lato-400;

  .content {
    margin: 32px 0 1px 0 !important;
    @include breakpoint($tablet) {
      margin: 37px 0 5px 0 !important;
    }
    .current-email {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: em(14.5);
    }
    .email-address {
      @include font-lato-700;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: em(14.5);
      @include breakpoint($tablet) {
        margin-bottom: 40px;
      }
    }
    .checkbox-wrap {
      margin-bottom: 28px;
      &.all {
        margin-bottom: 37px;
      }
      .right {
        .main-checkbox {
          @include font-lato-700;
          text-transform: uppercase;
          margin-bottom: 3px;
        }
        .sub-checkbox {
          @include font-lato-400;
        }
      }
    }
  }
}