body.error {
  section {
    min-height: 300px;
    .side-lines {
      margin-bottom: 0;
      @include breakpoint($tablet) {
        margin-bottom: 4px;
      }
      h4 {
        background-color: $white;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: em(13);
        letter-spacing: 0.4em;
        text-align: center;
        padding: 0 0.3% 0 2%;
        @include breakpoint($tablet) {
          letter-spacing: 1em;
          font-size: em(14.5);
          padding: 0 0.8% 0 2%;
        }
      }
    }
    h1 {
      margin-bottom: 14px;
      @include breakpoint($tablet) {
        margin-bottom: 17px;
      }
    }
    .error-message {
      margin-bottom: 40px;
    }
  }
}