body.faq {

  header {
    .side-lines {
      margin-bottom: 20px;
    }
    h4 {
      text-align: center;
      margin-bottom: 30px;
      @include breakpoint($tablet) {
        margin-bottom: 50px;
      }
    }
  }
  .content {
    @include font-lato-700;
    .categories {
      .category {
        padding: 30px 0 5px 0;
        @include breakpoint($tablet) {
          padding: 40px 0 10px 0;
        }
        &:nth-child(odd) {
          background-color: $lightGray;
        }
        .title {
          font-size: em(18.5);
          letter-spacing: 0.25em;
          text-tranform: uppercase;
          margin-bottom: 25px;
          @include breakpoint($tablet) {
            letter-spacing: 0.5em;
            font-size: em(17.5);
            margin-bottom: 28px;
          }
        }
        .questions {
          li {
            margin-bottom: 20px;
            .question {
              margin-bottom: 10px;
              font-size: em(18.5);
              cursor: pointer;
              display: inline-block;
              &.active {
                .arrow {
                  @include transform(rotate(0deg) translateX(0px) translateY(-1px));
                }
              }
              .arrow {
                padding-left: 2px;
                display: inline-block;
                @include transform(rotate(-90deg) translateX(-2px));
                @include transition(all 0.3s);
                @include breakpoint($tablet) {
                  padding-left: 4px;
                }
              }
            }
            .answer {
              display: none;
              p {
                font-size: em(18);
                line-height: 1.65em;
                max-width: 800px;
                @include font-lato-400;
                @include breakpoint($tablet) {
                  font-size: em(17);
                }
              }
            }
          }
        }
        .contact-faq {
            margin-bottom: 20px;
        }
      }
    }
  }
  #not-finding {
    padding: 0px 0 30px 0;
    @include breakpoint($tablet) {
      padding-bottom: 40px;
    }
    h4 {
      padding-bottom: 5px;
    }
  }
}
