body.forgot-password {
  .content {
    &:last-of-type {
      margin-bottom: 0;
    }
    .text {
      margin-bottom: 25px;
    }
    form {
      .inputs {
        margin-bottom: 35px;
        @include breakpoint($tablet) {
          margin-bottom: 40px;
        }
      }
    }

    .buttons {
      .btn {
        margin-bottom: 10px;
        @include breakpoint($tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
}