body.manage-profile {
  // text-transform: uppercase;
  .content {

    #profile-pic {
      display: block;
      border-radius: 200px;
      border: 2px solid $brightBlue;
      overflow: hidden;
      width: 100%;
      max-width: 180px;
      margin-bottom: 18px;
      @include breakpoint($tablet) {
        max-width: 230px;
        margin-bottom: 25px;
      }
    }
    #upload-btn {
      max-width: 180px;
      text-align: center;
      margin-bottom: 22px;
      @include breakpoint($tablet) {
          max-width: 230px;
        margin-bottom: 30px;
      }
      label input[type="file"] {
        position: fixed;
        top: -1000px;
      }
      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        z-index: 2;
        @include transition(all 0.3s);
        &:hover {
          color: #64b9db;;
        }
        // helps iOS launch file browse
        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          content: '';
          background-color: rgba(0, 0, 0, 0);;
        }
        .icon {
          @include retina-div('/themes/basic/images/account/icon-upload', 'png', 36, 34);
          margin: 0 auto 10px;
        }
        span {
          padding: 10px 0;
        }
      }
    }

    hr.short {
      width: 100%;
      @include breakpoint($tablet) {
          width: 60%;
      }
    }

    .current-name {
      font-size: em(14.5);
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .name {
      @include font-lato-700;
      font-size: em(14.5);
      margin-bottom: 30px;
      text-transform: uppercase;
      @include breakpoint($tablet) {
        margin-bottom: 40px;
      }
    }
    form {

      .inputs {
        margin-bottom: 35px;
        @include breakpoint($tablet) {
          margin-bottom: 40px;
        }
        input {
          width: 100%;
          @include breakpoint($tablet) {
            width: 350px;
          }
        }
      }
    }
  }

}