body.misc {

  .lockout {
    .side-lines {
      margin-bottom: 5px;
      h4 {
        background-color: $white;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: em(13);
        letter-spacing: 0.4em;
        text-align: center;
        padding: 0 0.3% 0 2%;
        @include breakpoint($tablet) {
          letter-spacing: 1em;
          font-size: em(14.5);
          padding: 0 0.8% 0 2%;
        }
      }
    }

    h1 {
      margin-bottom: 40px;
      @include breakpoint($tablet) {
        margin-bottom: 50px;
      }
    }
  }
  .content {
    padding: 40px 0 20px 0;
    p {
      margin-bottom: 35px;
      @include font-libre-baskerville-400;
      font-size: em(14.5);
      line-height: 1.85em;
    }
    .misc-img {
      img {
        margin-bottom: 35px;
        width:100%;
      }
    }
  }
}
