body.my-workouts {

  .header {
    padding: 40px 0 25px;
    @include breakpoint($tablet) {
      padding: 55px 0 45px;
    }
    .side-lines {
      margin-bottom: 28px;
      @include breakpoint($tablet) {
        margin-bottom: 38px;
      }
    }
    .buttons {
      text-align: center;
      li {
        display: inline-block;
        margin: 0 5px 11px;
        @include breakpoint($tablet) {
          margin-bottom: 0;
        }
        .blue-dot-btn {
          min-width: 180px;
          @include breakpoint($tablet) {
            min-width: 170px;
          }
        }
      }
    }
  }
  #mashup-videos {
    background-color: $lightGray;
    .side-lines {
      h4 {
        background-color: $lightGray;
      }
    }
    .mine {
      .p57-mashup {
        display: none;
      }
    }
  }
  #favorite-videos {
    
  }
  .thumbs-section {
    min-height: 300px;
    padding: 25px 0 30px;
    @include breakpoint($tablet) {
        padding: 41px 0 47px;
    }
    .side-lines {
      &.right-line-only {
        margin-bottom: 5px;
        @include breakpoint($tablet) {
          margin-bottom: 10px;
        }
      }
    }
    .none-available {
      padding: 10px 0;
      display: none;
      line-height: 1.35em;
      @include breakpoint($tablet) {
        padding: 15px 0;
      }
      h5 {
        @include font-libre-baskerville-400italic;
        margin-bottom: 20px;
        @include breakpoint($tablet) {
          margin-bottom: 30px;
        }
      }
    }
  }

}
