body.payment, body.promo {

  #payment, #promo {
    padding: 42px 0 0;
    @include breakpoint($tablet) {
      padding: 155px 0 0
    }
    .side-lines {
      &.promo, &.payment {
        margin-bottom: 0;
      }
    }

    .first-week {
      @include font-libre-baskerville-400italic;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 13px;
      font-size: em(15.5);
      letter-spacing: 0.04em;
      text-transform: none;
    }

    .special-offers, {
      text-align: center;
      margin-bottom: 40px;
      margin-top: 15px;
      font-size: em(14);
      letter-spacing: 0.6em;
      @include breakpoint($tablet) {
        margin-bottom: 60px;
        font-size: em(15);
      }
    }
    #hero {
      @include clearfix;
      display: table;
      width: 100%;
      & > div {
        height: 100%;
        position: relative;
        min-height: 250px;
        @include breakpoint($tablet) {
          width: 50%;
          height: 100%;
          min-height: 310px;
        }
      }
      .mobile-image {
        background-size: cover;
        background-position: center center;
        @include breakpoint($tablet) {
          display: none;
        }
      }
      .left {
        background-color: $lightGray;
        text-align: center;
        padding: 25px 20px;
        display: table;
        width: 100%;
        @include breakpoint($tablet) {
          width: 50%;
          //float: left;
          display: table-cell;
          vertical-align: top;
          //padding: 20px 23px;
        }
        @include breakpoint($desktop) {
          padding: 30px 40px;
        }
        .inner {
          //vertical-align: middle;
          //display: table-cell;
          max-width: 540px;
          margin: 0 auto;
          //min-height: 300px;
          @include breakpoint($tablet) {
            //height: 310px;
          }
          .title {
            font-size: em(11.5);
            @include breakpoint($tablet) {
              font-size: em(13);
            }
            h3 {
              @include font-playfair-700;
              font-size: em(55);
              margin-bottom: 12px;
              @include breakpoint($tablet) {
                margin-bottom: 13px;
                font-size: em(45);
              }
              @include breakpoint($desktop) {
                font-size: em(55);
              }
              .dollar {
                position: relative;
                font-size: em(11.5);
              }
              .term {
                font-size: em(12);
              }
              .heart {
                position: relative;
                top: -0.2em;
              }
            }
            .free {
              @include font-lato-700;
              text-transform: uppercase;
              letter-spacing: 0.52em;
              margin-bottom: 15px;
              @include breakpoint($tablet) {
                font-size: em(15);
              }
            }
          }
          .side-lines {
            max-width: 130px;
            margin: 0 auto;
          }
          .body-copy {
            padding: 10px 0 0px;
            @include font-libre-baskerville-400;
            p {
              margin: .7em 0;
              line-height: 1.5em;
              /*font-size: em(15);
              @include breakpoint($tablet) {
                margin: 0.65em 0;
                font-size: em(14);
              }
              @include breakpoint($desktop) {
                font-size: em(16);
              }*/
            }
          }
        }

      }
      .right {
        background-size: cover;
        background-position: center center;
        display: none;
        @include breakpoint($tablet) {
          //float: right;
          display: table-cell;
          &:after {
            position: absolute;
            content: ' ';
            left: 0;
            top: 50%;
            margin-top: -8px;
            z-index: 2;
            @include scut-triangle(right, 8px 16px, $lightGray);
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    #plans {
      text-align: center;
      @include clearfix;
      .or {
        width: 6%;
        margin: 20px auto;
        @include font-libre-baskerville-400;
        font-weight: 700;
        @include breakpoint($tablet) {
          float: left;
          margin-top: 23.5%;
        }
      }
      .plan {
        cursor: pointer;
        vertical-align: top;
        background-color: $dullBlue;
        color: $white;
        @include breakpoint($tablet) {
          width: 47%;
          float: left;
        }
        &.active {
          outline: 5px solid $brightBlue;
          .photo, .bottom {
            opacity: 1;
          }
        }
        .photo {
          opacity: 0.4;
          @include transition(0.3s all);
          img {
            width: 100%;
          }
        }
        .bottom {
          max-width: 540px;
          margin: 0 auto;
          padding: 25px 20px;
          opacity: 0.6;
          @include transition(0.3s all);
          .title {
            font-size: em(11.5);
            @include breakpoint($tablet) {
              font-size: em(13);
            }
            h3 {
              @include font-playfair-700;
              font-size: em(55);
              margin-bottom: 12px;
              @include breakpoint($tablet) {
                margin-bottom: 13px;
                font-size: em(36);
              }
              @include breakpoint(980px) {
                font-size: em(41);
              }
              .number {
                .ua-safari & {
                  position: relative;
                  top: -0.1em;
                  font-size: 110%;
                }
              }
            }
            h5 {
              &.three-month {
                @include font-libre-baskerville-400italic;
                font-size: em(18);
                margin-bottom: 15px;
              }
            }
            .free {
              @include font-lato-700;
              text-transform: uppercase;
              letter-spacing: 0.52em;
              margin-bottom: 15px;
              @include breakpoint($tablet) {
                font-size: em(15);
              }
            }
          }
          .side-lines {
            max-width: 130px;
            margin: 0 auto;
          }
          .body-copy {
            padding: 0px 0 0px;
            @include font-libre-baskerville-400;
            p {
              margin: .7em 0;
              line-height: 1.5em;
              /*font-size: em(15);
              @include breakpoint($tablet) {
                margin: 0.65em 0;
                font-size: em(14);
              }
              @include breakpoint($desktop) {
                font-size: em(16);
              }*/
            }
            a {
              color: $brightBlue;
              text-decoration: underline;
              font-size: em(14.5);
            }
          }
        }
      }
    }
    #promo-code {
      background-color: $white;
      padding: 40px 0 0;
      @include breakpoint($tablet) {
        padding: 53px 0 0;
      }
      @include credit-card-form;
      .code {
        input {
          background: transparent url('/themes/basic/images/global/icon-checkmark2.png') 97% center no-repeat;
          background-size: 23px 23px;
        }
      }
      .redeem-btn {
        min-width: 150px;
      }

    }
    #user-pass {
      background-color: $white;
      padding: 40px 0 0px;
      text-align: center;
      @include breakpoint($tablet) {
        padding: 60px 0 10px;
      }
      .side-lines {
        margin-bottom: 28px;
        @include breakpoint($tablet) {
          margin-bottom: 40px;
        }
        h1 {
          font-size: em(30);
          line-height: 1.2em;
        }
      }
      .inputs {
        margin-bottom: 7px;
        input {
          margin: 0 5px 12px;
          width: 90%;
          @include breakpoint($tablet) {
            width: 300px;
          }
        }
      }
      .error-messages {
        margin-bottom: 17px;
        li {
          color: rgba(234, 19, 19, 0.88);
          @include font-lato-700;
        }
      }
    }
    #promo-copy {
      text-align: left;
      margin-top: 45px;
      @include breakpoint($tablet) {
        margin-top: 65px;
      }
      p {
        line-height: 1.4em;
        @include breakpoint($tablet) {
          line-height: 1.5em;
        }
        &.bold {
          @include font-lato-700;
          margin-bottom: 0;
          margin-top: 20px;
        }
        a {
          text-decoration: underline;
        }
      }
      ul {
        padding: 12px 0 0;
        margin-left: 0.8em;
        font-size: em(16);
        @include breakpoint($tablet) {
          font-size: em(14);
        }
        li {
          margin-left: 0.8em;
          margin-bottom: 10px;
          list-style-position: outside;
          list-style-type: disc;
        }
      }
    }
    #payment-details {
      //background-color: #e6e4e1;
      //background-color: darken(#f3f3f3, 1%);
      background-color: $white;
      padding: 40px 0;
      @include breakpoint($tablet) {
        padding: 63px 0;
      }
      .top-text {
        p {
          line-height: 1.45em;
        }
        ol {
          padding: 12px 0 0;
          margin-left: 0.8em;
          font-size: em(16);
          @include breakpoint($tablet) {
            font-size: em(14);
          }
          li {
            margin-left: 0.8em;
            margin-bottom: 10px;
            list-style-position: outside;
            list-style-type: decimal;
          }
        }
      }
      @include credit-card-form;
      .inputs {
        margin-bottom: 0px;
        @include breakpoint($tablet) {
          //margin-bottom: 10px;
        }
      }
      .legal {
        margin-bottom: 20px;
        max-height: 220px;
        overflow-y: auto;
        &.plan30 {
          display: none;
        }
        p {
          line-height: 2em;
          font-size: em(13);
          margin-right: 10px;
          @include breakpoint($tablet) {
            line-height: 2.3em;
          }
          &.bold {
            @include font-lato-700;
          }
        }
        li {
          list-style-position: outside;
          list-style-type: lower-alpha;
          margin-left: 20px;
          margin-bottom: 10px;
        }
      }
      .checkbox-wrap {
        margin-bottom: 30px;
        min-height: 22px;
        @include breakpoint($tablet) {
          margin-bottom: 40px;
        }
        .main-checkbox {
          font-size: em(17);
          @include font-lato-400;
          margin-left: 5px;
          position: relative;
          top: -1px;
          line-height: 1.5em;
          @include breakpoint($tablet) {
            font-size: em(16);
          }
          a {
            text-decoration: underline;
          }
        }
      }
      .buttons {
        text-align: center;
        @include breakpoint($tablet) {
          margin-bottom: 20px;
        }
        .btn {
          opacity: 0.5;
          cursor: default;
          &:hover {
            background-color: $brightBlue;
          }
          &.active {
            opacity: 1;
            cursor: pointer;
            &:hover {
              background-color: darken($brightBlue, 8%);
            }
          }
        }
        #start-membership-btn, #start-membership-btn2 {
          min-width: 255px;
          //margin: 0 auto;
          margin: 0 5px 10px;
          font-size: em(13.5);
        }
      }
      .secure {
        text-align: center;
        p {
          margin-bottom: 8px;
          @include breakpoint($tablet) {
            margin: 1px;
          }
          &.tell {
            .rollover {
              //opacity: 1;
              top: 44px;
              @include scut-center-transform(x);
              @include transition(all 0.3s);
              @include breakpoint(850px) {
                width: 330px;
                top: -33px;
                right: -358px;
                left: auto;
                margin-right: 0;
                margin-left: 0;
                @include transform(translateX(0));
              }
              &:before {
                left: 115px;
                top: -19px;
                @include breakpoint(850px) {
                  @include scut-triangle(left, 20px 39px, $dullBlue);
                  left: -19px;
                  top: 24px;
                }
              }
            }
          }
        }
      }
    }
    #Plan_id {
      display: none;
    }
  }
}

body.promo {

  .bold {
    font-family: 'Playfair', serif;
    font-weight: 700;
  }

  .uppercase {
    text-transform: uppercase;
  }

  #payment {

    #hero {

      .left {
        .inner .title h3 {
          line-height: .5em;
          margin-bottom: 2px;

          .term {
            font-size: .55em;
          }
        } 
      }

      .body-copy {
        .bonus {
          font-size: 1.1em;
          letter-spacing: 0;
          line-height: 1.2em;
        }
      }

      ul.features {
        max-width: 90%;
        margin: 8px auto 20px;
        text-align: left;
        font-weight: 500;

        >li {
          line-height: 18px;
          margin-bottom: 8px;
          position: relative;
          padding-left: 26px;

          .icon-checkmark {
            display: inline-block;
            background: url(../images/global/icon-checkmark4.png) 50% 50% no-repeat transparent;
            background-size: cover;
            width: 18px;
            height: 20px;
            margin-right: 4px;
            float: left;
            position: absolute;
            left: 0;
            top: -2px;
          }

          .desc {

          }
        }
      }
    }
  }
}