body.regimens {

  .header {
    text-align: center;
    .side-lines {
      margin-bottom: 0;
      margin-top: -10px;
      @include breakpoint($tablet) {
        margin-bottom: 2px;
        margin-top: 0;
      }
      h4 {
        background-color: $white;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: em(13);
        letter-spacing: 0.4em;
        text-align: center;
        padding: 0 0.3% 0 2%;
        @include breakpoint($tablet) {
          letter-spacing: 1em;
          font-size: em(14.5);
          padding: 0 0.8% 0 2%;
        }
      }
    }
    h1 {
      margin-bottom: -2px;
      @include breakpoint($tablet) {
        margin-bottom: 17px;
      }
    }
  }
  #summary {
    text-align: left;
    background-color: $lightGray;
    padding: 40px 0 45px;
    @include breakpoint($tablet) {
      padding: 55px 0 50px;
    }
    h4 {
      @include font-lato-900;
      margin-bottom: 20px;
      @include breakpoint($tablet) {
        margin-bottom: 25px;
      }
    }
    .text {
      @include font-libre-baskerville-400;
      overflow: hidden;
      p {
        line-height: 1.8em;
        font-size: em(14);
        letter-spacing: 0.015em;
        @include breakpoint($tablet) {
          line-height: 2em;
          font-size: em(14.5);
        }
      }
    }
  }
  #weeks {
    margin-bottom: 40px;
    .week {
      padding: 38px 0 26px;
      @include breakpoint($tablet) {
        padding: 48px 0;
      }
      &:nth-child(even) {
        background-color: $lightGray;
        .day {
          &:nth-child(even) {
            background-color: darken(#dfdddb, 1%);
            &:nth-child(even) {
              background-color: rgba(255, 255, 255, 0.4);
            }
            @include breakpoint($tablet) {
              &:nth-child(even) {
                background-color: transparent;
              }
            }
          }
        }
      }
      h1 {
        text-align: left;
        margin-bottom: 22px;
        font-size: em(31);
        @include breakpoint($tablet) {
          margin-bottom: 25px;
          font-size: em(40);
        }
        @include breakpoint($desktop) {
          margin-bottom: 28px;
          font-size: em(49);
        }
      }
      hr {
        margin-bottom: 16px;
        @include breakpoint($tablet) {
          margin-bottom: 20px;
        }
      }
      .days {
        @include breakpoint($tablet) {
          display: table;
          width: 100%;
          background-color: $dullBlue;
          color: #fff;
        }
        .day {
          padding: 12px 15px;
          &:nth-child(even) {
            background-color: darken(#ebecec, 1%);
          }
          @include breakpoint($tablet) {
            display: table-cell;
            vertical-align: top;
            width: 14.28571428571429%;
            border-right: 1px solid rgba(255, 255, 255, 0.35);
            &:nth-child(even) {
              background-color: transparent;
            }
          }
          .day-title {
            text-transform: uppercase;
            @include font-lato-900;
            font-size: em(18);
            letter-spacing: 0.25em;
            margin-bottom: 2px;
            @include breakpoint($tablet) {
              //text-decoration: underline;
              margin-bottom: 6px;
            }
          }
          .description {
            font-size: em(19);
            line-height: 1.5em;
            @include breakpoint($tablet) {
              font-size: em(17);
              line-height: 1.3em;
            }
            &.rest-day {
              text-decoration: none;
            }
            ol {
              list-style-type: decimal;
              margin-left: 1.4em;
              font-size: em(15);
              margin-top: 5px;
              @include transition(all 0.3s);
              li {
                margin: 4px 0;
                //color: #fff;
                line-height: 1rem;
                @include transition(all 0.3s);
                @include breakpoint($tablet) {
                  margin: 1px 0 5px;
                  &:hover {
                    //color: $brightBlue;
                  }
                }
              }
            }
          }
          [data-modal] {
            cursor: pointer;
            text-decoration: underline;
            @include breakpoint($tablet) {
              @include transition(all 0.3s);
              &:hover {
                color: $brightBlue !important;
                li {
                  color: $brightBlue !important;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .congratulations {
      background: $dullBlue url('/themes/basic/images/home-logged-out/get-started-bg.png') center 20px repeat;
      padding: 20px 18px 25px 18px;
      text-align: center;
      margin-bottom: -40px;
      @include breakpoint($tablet) {
        padding: 44px;
      }
      h4 {
        @include font-libre-baskerville-400italic;
        font-size: em(18);
        color: #fff;
        text-transform: none;
        margin: 0 auto 10px auto;
        max-width: 1000px;
        letter-spacing: 0.18em;
        @include breakpoint($tablet) {
          font-size: em(26);
          margin: 0 auto 18px auto;
        }
      }
      h2 {
        @include font-playfair-700;
        color: $brightBlue;
        font-size: em(30);
        text-transform: uppercase;
        width: 100%;
        @include breakpoint($tablet) {
          font-size: em(44);
        }
      }
    }
  }

    &.program-description-page {
        .blue-dot-btn.gray {
            display: block;
            text-align: center;

            a {
                width: auto;
                padding: 0.875em 1.375em;
            }
        }
    }
}
