body.renew-plan {

  #top-text {
    margin-bottom: 30px;
    p {
      line-height: 1.4em;
    }
  }
  @include with-layout(12 0.25) {
    #account-types {
      @include clearfix;
      @include container();
      margin-bottom: 18px;
      @include breakpoint($tablet) {
        margin-bottom: 24px;
      }
      li {
        cursor: pointer;
        outline: 4px solid rgba(0, 0, 0, 0);
        margin-bottom: 14px;
        position: relative;
        outline-offset: -4px;
        @include transition(all 0.3s);
        @include span(12);
        @include breakpoint(720px) {
          @include span(6);
          &:nth-child(2) {
            @include span(last 6);
          }
        }
        &.active {
          outline: 4px solid $brightBlue;
        }
        img {
          width: 100%;
        }
        .text-overlay {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          @include scut-center-transform(y);
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          h3 {
            @include font-playfair-700;
            font-size: em(55);
            margin-bottom: 25px;
            .dollar {
              position: relative;
              top: 6px;
              font-size: em(14);
            }
          }
          h5 {
            text-transform: uppercase;
            letter-spacing: 0.4em;
            @include font-lato-700;
            font-size: em(16.5);
          }
          h6 {
            font-size: em(14);
            letter-spacing: 0.05em;
          }
        }
      }
    }
  }
  p.text {
    margin-bottom: 33px;
    line-height: 1.4em;
  }
}