body.sign-up.no-top-padding {
	@include breakpoint($ipadLandscape) {
		padding-top: 0 !important;
	}
}

.logged-in,
.logged-out,
.sign-up {
	.alerts {
		position: fixed;
		z-index: 100;
		top: 10%;
		width: 100%;
		text-align: center;
		.lockout {
			@include breakpoint($tablet) {
				width: 100%;
			}
		}
		ul {
			margin: 10px 0;
		}
		li {
			margin-bottom: 10px;
		}
	}
}

.sign-in-socials-wr,
.log-in-socials-wr {
	margin: 21px 0 36px;
	text-align: center;
	.modal & {
		margin-top: 15px;
	}
	.log-in-top {
		margin-bottom: 15px;
	}
	.sign-in-top {
		position: relative;
		margin: 0 0 25px;
		overflow: hidden;
		text-align: center;
		span {
			position: relative;
			padding: 0 17px;
			overflow: hidden;
			font-size: 14px;
			color: #6ecff6;
			background-color: #fff;
		}
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			margin-top: -1px;
			height: 1px;
			background-color: #6ecff6;
		}
	}
	.social-btn {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 36px;
		padding-left: 30px;
		font-size: 11px;
		line-height: 34px;
		text-transform: uppercase;
		color: #fff !important;
		&:hover {
			text-decoration: none !important;
		}
		&--facebook {
			margin-bottom: 5px;
			border: 1px solid #5f94bd;
			border-bottom-color: #3074a9;
			background-color: #3a81b5;
			&:before {
				content: '';
				position: absolute;
				left: 37px;
				height: 100%;
				width: 1px;
				background-color: #3378b1;
				box-shadow: 1px 0 #3d81b3, 2px 0 #448bbc, 3px 0 #377eb3;
			}
			@include breakpoint(1209px) {
				margin: 0 4px 0 0;
			}
			span {
				&:before {
					@include footer-icon;
					content: "\e614";
					position: absolute;
					top: 2px;
					left: 6px;
					font-size: 29px;
				}
			}
			&:hover {
				background-color: darken(#3a81b5, 5%);
			}
		}
		&--gplus {
			border: 1px solid #e28170;
			border-bottom-color: #d05641;
			background-color: #d95f4a;
			&:before {
				content: '';
				position: absolute;
				left: 39px;
				height: 100%;
				width: 1px;
				background-color: #d45841;
				box-shadow: 1px 0 #d6624c, 2px 0 #db6852, 3px 0 #d85d47;
			}
			span {
				&:before {
					position: absolute;
					top: 8px;
					left: 12px;
					font-size: 21px;
				}
			}
			&:hover {
				background-color: darken(#d95f4a, 5%);
			}
		}
		@include breakpoint(507px) {
			max-width: 215px;
		}
	}
}

.signup-section {
	overflow: hidden;
	background: #fff url(/themes/basic/images/sign-up/signup-bg-01.jpg) no-repeat 50% 0;
	background-size: 100% auto;
	padding-top: 25px;
	padding-bottom: 65px;
	min-height: 100vh;
	@include breakpoint($tablet) {
		padding-top: 90px;
	}
	@include breakpoint($ipadPortrait) {
		background-position: 50% 0;
		padding-bottom: 60px;
	}
	.container {
		max-width: 1210px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.headline {
		@include font-lato-400;
		text-align: center;
		padding-bottom: 30px;
		@include breakpoint($ipadPortrait) {
			padding-bottom: 15px;
		}
	}
	h1 {
		@include font-lato-900;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 1.2;
		letter-spacing: 4px;
		color: #59636e;
		margin: 0;
		span {
			display: block;
			color: #6ecff6;
		}
		@include breakpoint($ipadPortrait) {
			font-size: 23px;
			line-height: 40px;
		}
	}
	.row {
		@include breakpoint($ipadPortrait) {
			display: flex;
			flex-direction: row-reverse;
			margin: 0 -15px;
		}
		@include breakpoint($large) {
			margin: 0 -50px;
		}
		> .col {
			min-height: 1px;
			@include breakpoint($ipadPortrait) {
				padding: 0 15px;
			}
			@include breakpoint($large) {
				padding: 0 45px;
			}
			&:first-child {
				@include breakpoint($ipadPortrait) {
					width: 340px;
					flex-shrink: 0;
				}
				@include breakpoint($large) {
					width: 600px;
				}
			}
		}
	}
	.plan-info {
		@include font-lato-400;
		background: #68727b;
		padding: 30px 20px 20px;
		color: #fff;
		margin-bottom: 50px;
		border: 1px solid rgba(#66717a,0.32);
		box-sizing: border-box;
		@include breakpoint($large) {
			padding: 23px 54px 24px;
			margin-bottom: 104px;
			width: 310px;
			&.fixed-plan-info {
				position: fixed;
				top: 93px;
				right: 15px;
				@include breakpoint(1211px) {
					right: auto;
				}
			}
			&.absolute-plan-info {
				position: absolute;
				top: auto;
				bottom: 0;
			}
		}
		@include breakpoint($large) {
			width: 500px;
		}
		@media screen and (min-width: 1025px) and (max-height: 768px) {
			padding: 23px 54px 24px;
		}
		h2 {
			@include font-lato-300;
			position: relative;
			text-transform: uppercase;
			margin: 0 0 21px;
			padding-bottom: 29px;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 3.5px;
			&:before {
				content:"";
				position: absolute;
				bottom: 0;
				left: 3px;
				width: 37px;
				height: 2px;
				background: #fff;
			}
			@include breakpoint($x-phone) {
				font-size: 18px;
				line-height: 22px;
			}
			@include breakpoint($ipadPortrait) {
				margin-bottom: 11px;
				padding-bottom: 14px;
				font-size: 29px;
				line-height: 30px;
			}
		}
		.title {
			@include font-lato-400;
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 24px;
			color: #6ecff6;
			@include breakpoint($ipadPortrait) {
				margin-left: 2px;
				margin-bottom: 14px;
				font-size: 15px;
				line-height: 20px;
				letter-spacing: 0;
			}
		}
	}
	.check-list {
		list-style: none;
		padding: 0 0 14px;
		margin: 0 0 14px 3px;
		border-bottom: 2px solid #616b75;
		li {
			margin-bottom: 14px;
			display: flex;
			&:last-child {
				margin-bottom: 0;
			}
			strong {
				@include font-lato-400;
				display: block;
				font-size: 14px;
				line-height: 18px;
				@include breakpoint($large) {
					margin-top: 2px;
					letter-spacing: 0;
				}
			}
		}
		.check {
			position: relative;
			width: 18px;
			height: 18px;
			border: 1px solid #959799;
			margin-right: 11px;
			flex-shrink: 0;
			&:before {
				content:"";
				position: absolute;
				height: 10px;
				width: 20px;
				top: 50%;
				left: 50%;
				margin: -11px 0 0 -6px;
				border: 3px solid #6ecff6;
				border-width: 0 0 3px 3px;
				transform: rotate(-52deg);
			}
		}
	}
	.price-info {
		font-size: 17px;
		line-height: 20px;
		@include breakpoint($large) {
			margin-bottom: 10px;
			font-size: 17px;
		}
		.price {
			float: right;
		}
		.frame {
			margin-left: 1px;
			padding-bottom: 9px;
			letter-spacing: 0;
			&:after {
				content:"";
				clear: both;
				display: block;
			}
			&--strong {
				font-weight: 700;
			}
			strong {
				font-size: 14px;
				@include breakpoint($ipadPortrait) {
					font-size: 20px;
				}
			}
			& > .number {
				float: right;
				margin-top: -3px;
			}
		}
		del {
			float: right;
		}
		strong {
			@include font-lato-400;
			color: #6ecff6;
			&:last-child {
				float: right;
			}
		}
	}
	.step-box {
		background: #fff;
		color: #45474f;
		padding: 25px 20px 35px;
		margin-bottom: 19px;
		border: 1px solid rgba(#66717a,0.32);
		@include font-lato-400;
		font-size: 16px;
		line-height: 20px;
		@include breakpoint($ipadPortrait) {
			padding: 25px 69px;
		}
		@include breakpoint(1441px) {
			padding: 23px 50px 32px 68px;
		}
		.input-holder {
			&.mb25 {
				margin-bottom: 25px;
			}
		}
		.errors {
			font-size: 10px;
			line-height: 15px;
			color: #f80039;
		}
		.hidden {
			display: none;
		}
		.head {
			margin: 0 auto;
			padding-bottom: 15px;
			@include breakpoint($ipadPortrait) {
				padding-bottom: 28px;
			}
			.frame {
				&:after {
					content:"";
					clear: both;
					display: block;
				}
			}
			.link {
				float: right;
				color: #00d0f8;
				font-size: 14px;
				line-height: 18px;
				margin-top: 10px;
				@include breakpoint($ipadPortrait) {
					margin-top: 12px;
				}
			}
			.link {
				text-decoration: none;
			}
		}
		.step-number {
			display: block;
			margin-left: 3px;
			color: #67717a;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 2px;
			margin-bottom: 17px;
		}
		h2 {
			@include font-lato-300;
			float: left;
			position: relative;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			margin: 0;
			letter-spacing: 1px;
			color: #6ecff6;
			margin-left: 2px;
			padding-top: 17px;
			letter-spacing: 4.5px;
			&:before {
				content:"";
				position: absolute;
				top: 0;
				left: 3px;
				width: 46px;
				height: 1px;
				background: #6ecff6;
			}
			@include breakpoint($ipadPortrait) {
				font-size: 27px;
				line-height: 22px;
			}
		}
		a {
			color: #45474f;
			&:hover {
				text-decoration: underline;
			}
		}
		& > a {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;
			@include breakpoint($ipadPortrait) {
				margin-top: -5px;
				margin-bottom: 18px;
			}
		}
		.btn {
			font-size: 14px;
			line-height: 20px;
			padding: 9px 15px 10px;
			border-radius: 21px;
			text-transform: uppercase;
			background: #6ecff6;
			display: block;
			width: 100%;
			letter-spacing: 1px;
			@include breakpoint($ipadPortrait) {
				font-size: 15px;
			}
			&:hover {
				background: #48c2f4;
			}
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.icon-arrow-dotted {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			width: 10px;
			height: 19px;
			background: url(/themes/basic/images/global/icon-sprite.png) no-repeat;
			@include breakpoint($x-phone) {
				margin-right: 10px;
			}
			@include breakpoint($ipadPortrait) {
				margin-right: 15px;
			}
		}
		.text-complete {
			text-transform: uppercase;
			font-size: 16px;
			line-height: 20px;
			color: #6ecff6;
		}
	}
	.login-form {
		@include breakpoint($ipadLandscape) {
			max-width: 439px;
			margin: 0 auto;
		}
		.input-holder {
			padding-bottom: 21px;
		}
		.btn-holder {
			padding-top: 21px;
		}
		.btn {
			margin-top: 21px;
		}
	}
	.form-control {
		@include font-lato-400;
		width: 100%;
		border: solid #68727b;
		border-width: 0 0 2px;
		color: #45474f;
		font-size: 16px;
		line-height: 20px;
		padding: 14px 0;
		border-radius: 0;
		background: none;
		text-transform: none;
		@include placeholder {
			color: #45474f;
		}
		&:invalid,
		&:-moz-submit-invalid,
		&:-moz-ui-invalid {
			box-shadow: none;
		}
		&.focused {
			border-width: 0 0 2px;
			border-bottom-color: #000;
		}
		&.error,
		&.danger {
			border: solid #f80039;
			border-width: 0 0 2px;
		}
	}
	.payment-form {
		padding: 4px 0 0;
		margin: 0;
		.btn-holder {
			padding-top: 6px;
		}
		.btn {
			margin-top: 6px;
		}
		.holder {
			@include breakpoint($ipadPortrait) {
				margin: 0 -10px 34px;
			}
			@include breakpoint($xx-large) {
				margin-left: -16px;
				margin-right: -16px;
			}
			&:after {
				content:"";
				clear:both;
				display:block;
			}
			&.pt-10 {
				padding-top: 10px;
			}
		}
		.column-holder {
			position: relative;
			padding-right: 40px;
			width: 100%;
			padding-bottom: 30px;
			&:after {
				content:"";
				clear:both;
				display:block;
			}
			.input-frame {
				float: left;
				width: 74px;
			}
			@include breakpoint($ipadPortrait) {
				padding-right: 0;
				padding-top: 34px;
				padding-bottom: 0;
				clear: both;
			}
			@include breakpoint($ipadLandscape) {
				width: auto;
				float: left;
				padding-top: 0;
				clear: none;
			}
		}
		.column {
			padding-bottom: 20px;
			@include breakpoint($ipadPortrait) {
				padding: 0 10px;
				float: left;
				width: 50%;
			}
			@include breakpoint($ipadLandscape) {
				padding: 0 16px;
			}
			&.sm {
				@include breakpoint($ipadPortrait) {
					width: 50%;
				}
				@include breakpoint($ipadLandscape) {
					width: auto;

				}
			}
			&.lg {
				@include breakpoint($ipadPortrait) {
					width: 100%;
				}
				@include breakpoint($ipadLandscape) {
					width: 249px;
				}
			}
		}
		label {
			display: block;
			text-transform: capitalize;
			margin-bottom: 17px;
			font-size: 16px;
			line-height: 20px;
			color: #989898;
		}
		.note {
			font-size: 11px;
			line-height: 13px;
			color: #67727a;
			margin: 26px 0 0;
		}
		.cards {
			margin-top: 20px;
			@include breakpoint($ipadPortrait) {
				margin-left: 10px;
			}
		}
		.input-frame {
			position: relative;
			&:before {
				content:"";
				position:absolute;
				top: 50%;
				right: 6px;
				background: url("/themes/basic/images/global/icon-lock-new.png") no-repeat;
				width: 12px;
				height: 13px;
				margin-top: -7px;
			}
			.form-control {
				padding-right: 30px;
			}
		}
		.clearfix {
			margin: 0 -25px;
			@include breakpoint($ipadPortrait) {
				margin-bottom: 20px;
			}
			&:after {
				content:"";
				clear: both;
				display: block;
			}
		}
		.select-col {
			float: left;
			width: 50%;
			padding: 0 25px;
		}
		.fake-select {
			display: block;
			position: relative;
			&:after {
				content:"";
				position: absolute;
				z-index: 5;
				top: 50%;
				right: 7px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 5px 0 5px;
				border-color: #45474f transparent transparent transparent;
				transform: translateY(-50%);
			}
			select {
				-webkit-appearance: none;
				appearance: none;
				outline: none;
				&::-ms-expand {
					display: none;
				}
			}
		}
	}
	.qmark {
		position: relative;
		float: left;
		margin-left: 34px;
		margin-top: 18px;
		width: 18px;
		height: 18px;
		background: url("/themes/basic/images/sign-up/qmark.png") no-repeat;
		background-size: 100% 100%;
		&:hover {
			.rollover {
				opacity: 1;
				visibility: visible;
			}
		}
		.rollover {
			position: absolute;
			opacity: 0;
			visibility: hidden;
			top: 100%;
			right: -25px;
			border-radius: 12px;
			padding: 12px 8px 9px 9px;
			background: #252525;
			margin-top: 25px;
			@include breakpoint($ipadPortrait) {
				margin-top: 0;
				margin-left: 25px;
				right: auto;
				top: -29px;
				left: 100%;
			}
			&:before {
				content:"";
				position: absolute;
				bottom: 100%;
				right: 24px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 20px 20px 20px;
				border-color: transparent transparent #252525 transparent;
				@include breakpoint($ipadPortrait) {
					bottom: auto;
					top: 24px;
					right: 100%;
					border-width: 20px 20px 20px 0;
					border-color: transparent #252525 transparent transparent;
				}
			}
		}
	}
	.btn-holder {
		padding-top: 12px;
	}
	.radio-holder {
		@include font-lato-400;
		padding-bottom: 8px;
		margin-top: 6px;
		&:after {
			content:"";
			clear: both;
			display: block;
		}
		.label-holder {
			margin-bottom: 20px;
		}
		label {
			display: inline-block;
			vertical-align: top;
			position: relative;
			z-index: 5;
			overflow: hidden;
			> * {
				pointer-events: none;
			}
		}
		[type="radio"] {
			position: fixed;
			left: 0;
			top: 0;
			opacity: 0;
			z-index: -1;
			margin: 0;
			&:checked {
				~ .fake-input {
					&:before {
						opacity: 1;
					}
				}
			}
			&.danger {
				~ .fake-input {
					border-color: #f80039;
				}
			}
			~ .fake-input {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 28px;
				height: 28px;
				border: 1px solid #68727b;
				border-radius: 50%;
				background: #fff;
				margin-right: 10px;
				&:before {
					content:"";
					opacity: 0;
					position: absolute;
					top: 3px;
					left: 3px;
					right: 3px;
					bottom: 3px;
					background: #68727b;
					border-radius: 50%;
				}
			}
		}
		.fake-label {
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			font-size: 16px;
			line-height: 20px;
			@include breakpoint($x-phone) {
				margin-top: 2px;
				font-size: 18px;
				line-height: 22px;
			}
			em {
				display: block;
				font-style: normal;
				font-size: 12px;
				line-height: 18px;
				@include breakpoint($x-phone) {
					font-size: 12px;
					line-height: 24px;
				}
			}
		}
	}
	.checkbox-wrap {
		display: block;
		margin-bottom: 25px;
		label {
			position: relative;
			display: block;
			> * {
				pointer-events: none;
			}
		}
		[type="checkbox"] {
			position: fixed;
			left: 0;
			top: 0;
			opacity: 0;
			z-index: -1;
			margin: 0;
			padding: 0;
			border: none;
			background: none;
			&:checked {
				~ .fake-input {
					&:before {
						opacity: 1;
					}
				}
			}
			&.danger {
				~ .fake-input {
					border-color: #68727b;
				}
			}
			~ .fake-input {
				position: relative;
				float: left;
				width: 24px;
				height: 24px;
				background: #fff;
				border: 1px solid #68727b;
				margin-right: 20px;
				&:before {
					content:"";
					opacity: 0;
					position:absolute;
					height: 12px;
					width: 26px;
					top: 50%;
					left: 50%;
					margin: -14px 0 0 -9px;
					border: 3px solid #68727b;
					border-width: 0 0 3px 3px;
					transform: rotate(-52deg);
				}
			}
		}
		.fake-label {
			display: block;
			overflow: hidden;
			font-size: 14px;
			line-height: 18px;
			a {
				pointer-events: auto;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.frame.pricing {
		font-size: 16px;
		line-height: 18px;
		margin-top: 30px;
		p {
			font-size: inherit;
			line-height: inherit;
		}
	}
	.legal {
		margin-bottom: 25px;
		max-height: 220px;
		overflow-y: auto;
		font-size: 10px;
		line-height: 15px;
		p {
			font-size: inherit;
			line-height: inherit;
		}
	}
}

.hide-form {
	overflow: hidden !important;
	height: 0 !important;
}
.step-box {
	#step3 {
		.plan57, .plan30 {
			display: none;
		}
	}
}
.step-box.step-passed.edit,  .step-box.step-passed{
	.head {
		span {
			display: block;
		}
		a {
			display: none;
		}
	}
}
.step-box.step-passed {
	.head {
		span {
			display: none;
		}
		a {
			display: block;
		}
	}
	.text-complete {
		display: block;
	}
}
.step-box.step-passed.edit {
	.text-complete {
		display: none;
	}
}
//timer-plan
.wrapper-timer-plan {
	h4 {
		margin-bottom: 11px;
		font-weight: bold;
		color: #6ecff6;
		letter-spacing: 0.1px;
		font-size: 16px;
		text-align: center;
		@include breakpoint($ipadPortrait) {
			text-align: left;
		}
	}
	.timer-plan {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 280px;
		margin: 0 auto;
		align-items: center;
		background: #68727b;
		@include breakpoint(507px) {
			max-width: 376px;
		}
		@include breakpoint($large) {
			margin: 0;
		}
		.colon {
			margin: 0 0 33px 0;
			color: #6bacc9;;
			font-size: 20px;
		}
		.number-container {
			background: linear-gradient(#68808f, #677480);
			display: flex;
			flex-direction: column;
			padding-top: 8px;
			color: #fff;
			font-size: 20px;
			font-family: sans-serif;
			font-weight: 100;
			width: 50px;
			height: 65px;
			align-items: center;
			justify-content: flex-start;
			@include breakpoint(507px) {
				width: 59px;
				height: 71px;
			}
			.number {
				min-height: 30px;
				font-weight: 400;
				font-size: 30px;
				@include breakpoint(507px) {
					min-height: 35px;					
					font-size: 35px;
				}
			}
			.smalltext {
				margin-top: 5px;
				font-weight: 400;
				text-transform: uppercase;
				font-size: 10px;
				color: #6ecff6;
			}
		}
	}
}
