body.sign-up {
  &.logged-in {
    padding-top: 83px;
  }

  #hero {
    background: transparent url('/themes/basic/images/sign-up/hero-mobile.jpg') top center no-repeat;
    background-size: cover;
    height: 317px;
    @include breakpoint($tablet) {
      background: transparent url('/themes/basic/images/sign-up/hero-desktop.jpg') top center no-repeat;
      background-size: cover;
      height: 417px;
    }
    img {
      width: 100%;
    }
  }
  #free-trial {
    text-align: center;
    background-color: $lightGray;
    .top {
      padding: 25px 0 32px;
      @include breakpoint($tablet) {
        padding: 28px 0 37px;
      }
      .side-lines {
        margin-bottom: 15px;
        @include breakpoint($tablet) {
          margin-bottom: 20px;
        }
        h1 {
          background-color: $lightGray;
          line-height: 1.1em;
          .break {
            @include breakpoint($tablet) {
              display: none;
            }
          }
        }
      }
      h5 {
        @include font-libre-baskerville-400italic;
        line-height: 1.6em;
        width: 80%;
        margin: 0 auto 25px;
        @include breakpoint($tablet) {
          margin: 0 auto 35px;
        }
      }
      .inputs {
        margin-bottom: 7px;
        input {
          margin: 0 5px 12px;
          width: 90%;
          @include breakpoint($tablet) {
            width: 300px;
          }
        }
      }
      .error-messages {
        margin-bottom: 17px;
        li {
          color: rgba(234, 19, 19, 0.88);
          @include font-lato-700;
        }
      }
      .have-account {
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
        font-size: em(12);
        a {
          &:hover {
            color: $linkBlue;
          }
        }
      }
    }
    .bottom {
      background-color: $white;
      padding: 33px 0 28px;
      @include breakpoint($tablet) {
        padding: 43px 0 35px;
      }
      #join-now {
        min-width: 200px;
        margin-bottom: 18px;
        @include breakpoint($tablet) {
          margin-bottom: 28px;
        }
      }
      p {
        font-size: em(13);
        margin: 0.7em 0;
      }
    }
  }
  @import "home-logged-out/get-started";
}
