body.success-stories {
	#hero {
		background-image: url("/themes/basic/images/success-stories/hero.jpg");

		p {
			@include font-libre-baskerville-400;
			max-width: 875px;
			margin: 0 auto 100px;
			font-size: 18px;
			line-height: 32px;
		}
	}
}

section#stories {

	header {
		.sidelines {
			margin-top: 40px;
		}
	}

	.stories {
		text-align: center;

		.story {
			background-color: #f9f9f9;
			padding: 10px;

			@include breakpoint($tablet) {
				padding: 0;
			}

			+.story {
				margin-top: 50px;
			}
		}
		.photos {
			@include breakpoint($tablet) {
				// float: right;
				// width: 30%;
			}
			@include breakpoint($desktop) {
				// width: 25%;
			}
			@include breakpoint($large) {
				float: none;
				width: auto;
			}
		}
		.photo {
			// width: 200px;
			float: left;
			width: 50%;
			position: relative;

			@include breakpoint($tablet) {
				// width: 100%;
				// width: 440px;
			}
			@include breakpoint($large) {
				width: 320px;
			}
			@include breakpoint($extraLarge) {
				width: 440px;
			}

			&.before {

			}
			&.after {
				float: right;
			}

			.caption {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: transparentize($dullBlue, .12);
				@include font-playfair-700;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1pt;

				font-size: 16px;
				line-height: 24px;
				padding: 2px 0;
				
				@include breakpoint($tablet) {
					font-size: 38px;
					line-height: 48px;
					padding: 12px 0;
				}
				@include breakpoint($desktop) {
					font-size: 36px;
					line-height: 46px;
					padding: 8px 0;
				}
				@include breakpoint($extraLarge) {
					font-size: 48px;
					line-height: 60px;
					padding: 12px 0;
				}
			}
		}
		.details {
			float: left;
			width: 100%;
			// padding: 20px 0px;

			@include breakpoint($tablet) {
				// padding: 0 200px;
				// padding: 0 440px;
				// width: 70%;
			}
			@include breakpoint($desktop) {
				// width: 75%;
			}
			@include breakpoint($large) {
				float: none;
				width: auto;
				padding: 0 320px;
			}
			@include breakpoint($extraLarge) {
				padding: 0 440px;
			}

			>.inner {
				padding: 10px;

				@include breakpoint($tablet) {
					padding: 20px 40px;
				}
			}
		}
		h4 {
			padding: 10px 10px 0;
			@include font-lato-900;
		}
		.summary {
			@include font-lato-400;
			color: $dullBlue;
			font-size: 13px;
			line-height: 18px;
		}
		.weight-info {
			color: $dullBlue;
			margin-bottom: 10px;

			@include breakpoint($extraLarge) {
				margin-bottom: 34px;
			}

			>div {
				display: inline-block;
				vertical-align: middle;
			}

			.lost,
			.lbs {
				font-size: 14px;
				text-transform: uppercase;
				@include font-lato-700;
				letter-spacing: 7pt;
			}
			.lbs {
				width: 70px;
			}

			.amount {
				@include font-libre-baskerville-400;
				font-size: 100px;

				@include breakpoint($extraLarge) {
					margin: 0 10px;
					font-size: 120px;
				}
			}
		}
		.description {
			@include font-libre-baskerville-400italic;
			font-size: 15px;
			line-height: 24px;
			color: $dullBlue;
			text-align: left;
			margin-bottom: 10px;
		}
		.clearfix {
			@include clearfix;
		}
		.side-lines {
			min-height: 6px;
			width: 144px;
			margin: 20px auto;
			opacity: 0.9;
		}
		.copy {
			padding: 20px 5% 27px;
			@include breakpoint($tablet) {
				padding: 20px 9% 35px;
			}
			p {
				text-align: center;
				@include font-libre-baskerville-400;
				font-size: em(15.5);
				line-height: 2.2em;
			}
		}
		img {
			width: 100%;
		}
		.buttons {
			.text {
				font-size: 13.1px;
			}
		}
	}
  #disclaimer {
    padding: 20px;
    letter-spacing: 0.05em;
    font-size: em(13);
    line-height: 1.4em;
    @include breakpoint($tablet) {
      padding: 30px;
    }
  }
}