body.update-payment-info {
  p {
    max-width: 600px;
    line-height: 1.6em;
    @include breakpoint($tablet) {
      line-height: 1.7em;
    }
  }
  @include credit-card-form;
  .secure {
    p {
      &.tell {
        .rollover {
          left: 0px;
          top: 44px;
          @include transition(all 0.3s);
          @include breakpoint(600px) {
            width: 330px;
            top: -33px;
            right: -358px;
            left: auto;
          }
          &:before {
            left: 24px;
            top: -19px;
            @include breakpoint(600px) {
              @include scut-triangle(left, 20px 39px, $dullBlue);
              left: -19px;
              top: 24px;
            }
          }
        }
      }
    }
  }

}