body.viewing-activity {

  .content {

    ul {
      margin-bottom: 38px;
      li {
        display: table;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 1.5em;
        font-size: em(14);
        @include breakpoint($tablet) {
          font-size: em(14.5);
        }
        &:first-child {
          text-transform: none;
        }
        & > div {
          display: table-cell;
          vertical-align: top;
        }
        .date {
          padding-right: 15px;
          width: 19%;
        }
        .video-title {
          @include font-lato-700;
        }
        .problem {
          text-align: right;
          padding-left: 10px;
          @include font-lato-700;
          width: 80px;
          @include breakpoint(500px) {
            white-space: nowrap;
            width: auto;
            padding-left: 20px;
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
    #load-more-btn {
      margin-bottom: 35px;
    }

    .btn {
      min-width: 160px;
    }

    .asterisk {
      margin-bottom: 25px;
    }
  }

}