.workout-page {
    .video-pagination {
        overflow: hidden;
        transition: height 0.5s ease;
        position: relative;
        .skipped-workouts {
            padding-top: 0;
            .is-finished-workout{
                display: none;
            }
        }
        &.refresh-filter {
            .video-thumbs {
                &.current {
                    padding-top: 0;
                    .week-counter {
                        display: none;
                    }
                }
            }
        }
        &.all-filter{
            .next-week-btn{
                display: none;
            }
        }
    }
    .next-week-btn{
        &.hidden{
            display: none;
        }
    }
    .modal {
        .thumb-slider {
            .thumb {
                z-index: 1 !important;
            }
            .slick-slide {
                padding: 0;
            }
        }
        li {
            &.active {
                outline: none;
                .thumb {
                    outline: 3px solid #6ecff6;
                    outline-offset: -3px;
                }
            }
            .thumb {
                &:hover {
                    img {
                        transform: none;
                    }
                }
            }
        }
    }
    .workout-header {
        padding: 5px 0;
        background: $darkBlue;

        .side-lines {
            margin: 0;
            text-align: center;
            background: none;

            @include breakpoint($ipadLandscape){
                text-align: left;
                background: url(/themes/basic/images/global/h1-line-right-white@2x.png) right 59% no-repeat;
                background-size: 1500px 5px;
            }

            h4{
                position: relative;
                top: 10px;
                display: inline-block;
                padding: 0;
                color: #fff;
                font-weight: 900;
                font-size: 16px;
                line-height: 1;
                background: $darkBlue;

                @include breakpoint($ipadLandscape){
                    margin-bottom: 15px;
                    padding: 0 24px 0 0;
                    font-size: 18px;
                }

                span{
                    display: block;
                    margin-bottom: 20px;

                    @include breakpoint($ipadLandscape){
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: middle;
                    }
                }

                a{
                    font-size: 12px;
                    line-height: 1;
                }
            }
        }
        .btn {
            &.blue {
                display: block;
                margin-top: 10px;
                @include breakpoint($phone) {
                    display: inline-block;
                    margin-top: 0;
                }
            }
        }
    }
    .video-thumbs {
        position: relative;
        padding-top: 86px;
        @include breakpoint(1000px) {
            @include display-flex('',
            space-start);
            @include flex-flow(row wrap);
        }
        &.hidden {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }
        .week-counter {
            position: absolute;
            width: 64px;
            height: 64px;
            left: 0;
            top: 0;
            background-color: #4b525c;
            border-radius: 50%;
            text-align: center;
            padding: 17px 0;
            color: #FFF;
            text-transform: uppercase;
            span {
                font-size: 21px;
                line-height: 20px;
                letter-spacing: -0.01em;
                display: block;
                text-transform: uppercase;
                & + span {
                    font-size: 10px;
                    line-height: 10px;
                }
            }
        }
        &:first-child {
            padding-top: 0;
            .week-counter {
                display: none;
            }
        }
        &:last-child {
            .additional-block {
                .next-week-btn {
                    display: none;
                }
            }
        }
        li {
            position: relative;
            margin-bottom: 10px;
            padding: 10px;
            background: #f1f1f1;
            @include breakpoint(650px) {
                width: calc(50% - 1px);
                margin-right: 1px;
                &:nth-child(odd) {
                    float: left;
                }
                &:nth-child(even) {
                    float: right;
                }
            }
            @media all and (min-width: 1000px) {
                margin-bottom: 10px;
                width: calc(25% - 1px);
            }
            .mashup {
                position: relative;
                overflow: hidden;
                &:hover {
                    img {
                        transform: scale(1.06);
                    }
                }
                &:before {
                    width: 65px;
                    height: 67px;
                    background-image: url(/themes/basic/images/global/play.png);
                    background-size: 65px 67px;
                    background-repeat: no-repeat;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    content: '';
                    z-index: 2;
                }
                img {
                    width: 100%;
                    transition: transform 0.6s;
                }
                ol {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 3.6% 3.7%;
                    z-index: 2;
                    box-sizing: border-box;
                    cursor: pointer;
                    left: 0;
                    top: 0;
                    li {
                        display: none;
                        float: none;
                        width: 100%;
                        height: auto !important;
                        margin: 0;
                        padding: 0;
                        background: none;
                        color: #FFF;
                        font-family: 'Lato', serif;
                        font-weight: 700;
                        font-size: 0.9375em;
                        letter-spacing: 0.02em;
                        line-height: 1.15em;
                        &:first-child {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding: 3.6% 3.7%;
                        }
                    }
                }
            }
            &.rest-day {
                position: relative;
                .rest-day-title {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.is-current-workout {
                box-shadow: inset 0 0 0 2px #6dcff6;
            }
            &.is-skipped-workout,
            &.is-finished-workout {
                &:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    content: '';
                    background: rgba(0, 0, 0, 0.3);
                    pointer-events: none;
                }
            }
            &.is-skipped-workout {
                .date {
                    background: #ff4900;
                }
            }
            &.additional-block {
                @include display-flex(center,
                center);
                @include flex-flow(column);
                width: 100%;
                background: #4b525c;
                @media all and (min-width: 650px) {
                    width: 50%;
                }
                @media all and (min-width: 1000px) {
                    width: calc(25% - 1px);
                }
                .btn {
                    margin: 0 0 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &-white {
                        color: #fff;
                        border-color: #fff;
                        background: transparent;
                        &:hover,
                        &:active {
                            color: #48c2f4;
                            border-color: #48c2f4;
                            background: transparent;
                        }
                    }
                }
            }
        }
        .date {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            padding: 15px 12px;
            color: #fff;
            font-weight: 900;
            font-size: 15px;
            line-height: 1;
            text-transform: uppercase;
            background: #6dcff6;
        }
    }
    .modal-call {
        &.hidden {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }
    }
}

.workout-content{
    .user-panel-row{
        //margin-bottom: 25px;
        //padding-bottom: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        background: $darkBlue;
    }
}

// .workout-page
.user-panel {
    letter-spacing: -0.01em;

    .user-details {
        color: #fff;
        margin: 0 0 20px;

        @include breakpoint($ipadLandscape){
            float: left;
            width: 220px;
            margin: 0 30px 0 0;
        }

        @include breakpoint($x-large){
            width: 275px;
            margin: 0 60px 0 0;
        }
    }
    .details {
        @include breakpoint($ipadLandscape){
            font-size: 12px;
        }
        &-item {
            padding: 10px 0;
            border-bottom: 1px solid #3d444c;

            @include breakpoint($ipadLandscape){
                padding: 7px 0;
            }

            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        &-label {
            float: left;
            width: 160px;
        }
        &-content {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

// .user-panel
.calculator {
    overflow: hidden;
    color: #becde6;

    .weight-info,
    .total-workouts-count,
    .total-weeks-count{
        font-weight: 600;
    }

    &-items-container {
        @include display-flex();
        @include flex-flow(column);

        @include breakpoint($tablet) {
            @include display-flex('', space-between);
            @include flex-flow(row nowrap);
        }
    }
    &-item {
        @include display-flex('', space-between);
        @include flex-flow(column);
        margin-bottom: 20px;
        padding: 20px 5px;
        height: 150px;
        border: 1px solid #93a0b3;
        text-align: center;

        &:last-child{
            margin-bottom: 0;
        }

        @include breakpoint($tablet){
            margin-bottom: 0;
            padding: 10px 5px;
            width: 32%;
            height: 120px;
        }
        &-footer {
            @include display-flex('', center);
            @include flex-flow(column);
            height: 36px;

            p {
                margin: 0;
                @include breakpoint($xx-large) {
                    font-size: 12px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #48c2f4;
                }
            }
        }
    }
    &-value {
        margin: 0;
        font-size: 52px;
        line-height: 0.8;

        @include breakpoint($tablet) {
            font-size: 50px;
        }

        @include breakpoint($xx-large) {
            font-size: 62px;
        }

        &.left-count-more-zero {
            color: #fe4703;
        }

        .progress-item & {
            span {
                font-weight: 300;
                font-size: 30px;
            }
        }

        .is-weight-lost & {
            span {
                padding-right: 30px;
                background: url('/themes/basic/images/workout/icon-arrow-down-green.png') no-repeat scroll 100% 50%;
            }
        }

        &.gained {
            span {
                padding-right: 30px;
                background: url('/themes/basic/images/workout/icon-arrow-top-green.png') no-repeat scroll 100% 50%;
            }
        }

        &-description {
            margin: 0;
        }
    }
}

// .calculator
.info-panel {
    margin-bottom: 22px;
    overflow: hidden;
    @include breakpoint($ipadLandscape) {
        @include display-flex(center, space-between);
        @include flex-flow(row nowrap);
        margin-bottom: 10px;
    }
    .column {
        @include display-flex();
        margin-bottom: 15px;
        @include breakpoint($ipadLandscape) {
            margin: 0 10px 0 0;
        }
        @include breakpoint($extraLarge) {
            margin-right: 30px;
        }
        @include breakpoint($x-large) {
            margin-right: 58px;
        }
        &-fullwidth {
            .btn-toolbar {
                .btn {
                    margin-bottom: 10px;
                    display: block;
                    width: 100%;
                    @include breakpoint($phone) {
                        margin-bottom: 0;
                        display: inline-block;
                        width: auto;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            @include breakpoint($phone) {
                @include display-flex(center,
                space-between);
                @include flex-flow(row nowrap);
            }
            @include breakpoint($ipadLandscape) {
                @include flex(1 1 0);
            }
        }
    }
    .heading {
        @include display-flex(center,
        '');
        margin: 0;
        width: 100%;
        color: #5c636d;
        font-weight: 400;
        font-size: 13px;
        line-height: 1;
        letter-spacing: normal;
        @include breakpoint($phone) {
            font-size: 21px;
        }
        &-decor {
            display: none;
            position: relative;
            margin-left: 22px;
            height: 1px;
            background: #606771;
            @include breakpoint($x-phone) {
                display: inline-block;
                @include flex(1 1 0);
            }
            @include breakpoint($ipadLandscape) {
                width: 35px;
                margin-left: 10px;
                @include flex(initial);
            }
            @include breakpoint($extraLarge) {
                width: 92px;
                margin-left: 22px;
            }
            &:before,
            &:after {
                position: absolute;
                top: -2px;
                width: 5px;
                height: 5px;
                background: #606771;
                border-radius: 50%;
                content: '';
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
    }
    .btn {
        display: inline-block;
        width: auto;
        background: none;
        &:hover,
        &:active {
            color: #48c2f4;
            border-color: #48c2f4;
            background: none;
        }
    }
}

// .info-panel
.week-indicator {
    float: left;
    width: 64px;
    min-width: 64px;
    height: 64px;
    margin-right: 10px;
    padding: 15px 10px;
    background: #4b525c;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    line-height: 1;
    text-align: center;
    @include breakpoint($phone) {
        margin-right: 21px;
    }
    @include breakpoint($ipadLandscape) {
        margin-right: 10px;
    }
    @include breakpoint($extraLarge) {
        margin-right: 21px;
    }
    p,
    span {
        margin: 0;
        font-size: 21px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        @media (min-width: 701px) {
            margin: 0;
            line-height: 1;
        }
        & + p {
            font-size: 10px;
            text-transform: uppercase;
        }
        & + span {
            font-size: 10px;
            text-transform: uppercase;
            display: inline-block;
        }
    }
}

.workouts-counter {
    margin: 0 0 15px;
    color: #5b636e;
    font-size: 0;
    @include breakpoint($phone) {
        margin-bottom: 0;
    }
    .icon-star {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 17px;
        vertical-align: middle;
        background: url('/themes/basic/images/global/icon-star.svg') no-repeat scroll 0 50% / 16px auto;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: 1;
        span {
            vertical-align: bottom;
        }
    }
}
