@import "app/vendor";
@import "app/variables";
@import "app/grid-settings";
@import "app/breakpoints";
@import "app/mixins";
@import "app/boilerplate";
@import "app/fonts";
@import "app/slick";
@import "app/slick-theme";
@import "app/lightbox";
@import "global/footer";
@import "vendor/videojs/video-js";
@import "global/header-logged-in";
@import "global/header-logged-out";
@import "pages/home-logged-in/home-logged-in";
@import "pages/home-logged-in/jcf";
@import "pages/home-logged-in/slider";
@import "pages/home-logged-in/modal-video";
@import "pages/account";
@import "pages/home-logged-out/home-logged-out";
@import "pages/my-workouts";
@import "pages/mashup-maker/mashup-maker";
@import "pages/sign-up";
@import "pages/sign-up-new";
@import "pages/payment";
@import "pages/faq";
@import "pages/misc";
@import "pages/regimens";
@import "pages/error";
@import "pages/success-stories";
@import "pages/workout-page";
@import "global/scroll-cta";
@import "global/modals/modals";
@import "global/modals/modal-new";
@import "global/modals/social-modal";
@import "global/modals/congrats-modal";
@import "global/nav-menu";
@import "global/effects";

body {
  background-color: $white;
  color: $dullBlue;
  @include font-lato-400;
  letter-spacing: 0.03em;
  padding-top: 83px;
  &.no-scroll {
    overflow: hidden;
    margin-right: 15px;
    .ua-mobile & {
      margin-right: 0;
    }
  }
  &.no-top-padding {
    @include breakpoint($tablet) {
      padding-top: 0;
    }
  }
}

#page-wrap {
  position: relative;
  //min-height: 500px;
}

.lockout {
  max-width: 980px !important;
  position: relative;
  margin: 0 $mobileSideMargin;
  @include breakpoint($tablet) {
    margin: 0 auto;
    width: 92%;
  }
}

.full-width {
  max-width: 1400px !important;
  margin: 0 auto;
  width: 91%;
  @include breakpoint($tablet) {
    width: 92%;
  }
  &-1185 {
    max-width: 1185px !important;
  }
}

section.header,
.header-padding {
  padding: 40px 0;
  @include breakpoint($tablet) {
    padding: 55px 0 40px;
  }
}

input[type=text],
input[type=password],
input[type=email],
select, textarea {
  padding: 8px 20px 7px;
  color: $dullBlue;
  letter-spacing: 0.05em;
  border-radius: 200px;
  font-size: em(14);
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid $inputBorder;
  @include transition(all 0.4s);
  @include font-libre-baskerville-400;
  @include placeholder {
    color: $dullBlue;
  }
  &:focus {
    outline: none;
  }
  &.error {
    border: 1px solid rgba(234, 19, 19, 0.88);
  }
  &.focused {
    border: 1px solid $brightBlue;
  }
}

#Profile_do_not_show_weight_popup{
  width: auto;
}

.focused {
  border: 1px solid $brightBlue;
}

select {
  .ua-firefox & {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }
}

textarea {
  padding: 13px 20px 12px;
  border-radius: 20px;
  line-height: 1.6em;
}

label {
  font-size: em(14);
  line-height: 1.5em;
}

.select-wrap {
  position: relative;
  display: inline-block;
  select {
    padding-right: 37px;
    .ua-ie & {
      padding-right: 15px;
    }
  }
  &:after {
    position: absolute;
    font-size: em(13);
    pointer-events: none;
    content: '';
    background-image: url('/themes/basic/images/global/down-arrow.svg');
    top: 13px;
    right: 13px;
    background-size: 11px 13px;
    width: 11px;
    height: 13px;
    @include breakpoint($tablet) {
      top: 13px;
    }
    .ua-ie & {
      display: none;
    }
  }
}

.input-item {
  margin-bottom: 16px;
  @include breakpoint($tablet) {
    margin-bottom: 18px;
  }
  label {
    display: block;
    font-size: em(14);
    margin: 0 0 6px 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include breakpoint($tablet) {
      margin: 0 0 9px 20px;
    }
  }
  input {
    width: 100%;
    @include breakpoint($tablet) {
      width: 350px;
    }
  }
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: $lightGray;
  border: 1px solid $inputBorder;
  padding: 5px;
  @include breakpoint($tablet) {
    width: 13px;
    height: 13px;
    //padding: 5;
  }
}

input[type=checkbox]:checked {
  background-color: lighten($dullBlue, 0%);
  border: 1px solid $inputBorder;
}

a {
  color: $dullBlue;
  @include transition(color 0.3s);
  &:hover {
    //color: darken($dullBlue, 11%);
    color: $linkBlue;
  }
}

.btn {
  border: 1px solid lighten($dullBlue, 7%);
  text-rendering: optimizeLegibility;
  border-radius: 200px;
  color: $dullBlue;
  padding: em(10) em(25);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: em(14);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: transparent;
  @include font-lato-700;
  @include transition(0.3s all);
  @include breakpoint($tablet) {
    font-size: em(12.5);
    padding: em(8.5) em(22) em(7.5);
  }
  &:hover {
    //background-color: rgba(92, 99, 109, 0.08);
    background-color: rgba(92, 99, 109, 0.08);
    color: $brightBlue;
  }
  &.active {
    background-color: $dullBlue;
    color: #fff;
    cursor: default;
  }
  &.white {
    color: #fff;
    border: 1px solid #989da3;
    &:hover {
      background-color: lighten($dullBlue, 5%);
      color: $brightBlue;
    }
  }
  &.blue {
    background-color: $brightBlue;
    border: 1px solid $brightBlue;
    color: #fff;
    @include transition(all 0.3s);
    @include breakpoint($tablet) {
      font-size: em(13);
    }
    &:hover {
      background-color: darken($brightBlue, 8%);
    }
    &.large {
      @include breakpoint($tablet) {
        padding: em(22) em(42) em(21);
      }
    }
  }
  &.big {
    padding: 15px 30px;
    font-size: em(15);
  }

  &:focus{
    outline: none;
  }

}

.blue-dot-btn {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  font-size: em(18);
  @include blue-dot-btn-borders();
  .buttons-inline & {
    min-width: 223px;
    margin-right: 15px;
    &:last-child {
      margin-right: 15px;
    }
  }
  &.gray {
    color: $dullBlue;
    font-size: em(14.5);
    @include blue-dot-btn-borders(rgba(182, 185, 189, 1));
    a {
      color: $dullBlue;
      padding: em(14) em(22);
      @include breakpoint($tablet) {
        padding: em(11) em(22);
      }
      &:hover {
        color: $dullBlue;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  a {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: em(14) em(22) em(15);
    border-radius: 200px;
    letter-spacing: 0.05em;
    @include font-lato-700;
    @include transition(all 0.3s);
    &:hover {
      color: $brightBlue;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:after {
      width: 5px;
      height: 5px;
      position: absolute;
      content: '';
      border-radius: 100px;
      bottom: -2px;
      left: 50%;
      margin-left: -2px;
      background-color: $brightBlue;
    }
  }
}

.side-lines {
  text-align: center;
  background: url('/themes/basic/images/global/h1-line-left@2x.png') 0 59% no-repeat,
  url('/themes/basic/images/global/h1-line-right@2x.png') right 59% no-repeat;
  background-size: 1500px 5px;
  margin-bottom: 40px;
  @include breakpoint($tablet) {
    margin-bottom: 60px;
  }
  &.white {
    background: url('/themes/basic/images/global/h1-line-left-white@2x.png') 0 59% no-repeat,
    url('/themes/basic/images/global/h1-line-right-white@2x.png') right 59% no-repeat;
    background-size: 1500px 5px;
    opacity: 0.85;
  }
  &.cream {
    h1 {
      background-color: $lightGray;
    }
  }
  &.right-line-only {
    text-align: left;
    background: url('/themes/basic/images/global/h1-line-right@2x.png') right 24% no-repeat;
    background-size: 1500px 5px;
    margin-bottom: 11px;
    @include breakpoint($tablet) {
      margin-bottom: 23px;
    }
    @include breakpoint($desktop) {
      margin-bottom: 25px;
    }
    h4 {
      background-color: $white;
      display: inline-block;
      padding-right: 4%;
      letter-spacing: 0;
      @include breakpoint($tablet) {
        padding-right: 4%;
        letter-spacing: 0.6em;
      }
      @include breakpoint(650px) {
        letter-spacing: 0.5em;
      }
    }
  }
  h1 {
    background-color: $white;
    margin-bottom: 0;
    display: inline-block;
    padding: 0 3.3%;
  }
}

h1 {
  font-size: em(28);
  text-transform: uppercase;
  letter-spacing: 0.035em;
  margin-bottom: 7%;
  text-align: center;
  @include font-playfair-700;
  @include breakpoint($tablet) {
    font-size: em(36);
    margin-bottom: 3.95%;
  }
  @include breakpoint($desktop) {
    font-size: em(49);
  }
}

h4 {
  @include font-lato-700;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  margin-bottom: 15px;
  font-size: em(15);
  line-height: 1.4em;
  @include breakpoint($tablet) {
    font-size: em(16);
    line-height: 1.3em;
    letter-spacing: 0.52em;
    margin-bottom: 16px;
  }
}

hr {
  height: 5px;
  background: url('/themes/basic/images/global/h1-line-right@2x.png') right 59% no-repeat;
  background-size: 1500px 5px;
  outline: 0;
  border: 0;
  margin-bottom: 30px;
  @include breakpoint($tablet) {
    margin-bottom: 36px;
  }
}

p {
  @include breakpoint($tablet) {
    //width: 70%;
    line-height: 1.5em;
    font-size: em(14);
  }
  em {
    @include font-libre-baskerville-400italic;
  }
}

ul, ol {
  font-size: em(14);
  li {
    line-height: 1.4em;
  }
}

.blue {
  color: $brightBlue;
}

.darker-blue {
  color: #64b9db;
}

.alert-danger {
  color: rgba(234, 19, 19, 0.88);
  font-size: em(16.5);
  margin-bottom: 20px;
  text-transform: none;
  p {
    margin-bottom: 5px;
    font-size: em(15);
    @include font-lato-700;
  }
}

.text-danger {
  margin: 17px 0 0px 4px;
  color: rgba(234, 19, 19, 0.88);
  font-size: em(14.5);
}

.alerts {
  .inner {
    display: none;
    .close {
      display: none;
    }
    .alert {
      margin: 45px 0 30px;
      color: #fff;
      background-color: #6bc3e7;
      padding: 8px 16px;
      border-radius: 20px;
      display: inline-block;
      @include font-lato-700;
      ul {
      }
    }
  }
}

.checkbox-wrap {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  .left {
    display: table-cell;
    width: 28px;
    vertical-align: top;
    @include breakpoint($tablet) {
      width: 18px;
    }
    input {
      -webkit-appearance: none;
      @include breakpoint($tablet) {
        margin-left: -0.3em;
      }
    }
  }
  .right {
    vertical-align: top;
    display: table-cell;
    label {
      @include font-lato-700;

    }
  }
}

.icon {
  &.strength {
    @include retina-div('/themes/basic/images/global/icon-strength', 'png', round(77*0.85), round(23*0.85));
    @include breakpoint($tablet) {
      @include retina-div('/themes/basic/images/global/icon-strength', 'png', 77, 23);
    }
    &.white {
      @include retina-div('/themes/basic/images/global/icon-strength-white', 'png', round(77*0.85), round(23*0.85));
      @include breakpoint($tablet) {
        @include retina-div('/themes/basic/images/global/icon-strength-white', 'png', 77, 23);
      }
    }
    &.none {
      width: 0;
    }
    &.one {
      width: 22px;
      @include breakpoint($tablet) {
        width: 26px;
      }
    }
    &.two {
      width: 43px;
      @include breakpoint($tablet) {
        width: 51px;
      }
    }
  }
  &.cardio {
    @include retina-div('/themes/basic/images/global/icon-cardio', 'png', round(77*0.85), round(21*0.85));
    @include breakpoint($tablet) {
      @include retina-div('/themes/basic/images/global/icon-cardio', 'png', 77, 21);
    }
    &.white {
      @include retina-div('/themes/basic/images/global/icon-cardio-white', 'png', round(77*0.9), round(21*0.9));
      @include breakpoint($tablet) {
        @include retina-div('/themes/basic/images/global/icon-cardio-white', 'png', 77, 21);
      }
    }
    &.none {
      width: 0;
    }
    &.one {
      width: 23px;
      @include breakpoint($tablet) {
        width: 25px;
      }
    }
    &.two {
      width: 46px;
      @include breakpoint($tablet) {
        width: 50px;
      }
    }
  }
  &.restorative {
    @include retina-div('/themes/basic/images/global/icon-restorative', 'png', round(61*0.9), round(20*0.9));
    @include breakpoint($tablet) {
      @include retina-div('/themes/basic/images/global/icon-restorative', 'png', 61, 20);
    }
    &.white {
      @include retina-div('/themes/basic/images/global/icon-restorative-white', 'png', round(61*0.9), round(20*0.9));
      @include breakpoint($tablet) {
        @include retina-div('/themes/basic/images/global/icon-restorative-white', 'png', 61, 20);
      }
    }
    &.none {
      width: 0;
    }
    &.one {
      width: 19px;
      @include breakpoint($tablet) {
        width: 21px;
      }
    }
    &.two {
      width: 37px;
      @include breakpoint($tablet) {
        width: 40px;
      }
    }
  }
  &.time {
    position: absolute;
    right: 4%;
    bottom: 4.5%;
    z-index: 1;
    &:before {
      position: absolute;
      content: '';
      left: -19px;
      @include retina-div('/themes/basic/images/global/icon-clock', 'png', round(18*0.9), round(19*0.9));
      @include breakpoint($tablet) {
        left: -22px;
        @include retina-div('/themes/basic/images/global/icon-clock', 'png', 18, 19);
      }
    }
  }
}

.edit-delete {
  position: absolute;
  right: 3%;
  bottom: 5%;
  z-index: 1;
  @include transition(all 0.5s);
  @include clearfix;
  @include breakpoint($tablet) {
    opacity: 0;
  }
  .ua-mobile & {
    opacity: 1;
  }
  @include breakpoint($desktop) {
    right: 3%;
    bottom: 4%;
  }
  & > div {
    margin-left: 8px;
    float: right;
    cursor: pointer;
    @include transition(all 0.3s);
    &:hover {
      //@include transform(translateY(-5px));
    }
  }
  .edit {
    @include retina-div('/themes/basic/images/global/icon-edit', 'png', 24, 24);
  }
  .delete, .unsubscribe {
    @include retina-div('/themes/basic/images/global/icon-delete', 'png', 19, 24);
  }
}

.video-pagination {
  .video-thumbs {
    //min-height: 300px;
  }
}

#see-more-videos,
#see-more-regimens,
.see-more-regimens {
  background-color: $white;
  text-align: center;
  padding: 40px 0;
  .blue-dot-btn {
    font-size: em(14);
    &.loading {
      a {
        cursor: default;
      }
      .text {
        display: none;
      }
      .loading {
        display: block;
      }
    }
    a {
      padding: em(21) em(32);
      min-width: 240px;
      .loading {
        display: none;
      }
    }
  }
}

.video-thumbs {
  @include clearfix;
  li {
    @include breakpoint(650px) {
      width: 50%;
      float: left;
    }
    @include breakpoint(1000px) {
      width: 33.3333%;
    }
    &.added {
      .thumb {
        &:before {
          @include retina-div('/themes/basic/images/global/added-overlay', 'png', 64, 64);

        }
      }
      .btn {
        opacity: 0;
        cursor: default;
      }
    }
    .thumb {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      color: #fff;
      //padding-bottom: 56%;
      @include breakpoint(650px) {
        &:hover {
          img {
            @include transform(scale(1.06));
            .ua-mobile & {
              @include transform(scale(1));
            }
          }
          .edit-delete, .add-favorite, .favorite-playlist {
            opacity: 1;
          }
        }
      }
      &:before {
        @include retina-div('/themes/basic/images/global/play', 'png', 65, 67);
        left: 50%;
        top: 50%;
        margin-left: -33px;
        margin-top: -45px;
        position: absolute;
        content: '';
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background: transparent url('/themes/basic/images/global/bottom-gradient.png') bottom left repeat-x;
        background-size: 125px 70px;
      }
      img {
        width: 100%;
        @include transition(transform 0.6s);
      }
      .title-icon {
        position: absolute;
        left: 3.6%;
        bottom: 3.6%;
        z-index: 1;
        text-align: left;
        right: 95px;
        .title {
          @include font-lato-700;
          font-size: em(15);
          letter-spacing: 0.02em;
          line-height: 1.15em;
          z-index: 1;
          margin-bottom: 4px;
          //text-transform: uppercase;
          @include breakpoint($tablet) {
            left: 3.7%;
            bottom: 4.6%;
          }
        }
        .icon {
          display: inline-block;
          margin-right: 1.5%;
          &.none {
            display: none;
          }
        }
      }
      .add-favorite,
      .favorite-playlist {
        position: absolute;
        right: 3%;
        top: 5%;
        z-index: 1;
        text-transform: uppercase;
        @include transition(all 0.4s);
        @include breakpoint($tablet) {
          opacity: 0;
        }
        .ua-mobile & {
          opacity: 1;
        }
        .icon {
          display: inline-block;
          vertical-align: middle;
          @include retina-div('/themes/basic/images/global/icon-favorite', 'png', round(46*0.9), round(34*0.9));
          @include breakpoint($tablet) {
            @include retina-div('/themes/basic/images/global/icon-favorite', 'png', 46, 34);
          }
        }
        .checkmark {
          display: none;
          margin-left: 0px;
          width: 0px;
        }
      }
      .favorite-playlist {

      }
      .p57-mashup {
        position: absolute;
        top: 0;
        left: 0;
        @include retina-div('/themes/basic/images/global/p57-mashup', 'png', round(80), round(80));
      }
      .new-video {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 60px;
        height: 60px;
        &:before {
          content:"";
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 60px 60px 0 0;
          border-color: #6ecff6 transparent transparent transparent;
        }
        span {
          position: absolute;
          top: 10px;
          left: 2px;
          z-index: 5;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    .btn {
      margin: 17px auto 40px auto;
      min-width: 165px;
      @include transition(opacity 0.3s);
    }
  }

}

.move-up {
  letter-spacing: 0 !important;
  @include font-feature-settings("lnum");
}

.no-results {
  display: none;
  padding: 10px 0 60px;
  @include font-lato-700;
  line-height: 1.5em;
  a {
    color: $linkBlue;
    text-decoration: underline;
  }

}

.tooltip {
  background-color: $dullBlue;
  color: $white;
  padding: 16px 18px;
  border-radius: 12px;
  width: 240px;
  white-space: normal;
  font-size: em(13);
  position: absolute;
  left: 7%;
  bottom: 70px;
  line-height: 1.4em;
  display: none;
  @include breakpoint(600px) {
    left: 20%;
    bottom: 63px;
  }
  @include breakpoint(800px) {
    left: 27%;
  }
  &:before {
    content: '';
    position: absolute;
    @include scut-triangle(down, 39px 20px, $dullBlue);
    left: 33px;
    bottom: -19px;
  }
}
