.cke {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0 none;

	&.cke_chrome {
		border: 0 none;
		@include boxShadow(none);
	}

	.cke_top {
		background: none #f0f0f0;
		border: 1px solid #ddd;
		padding: 8px 8px 4px;
		border-bottom: 0 none;
		@include boxShadow(none);
	}
	.cke_contents {
		border: 1px solid #ddd;
	}
	.cke_bottom {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		background: none #f8f8f8;
		border: 1px solid #ddd;
		border-top-width: 0;
	}
	.cke_toolbar {

		.cke_toolgroup,
		.cke_combo_button {
			border-color: #ddd #ddd #bbb;
			background: none transparent;
			background-color: #fff;
			@include rounded(3px);
			@include boxShadow(none);

			>a {
				padding: 2px 8px 3px;
			}

			>a,
			.cke_toolbar_separator {
				+a {
					border-left: 1px solid #f0f0f0;
				}	
			}
		}

		.cke_combo_button {
			cursor: pointer;
			padding: 3px 8px 2px;

			.cke_combo_text {
				width: auto;
				padding-left: 0;
				cursor: pointer;
				line-height: 18px;
			}
			.cke_combo_open {
				margin: 0 0 0 6px;
				height: auto;

				.cke_combo_arrow {
					margin-top: 5px;
				}
			}
		}
		
		a,
		.cke_combo_off a {
			// border: 0 none;

			&:hover,
			&:active {
				background: none #f0f0f0;
				border-color: #ddd;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				cursor: pointer;
			}

			&.cke_button_on {
				background: none #f0f0f0;
				// @include boxShadow(inset 0 0 3px rgba(0,0,0,0.5));
				// @include boxShadow(none);

				&:hover {

				}
			}
		}

		&:hover {

		}
	}
	
	.cke_toolgroup a.cke_button:hover {
		background: none #f0f0f0;
	}
	.cke_combo_off a.cke_combo_button:active,
	.cke_toolgroup a.cke_button:active {
		background: none #e8e8e8;
		@include boxShadow(inset 0 0px 1px rgba(0,0,0,0.1));
	}
	.cke_combo_on a.cke_combo_button {
		border-color: #ddd;
	}
	.cke_combo_on a.cke_combo_button,
	.cke_combo_on a.cke_combo_button:hover,
	.cke_toolgroup a.cke_button_on,
	.cke_toolgroup a.cke_button_on:hover {
		// background: none #f0f0f0;
		// -webkit-box-shadow: none;
		// -moz-box-shadow: none;
		// box-shadow: none;
		@include boxShadow(inset 0 0px 1px rgba(0,0,0,0.1));
		// @include boxShadow(none);
	}
	.cke_toolbar_separator {
		display: none;
	}
} 
