/* Fonts */
$serif: Georgia, serif;
$sansSerif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sansSerifAlt: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono: 'Courier New', monospace;

$fontFamily: $sansSerif;
$fontSize: 12px;
$lineHeight: 18px;

// /* Colors */
$color: #4f555a;
$bgColor: #e5e4e0;
$linkColor: #70767d;
$linkColorAlt: #ba3d45;
$lightestColor: #b4b4b4;
$lightColor: #8d979f;
$mediumColor: #68696f;
$darkColor: #5c636d;
$darkerColor: darken($darkColor, 5%);
$primaryColor: #6fd1f6;
$secondaryColor: #11b094;

$borderColor: #dfe0e2;

$green: #4fa14d;
$red: #b65756;
$blue: #29a5e3;
$greenColor: #4aa59b;
$lightGreenColor: #00ae9a;
$darkGreenColor: #118d7f;
$redColor: #e43a3a;

$gradientLineStart: #e3e3e3;
$gradientLineEnd: #f8f8f8;

$lightGrey: #f8f9fb;
$mediumGrey: #ebedee;
$blueGrey: #70767d;

// /* Responsive cutoff points */
$mobileMaxWidth: 767px;
$tabletMinWidth: 768px;
$tabletMaxWidth: 979px;
$desktopMinWidth: 979px;
$largeDesktopMinWidth: 1040px;

$radius: 3px;