.dropzone-wrapper {
	
}

.dropzone {
	position: relative;
	// @include boxShadow(inset 0 0 5px rgba(0,0,0,.3));
	// @include rounded(5px);
	// background-color: #fff;
	// height: 60px;
	height: 0;
	// width: 200px;
	padding-top: 60px;
	@include boxSizing;
	background-color: $mediumGrey;
	border: 1px dashed darken($bgColor, 10%);
	cursor: pointer;
	text-align: center;
	// color: #fff;
	color: #999;
	@include transition(all .4s ease);
	@include rounded(2px);
	// margin-top: 16px;

	&.loading {
		background-image: none;

		.dropzone-icon {
			opacity: 0;
		}
		.dropzone-loading {
			opacity: 1;
		}
	}

	&.complete {
		height: 0;
		overflow: hidden;
		border-width: 0;
	}

	.dz-message {
		position: absolute;
		top: 33%;
		left: 0;
		right: 0;
		opacity: .8;
		@include transition(opacity .2s ease);
		// font-size: 22px;
	}

	// &:hover {
	// 	.dz-message {
	// 		opacity: 1;
	// 	}
	// }

	&.loading {
		.dz-message {
			opacity: 0;
		}
	}

	&.dz-drag-hover {
		// opacity: .5;
		// background-color: darken($bgColor, 4%);
		// border-color: darken($bgColor, 30%);
		background-color: $greenColor;
		color: darken($greenColor, 15%);

		.dz-message {
			// opacity: 0;
		}

		.dropzone-icon {
			@include transform(scale(1.2));
		}
	}

	.dz-details,
	.dz-success-mark,
	.dz-error-mark {
		display: none;
	}

	.dropzone-description {
		position: absolute;
		left: 10px;
		top: 10px;
		@include rounded(3px);
		background-color: rgba(0,0,0,0);
		color: $mediumColor;
		font-size: 13px;
		text-align: left;
		padding: 2px 8px;
		line-height: 18px;
		@include transition(background-color .2s ease);

		.small {
			font-size: 11px;
		}

		span.fa {
			margin-left: -9px;
			margin-right: 2px;
			// margin-right: 0;
			// position: relative;
			// left: 0px;
			opacity: 0;
			// @include transition(all .2s ease);
			@include transition(margin .2s ease, opacity .3s ease);
		}

		&:hover {
			background-color: rgba(0,0,0,0.1);

			span.fa {
				margin-left: 0;
				margin-right: 4px;
				opacity: 1;
				left: 0;
			}
		}
	}
}

.dropzone-icon, 
.dropzone-loading {
	position: absolute;
	width: 50px;
	top: 16%;
	left: 50%;
	margin-left: -25px;
	pointer-events: none;
	@include transition(opacity .2s ease);
	color: darken($bgColor, 15%);
}

.dropzone-icon {
	opacity: 1;

	>.fa {
		font-size: 48px;
	}

	.plus-wrapper {
		font-size: 20px;
		position: relative;
		left: -20px;
		top: -8px;

		.over {
		}

		.under {
			color: $bgColor;
			margin-left: 2px;
			margin-top: 2px;
			font-size: 1.1em;
		}
	}
}

.dropzone-loading {
	// color: #fff;
	font-size: 28px;
	// color: $darkRed;
	opacity: 0;
}

.dropzone-complete {
	display: none;
	opacity: 0;
	@include transition(opacity .2s ease);

	.on-success,
	.on-error {
		display: none;
	}

	&.complete {
		display: block;
		opacity: 1;
	}

	&.success {
		.on-success {
			display: block;
		}
	}

	&.error {
		.on-error {
			display: block;
		}
	}
}

.dropzone-fallback {
	// display: none;
}