@mixin rounded($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin corners($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin gradient($gradientLineStart, $gradientLineEnd) {
  background: $gradientLineStart;
  background: -moz-linear-gradient(top,  $gradientLineStart 0%, $gradientLineStart 30%, $gradientLineEnd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gradientLineStart), color-stop(30%,$gradientLineStart), color-stop(100%,$gradientLineEnd));
  background: -webkit-linear-gradient(top,  $gradientLineStart 0%,$gradientLineStart 30%,$gradientLineEnd 100%);
  background: -o-linear-gradient(top,  $gradientLineStart 0%,$gradientLineStart 30%,$gradientLineEnd 100%);
  background: -ms-linear-gradient(top,  $gradientLineStart 0%,$gradientLineStart 30%,$gradientLineEnd 100%);
  background: linear-gradient(to bottom,  $gradientLineStart 0%,$gradientLineStart 30%,$gradientLineEnd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradientLineStart', endColorstr='$gradientLineEnd',GradientType=0 );
}

@mixin boxShadow($style: 0 0 2px rgba(0,0,0,0.2)) {
  -webkit-box-shadow: $style;
  -moz-box-shadow: $style;
  box-shadow: $style;
}

@mixin boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rounded {
  @include rounded(3px);
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}