html {
	@include gradient(lighten($bgColor, 2%), $bgColor);
	min-height: 100%;
}
body {
	font-size: $fontSize;
	font-family: $fontFamily;
	// padding-top: 70px;
	background: transparent;
}

.well {
	@include boxShadow(none);
	@include rounded(0);
	border-width: 1px 0;
	border-color: $borderColor;
	background-color: $lightGrey;
}

.nowrap {
	white-space: nowrap;
}

.navbar {
	margin: 4px 0 16px;
}

.flush {
	margin-left: -20px;
	margin-right: -20px;
}

.bold {
	font-weight: bold;
}

.grid-header {
	background-color: #fff;
	padding: 16px 20px;
	border-color: $borderColor;
	border-width: 0 0 1px;
	border-style: solid;
	font-weight: bold;
}

.grid-footer {
	background-color: $lightGrey;
	border-color: $borderColor;
	border-width: 1px 0 0;
	border-style: solid;
	padding: 8px 20px;
	// margin: 0 -20px;

	.summary {
		color: $lightColor;
		font-size: $fontSize - 2;
		float: left;
		line-height: 18px;
	}
	.pager {
		text-align: right;
		margin: 0;
	}
}

.text-light {
	color: $lightColor;
}
.text-medium {
	color: $mediumColor;
}
.text-blue {
	color: $primaryColor;
}
.text-green,
.text-success {
	color: $green;
}
.text-red,
.text-danger {
	color: $red;
}

section#messages {
	margin: 0 -20px;

	.alert {
		@include rounded(0);
		border-width: 0 0 1px;
		margin-bottom: 0;
		padding: 8px  40px 7px 20px;

		.close {
			top: -4px;
		}

		ul {
			padding-left: 0;

			li {
				list-style: none;
			}
		}
	}

}

.alert-error {
	background-color: lighten($red, 40%);
	border-color: lighten($red, 30%);
	color: $red;
	// background-color: $lightGrey;
	// font-weight: 500;
}

.grid-view {

	&.flush {
		margin: 0 -20px;
		.table {

		}
	}

	.table {
		margin-bottom: 0;
		background-color: #fff;

		>tbody {
			>tr {
				>td {
					padding: 10px 8px;

					&.link-column {
						width: 12px;
						padding-right: 16px;
						font-size: 28px;
						font-weight: 100;
						line-height: 12px;
					}
					&.status-column {
						width: 80px;
					}
					&.id-column {
						width: 54px;
					}
					&.media-column {
					}
					&.info-column {
					}
					&.icon-column {
						width: 44px;
						text-align: center;
					}
				}

				&:hover {
					background-color: $lightGrey;
				}

				&.clickable {
					cursor: pointer;
				}
			}
		}

		tr:first-child {
			td {
				border-top: 0 none;
			}
		}

		tr {
			td:first-child {
				padding-left: 20px;
			}
		}
	}

	td.empty {
		text-align: center;
		color: $lightColor;
		font-style: italic;
	}
}

.empty-text {
	text-align: center;
	color: $lightColor;
	font-style: italic;
}

.content-wrapper {
	@include boxShadow(0 1px 3px rgba(0,0,0,.4));
	@include rounded(3px);
	// background-color: #fff;
	background-color: $darkColor;

	margin-bottom: 80px;
}

a {
	color: $linkColor;

	&:hover,
	&:focus {
		color: darken($linkColor, 12%);
		// color: $linkColorAlt;
		text-decoration: none;
	}
}

#sidebar-first {
	.sidebar-inner {
		// background-color: $darkColor;
		height: 100%;
		@include corners(0,0,0,$radius);

		@media (min-width: $tabletMinWidth) {
			margin-right: -15px;
			padding-bottom: 40px;
		}

		.nav {
			.dropdown-header {
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: $fontSize - 2;
				color: lighten($lightColor, 5%);
				margin-top: 20px;
				margin-bottom: 8px;
			}

			>li {
				margin-top: 0;

				> a {
					padding: 12px 20px 12px 17px;
					// letter-spacing: 1px;
					font-weight: 400;
					border-left: 3px solid transparent;
					position: relative;
					color: lighten($lightColor, 20%);

					&:hover {
						background-color: $darkerColor;
						color: lighten($lightColor, 25%);
						// border-left-color: $primaryColor;
					}
				}

				>ul {
					display: none;
					padding: 0;
					margin-top: 8px;

					>li {
						list-style: none;

						>a {
							color: lighten($lightColor, 5%);
							display: block;
							padding: 2px 30px;
							line-height: 18px;
							margin-bottom: 2px;
							position: relative;

							&:hover {
								background-color: $darkerColor;
							}
						}
					}
				}

				&.active {
					> a {
						background-color: $darkerColor;
						// color: #e8e8e8;
						color: lighten($lightColor, 15%);
						// border-left-color: $primaryColor;

						&:before {
							content: '';
							@include rounded(50px);
							background-color: $primaryColor;
							width: 6px;
							height: 6px;
							display: block;
							position: absolute;
							left: 3px;
							top: 40%;
						}
					}

					>ul {
						display: block;

						>li.active  {
							>a {
								background-color: $darkerColor;
								color: lighten($lightColor, 15%);

								&:before {
									content: '';
									@include rounded(50px);
									background-color: $primaryColor;
									width: 6px;
									height: 6px;
									display: block;
									position: absolute;
									left: 18px;
									top: 38%;
								}
							}
						}
					}
				}
			}
		}
	}
}

#main-content {
	>.inner {
		padding: 0px 20px 40px;
		background-color: #fff;
		@include rounded(0 0 3px 0);

		@media (min-width: $tabletMinWidth) {
			margin-left: -15px;
		}

		.well {
			&.flush {
				margin-left: -20px;
				margin-right: -20px;
			}
		}

		.page-header {
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 1px;
		}
	}

	.main-header {
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.3) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.3) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */

		border-left: 1px solid #293843;
		@include boxShadow(inset 0 -30px 30px rgba(0,0,0,0.15));


		@media (min-width: $tabletMinWidth) {
			margin-left: -15px;
		}

		>.inner {
			padding: 20px 30px 30px;
			font-weight: 300;
			text-align: center;
			color: #fff;
		}

		a {
			color: #fff;
		}

		.info {
			.title {
				font-size: 26px;
				display: block;
			}
			.desc {
				font-size: 11px;
				display: block;
				text-transform: uppercase;
				font-weight: 500;
				color: rgba(255,255,255,.5);
			}
		}
	}
}


body.page-index {
	#main-content {
		>.inner {
			padding-bottom: $radius;
			background-color: $lightGrey;
			@include corners(0, 0, $radius, 0);
		}
	}	
}
body.no-scroll {
	height: 100%;
	overflow: hidden;
}

header#content-header {
	// @include gradient($primaryColor, darken($primaryColor, 5%));
	background-color: $primaryColor;
	// background-color: $colorSecondary;
	// background-color: darken($darkColor, 3%);
	// @include gradient(lighten($bgColor, 2%), $bgColor);
	// background-color: darken($bgColor, 10%);

	@media (max-width: $mobileMaxWidth) {
		padding: 0 16px;
	}

	@include corners($radius,$radius,0,0);

	.form {
		padding-top: 10px;

		@media (min-width: $tabletMinWidth) {
			padding-right: 16px;
		}

		.form-group {
			margin-bottom: 0;
		}

		input[type="text"] {
			@include rounded(50px);
			// @include boxShadow(inset 0 1px 1px rgba(0,0,0,.3));
			height: 24px;
			border-color: $primaryColor;
			border-top-color: darken($primaryColor, 10%);
			border-left-color: darken($primaryColor, 10%);
			border-top-width: 2px;
			border-left-width: 2px;
			padding-right: 24px;
		}

		.controls {
			position: relative;

			a {
				position: absolute;
				top: 6px;
				right: 6px;
			}
		}
	}

	&.page-header {
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: 0;
		color: $lightGrey;
		// color: darken($primaryColor, 20%);
		padding-bottom: 8px;

		h1 {
			margin: 12px 0 4px 5px;
			font-size: 20px;
			font-weight: 100;
			letter-spacing: 1px;
		}
	}

	.jump-menu {
		padding: 4px 0 4px 4px;
		margin-right: -12px;
		margin-bottom: -8px;

		.nav {
			>li {
				border: 0 none;
				padding-bottom: 2px;
				margin-bottom: -2px;

				b.caret {
					// display: none;
				}

				>a {
					zoom: 1;
					border: 1px solid transparent;
					@include rounded(2px);
					color: #fff;
					opacity: 1;
					font-weight: 300;
					font-size: $fontSize + 1;
					padding: 9px 15px;
					cursor: default;

					>b.caret {
						float: right;
						margin-top: 7px;
					}
				}
	
				&.open {
					>a {
						background-color: darken($primaryColor, 3%);
					}
				}

				&:hover {
					>a {
						background-color: darken($primaryColor, 3%);
						opacity: 1;
					}
					>ul.dropdown-menu {
						display: block;
					}
				}

				&:hover,
				&.open {

					>a {
						border-color: darken($primaryColor, 6%);
					}

					b.caret {
						display: block;
					}
				}

				>ul {
					// display: block !important;
					font-size: $fontSize;
					width: 100%;
					padding: 0;
					margin-top: 0;
					@include rounded(2px);

					>li {
						>a {
							padding: 10px 15px;
						}

						&.active {
							>a {
								background-color: transparent;
								color: $color;

								&:hover {
									background-color: #f5f5f5;
								}
							}
						}
					}
				}
			}
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h4.heading {
	color: $lightColor;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: $fontSize - 1;
	margin-top: 0;
	margin-bottom: 8px;
}

.tooltip {
	text-transform: none;
	font-weight: 300;
	font-size: $fontSize - 1;
	text-shadow: none;
	line-height: 14px;

	.tooltip-inner {
		padding: 12px 8px;
	}
}

.page-header {
	margin-top: 0;

	h2 {
		font-size: 18px;
		color: $mediumColor;
		font-weight: 300;
		margin: 0;
	}
}

.btn {
	&.btn-primary {
		background-color: darken($primaryColor, 5%);
		border-color: darken($primaryColor, 5%);

		&:hover {
			background-color: $primaryColor;
		}
	}
}

.ribbon {
	border-top: 5px solid $bgColor;
	margin: 0 -20px;
}
.line {
	border-top: 1px solid $bgColor;
}
.divider {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	height: 1px;

	&.divider-small {
		margin-top: 1.2em;
		margin-bottom: 1.2em;
	}
	&.divider-mini {
		margin-top: .8em;
		margin-bottom: .8em;
	}
	&.divider-flush {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.placeholder {
	background-color: $lightGrey;
	border: 1px dashed $borderColor;
	padding: 80px;
	margin: 20px 0;
	color: $lightColor;
	text-align: center;
}

.text-right {
	text-align: right;
}

.toolbar {
	background-color: $lightGrey;
	border-bottom: 1px solid $borderColor;

	@media (min-width: $tabletMinWidth) {
		margin-left: -15px;
	}
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	z-index: 10;

	.nav {
		&.nav-pills {
			>li {
				padding: 2px 0;

				>a {
					padding: 3px 8px 3px;
					font-size: $fontSize - 1;
					@include rounded(2px);
				}

				&.active {
					a {
						// background: none rgba(0,0,0,0.1);
						background: none $mediumGrey;
						color: $blueGrey;
						@include boxShadow(inset 0 0 3px rgba(0,0,0,0.15));
					}
				}
			}
		}

		.separator {
			border-left: 1px solid $mediumGrey;
			margin: -2px 8px;
			height: 26px;
			line-height: 26px;
			display: block;
		}
	}
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.nav {
	&.nav-pills {
		>li {
			>a {
				@include rounded(0);
			}
		}
	}
}

.filters {
	// margin: 0 -5px;
	border-top: 1px solid $borderColor;
	// padding: 8px 20px;
	position: relative;

	.filters-inner {
		background-color: $lightGrey;
		background-color: #fff;
		// background-color: rgba(255,255,255,0.9);
		position: absolute;
		left: 0px;
		right: 10px;
		top: 8px;
		padding: 10px 10px 0;
		@include rounded(3px);
		@include boxShadow(0 1px 3px rgba(0,0,0,.3));
		border: 3px solid $darkColor;

		.form-content {
			// max-height: 260px;
			// overflow-y: auto;
			// overflow-x: hidden;

			.row {

			}
		}

		&:before {
			bottom: 100%;
			left: 16px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;

			border-color: rgba(0, 0, 0, 0);
			border-bottom-color: #000000;
			border-width: 8px;
			margin-left: -8px;
		}

		.form-actions {
			background-color: $lightGrey;
			border-top: 1px solid $borderColor;
			margin: 0 -10px;
			padding: 10px 10px;
			@include corners(0,0,$radius,$radius);
		}
	}
}

#login-form {
	width: 240px;
	margin: 10% auto 0;
	background-color: darken($bgColor, 3%);
	padding: 20px;
}

.form-actions {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid $borderColor;
}

textarea {
	width: 100%;
	-webkit-appearance: textfield;
}


dl {
	dt {
		font-size: $fontSize + 1;
		margin-bottom: 2px;
	}
	dd {
		margin-bottom: 12px;
	}
}

.table-striped>tbody>tr:nth-child(odd)>td {
	background-color: $lightGrey;
}

td.status-column {
	position: relative;
}

.grid {
	&.grid-blocks {
		text-align: center;
		// margin-bottom: 20px;
	
		.grid-row {
			+.grid-row {
				border-top: 1px solid $bgColor;
			}
		}
		.grid-block {
			@include boxSizing;

			border-left: 1px solid $bgColor;
			float: left;
			width: 25%;
			padding: 24px 8px;

			&:first-child {
				border-left: 0 none;
			}

			&:hover {
				background-color: $lightGrey;
			}
		}

		.heading {
			font-weight: bold;
			margin-bottom: 4px;
		}

		.info {
			// font-size: $fontSize - 1;
			color: $lightColor;
		}

		// .row {
		// 	>div {
		// 		padding: 16px 8px;
		// 		border-left: 1px solid $borderColor;
		// 		border-bottom: 1px solid $borderColor;
		// 	}
		// 	>div:first-child {
		// 		border-right: 0 none;
		// 	}
		// }
		// .row:last-child {
		// 	>div {
		// 		border-bottom: 0 none;
		// 	}
		// }
	}

	&.flush {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.list-wrapper {
	.grid-footer {
		padding-left: 0;
		padding-right: 0;	
		border-top: 0 none;
	}

	ul.nav-tabs {
		margin: 12px 6px 0px;
		border-bottom: 0 none;

		>li {
			>a {
				font-weight: 500;
				// background: none;
				// border: 0 none;
				color: $lightColor;
				padding: 6px 10px;

				>.badge {
					padding: 2px 3px;
					display: inline-block;
					font-size: 7px;
					font-weight: 400;
					@include rounded(2px);
					background-color: $lightColor;
					background-color: $primaryColor;
					background-color: $color;
					position: relative;
					top: -5px;
					margin-left: 0px;

					display: none;
				}
			}

			&.active {
				>a {
					// background: none;
					// border: 0 none;
					// font-weight: 500;
					color: $color;
				}
			}

			+li {
				margin-left: 0px;
			}
		}
	}
}

.list-wrapper {
	.grid-view>.table,
	.detail-view.table {
		@include boxShadow(inset 0 0 5px rgba(0,0,0,.3));
		@include rounded(5px);
		background-color: #fff;
		// margin-bottom: 0;

		>tbody {

			>tr:first-child {
				>td, >th {
					border-top: 0 none;
					padding-top: 10px;
				}
			}
			>tr:last-child {
				>td, >th {
					padding-bottom: 10px;
				}
			}

			>tr {
				>td:first-child {
					padding-left: 20px;
				}

				>td:nth-child(odd),
				>th:nth-child(odd) {
					background-color: transparent;
				}
				>td {
					background-color: transparent;
					padding: 8px 16px 8px 8px;
					color: $mediumColor;
					word-break: break-word;

					&.text-light {
						@extend .text-light;
					}
				}
				>th {
					padding: 8px 8px 8px 16px;
					font-weight: 400;
					color: $lightColor;
					text-align: right;
					width: 30%;
				}

				&:hover {
					background-color: rgba(225,225,225,0.1);
				}
			}
		}

		a {
			color: $blue;
		}
	}
}

.note {
	font-size: $fontSize - 1;
	color: $lightColor;
	margin: 4px 0 0;
}

body.page-view,
body.detail-page {
	.page-header {
		background-color: #fff;
	}

	#main-content {
		.inner {
			background-color: $lightGrey;
			@include corners(0,0,$radius,0);
		}
	}
}

ol.breadcrumb {
	padding: 6px 15px 5px;
	background-color: transparent;
	margin-bottom: 0;
	font-size: 11px;
}

ul.typeahead.dropdown-menu {
	font-size: $fontSize;
	@include rounded(0);

	li {
		a {
			padding: 8px 16px;
			color: $lightColor;
		}

		&.active {
			a {
				color: $lightGrey;
				background-color: darken($primaryColor, 5%);
			}
		}
	}
}

.media-grid {
	>div {
		margin-bottom: 20px;
	}
}