$tokenColor: darken($lightGrey, 10%);
$tokenRadius: 2px;

div.tokenize {
	position: relative;

	&.form-control {
		height: auto;
		padding: 0;
	}

	ul.TokensContainer {
		padding: 6px 6px 2px;
		margin-bottom: 0;

		li {
			list-style: none;
			font-size: 12px;
			@include boxSizing;

			&.Token {
				@include transition(all .1s ease);				
				float: left;
				margin-right: 4px;
				margin-bottom: 4px;
				background-color: transparentize($tokenColor, .5);
				@include rounded($tokenRadius);
				line-height: 14px;
				font-size: 12px;

				>span {
					padding: 4px 1px 3px 6px;
					font-weight: 400;
					float: left;
				}

				>a {
					float: right;
					color: #121212;
					opacity: .6;
					@include transition(all .2s ease-in-out);
					cursor: pointer;
					padding: 3px 6px 4px 2px;
					font-size: 10px;
					font-weight: 500;
					@include rounded(0 $tokenRadius $tokenRadius 0);

					&:hover {
						opacity: 1;
						background-color: rgba(0,0,0,0.03);
					}
				}

				&.PendingDelete {
					opacity: .5;
				}

				&:after {
					content: ' ';
					display: table;
					clear: both;
				}

				+.Token {
					// margin-left: 4px;
				}
			}

			&.TokenSearch {
				// min-width: 20px;
				float: left;
				// width: 50%;
				// border-top: 1px solid $borderColor;
				// margin-top: 2px;
				padding-top: 3px;
				margin-bottom: 5px;
				max-width: 100%;

				input {
					width: 100%;
					border: 0 none;
					// padding-top: 3px;
					padding: 0;
					// padding-right: 40px;

					&:focus {
						@include boxShadow(none);
						outline: none;
						min-width: 40px;
					}
				}

				&:before {
					content: ' ';
					display: table;
					clear: both;
				}
			}
		}

		&:after {
			content: ' ';
			display: table;
			clear: both;
		}
	}

	ul.Dropdown {
		margin-bottom: 0;
		padding: 6px 6px;
		font-size: 12px;
		border-top: 1px solid $borderColor;
		display: none;

		// background-color: #fff;
		// position: absolute;
		// width: 100%;
		// margin-top: -1px;

		li {
			padding: 4px 6px 3px;
			list-style: none;
			cursor: pointer;
			@include transition(all .1s ease);

			&.Hover {
				background-color: transparentize($tokenColor, .5);
				@include rounded($tokenRadius);
			}
		}
	}

	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}