/* default colors, etc */
/* Fonts */
/* mixins */
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* base styles */
.controls.inline .form-inline {
  display: inline-block; }
  .controls.inline .form-inline + .form-inline {
    margin-left: 20px; }

.cke {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0 none; }
  .cke.cke_chrome {
    border: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .cke .cke_top {
    background: none #f0f0f0;
    border: 1px solid #ddd;
    padding: 8px 8px 4px;
    border-bottom: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .cke .cke_contents {
    border: 1px solid #ddd; }
  .cke .cke_bottom {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none #f8f8f8;
    border: 1px solid #ddd;
    border-top-width: 0; }
  .cke .cke_toolbar .cke_toolgroup,
  .cke .cke_toolbar .cke_combo_button {
    border-color: #ddd #ddd #bbb;
    background: none transparent;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .cke .cke_toolbar .cke_toolgroup > a,
    .cke .cke_toolbar .cke_combo_button > a {
      padding: 2px 8px 3px; }
    .cke .cke_toolbar .cke_toolgroup > a + a,
    .cke .cke_toolbar .cke_toolgroup .cke_toolbar_separator + a,
    .cke .cke_toolbar .cke_combo_button > a + a,
    .cke .cke_toolbar .cke_combo_button .cke_toolbar_separator + a {
      border-left: 1px solid #f0f0f0; }
  .cke .cke_toolbar .cke_combo_button {
    cursor: pointer;
    padding: 3px 8px 2px; }
    .cke .cke_toolbar .cke_combo_button .cke_combo_text {
      width: auto;
      padding-left: 0;
      cursor: pointer;
      line-height: 18px; }
    .cke .cke_toolbar .cke_combo_button .cke_combo_open {
      margin: 0 0 0 6px;
      height: auto; }
      .cke .cke_toolbar .cke_combo_button .cke_combo_open .cke_combo_arrow {
        margin-top: 5px; }
  .cke .cke_toolbar a:hover, .cke .cke_toolbar a:active,
  .cke .cke_toolbar .cke_combo_off a:hover,
  .cke .cke_toolbar .cke_combo_off a:active {
    background: none #f0f0f0;
    border-color: #ddd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer; }
  .cke .cke_toolbar a.cke_button_on,
  .cke .cke_toolbar .cke_combo_off a.cke_button_on {
    background: none #f0f0f0; }
  .cke .cke_toolgroup a.cke_button:hover {
    background: none #f0f0f0; }
  .cke .cke_combo_off a.cke_combo_button:active,
  .cke .cke_toolgroup a.cke_button:active {
    background: none #e8e8e8;
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1); }
  .cke .cke_combo_on a.cke_combo_button {
    border-color: #ddd; }
  .cke .cke_combo_on a.cke_combo_button,
  .cke .cke_combo_on a.cke_combo_button:hover,
  .cke .cke_toolgroup a.cke_button_on,
  .cke .cke_toolgroup a.cke_button_on:hover {
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1); }
  .cke .cke_toolbar_separator {
    display: none; }

div.tokenize {
  position: relative; }
  div.tokenize.form-control {
    height: auto;
    padding: 0; }
  div.tokenize ul.TokensContainer {
    padding: 6px 6px 2px;
    margin-bottom: 0; }
    div.tokenize ul.TokensContainer li {
      list-style: none;
      font-size: 12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      div.tokenize ul.TokensContainer li.Token {
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        float: left;
        margin-right: 4px;
        margin-bottom: 4px;
        background-color: rgba(216, 221, 232, 0.5);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        line-height: 14px;
        font-size: 12px; }
        div.tokenize ul.TokensContainer li.Token > span {
          padding: 4px 1px 3px 6px;
          font-weight: 400;
          float: left; }
        div.tokenize ul.TokensContainer li.Token > a {
          float: right;
          color: #121212;
          opacity: .6;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          padding: 3px 6px 4px 2px;
          font-size: 10px;
          font-weight: 500;
          -webkit-border-radius: 0 2px 2px 0;
          -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0; }
          div.tokenize ul.TokensContainer li.Token > a:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.03); }
        div.tokenize ul.TokensContainer li.Token.PendingDelete {
          opacity: .5; }
        div.tokenize ul.TokensContainer li.Token:after {
          content: ' ';
          display: table;
          clear: both; }
      div.tokenize ul.TokensContainer li.TokenSearch {
        float: left;
        padding-top: 3px;
        margin-bottom: 5px;
        max-width: 100%; }
        div.tokenize ul.TokensContainer li.TokenSearch input {
          width: 100%;
          border: 0 none;
          padding: 0; }
          div.tokenize ul.TokensContainer li.TokenSearch input:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
            min-width: 40px; }
        div.tokenize ul.TokensContainer li.TokenSearch:before {
          content: ' ';
          display: table;
          clear: both; }
    div.tokenize ul.TokensContainer:after {
      content: ' ';
      display: table;
      clear: both; }
  div.tokenize ul.Dropdown {
    margin-bottom: 0;
    padding: 6px 6px;
    font-size: 12px;
    border-top: 1px solid #dfe0e2;
    display: none; }
    div.tokenize ul.Dropdown li {
      padding: 4px 6px 3px;
      list-style: none;
      cursor: pointer;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      div.tokenize ul.Dropdown li.Hover {
        background-color: rgba(216, 221, 232, 0.5);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
  div.tokenize:after {
    content: ' ';
    display: table;
    clear: both; }

.dropzone {
  position: relative;
  height: 0;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ebedee;
  border: 1px dashed #ceccc4;
  cursor: pointer;
  text-align: center;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .dropzone.loading {
    background-image: none; }
    .dropzone.loading .dropzone-icon {
      opacity: 0; }
    .dropzone.loading .dropzone-loading {
      opacity: 1; }
  .dropzone.complete {
    height: 0;
    overflow: hidden;
    border-width: 0; }
  .dropzone .dz-message {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    opacity: .8;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  .dropzone.loading .dz-message {
    opacity: 0; }
  .dropzone.dz-drag-hover {
    background-color: #4aa59b;
    color: #327069; }
    .dropzone.dz-drag-hover .dropzone-icon {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
  .dropzone .dz-details,
  .dropzone .dz-success-mark,
  .dropzone .dz-error-mark {
    display: none; }
  .dropzone .dropzone-description {
    position: absolute;
    left: 10px;
    top: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    color: #68696f;
    font-size: 13px;
    text-align: left;
    padding: 2px 8px;
    line-height: 18px;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .dropzone .dropzone-description .small {
      font-size: 11px; }
    .dropzone .dropzone-description span.fa {
      margin-left: -9px;
      margin-right: 2px;
      opacity: 0;
      -webkit-transition: margin 0.2s ease, opacity 0.3s ease;
      -moz-transition: margin 0.2s ease, opacity 0.3s ease;
      -ms-transition: margin 0.2s ease, opacity 0.3s ease;
      -o-transition: margin 0.2s ease, opacity 0.3s ease;
      transition: margin 0.2s ease, opacity 0.3s ease; }
    .dropzone .dropzone-description:hover {
      background-color: rgba(0, 0, 0, 0.1); }
      .dropzone .dropzone-description:hover span.fa {
        margin-left: 0;
        margin-right: 4px;
        opacity: 1;
        left: 0; }

.dropzone-icon,
.dropzone-loading {
  position: absolute;
  width: 50px;
  top: 16%;
  left: 50%;
  margin-left: -25px;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  color: #c2c0b6; }

.dropzone-icon {
  opacity: 1; }
  .dropzone-icon > .fa {
    font-size: 48px; }
  .dropzone-icon .plus-wrapper {
    font-size: 20px;
    position: relative;
    left: -20px;
    top: -8px; }
    .dropzone-icon .plus-wrapper .under {
      color: #e5e4e0;
      margin-left: 2px;
      margin-top: 2px;
      font-size: 1.1em; }

.dropzone-loading {
  font-size: 28px;
  opacity: 0; }

.dropzone-complete {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  .dropzone-complete .on-success,
  .dropzone-complete .on-error {
    display: none; }
  .dropzone-complete.complete {
    display: block;
    opacity: 1; }
  .dropzone-complete.success .on-success {
    display: block; }
  .dropzone-complete.error .on-error {
    display: block; }

/* additional/custom styles */
html {
  background: #eae9e6;
  background: -moz-linear-gradient(top, #eae9e6 0%, #eae9e6 30%, #e5e4e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae9e6), color-stop(30%, #eae9e6), color-stop(100%, #e5e4e0));
  background: -webkit-linear-gradient(top, #eae9e6 0%, #eae9e6 30%, #e5e4e0 100%);
  background: -o-linear-gradient(top, #eae9e6 0%, #eae9e6 30%, #e5e4e0 100%);
  background: -ms-linear-gradient(top, #eae9e6 0%, #eae9e6 30%, #e5e4e0 100%);
  background: linear-gradient(to bottom, #eae9e6 0%, #eae9e6 30%, #e5e4e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradientLineStart', endColorstr='$gradientLineEnd',GradientType=0 );
  min-height: 100%; }

body {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent; }

.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 1px 0;
  border-color: #dfe0e2;
  background-color: #f8f9fb; }

.nowrap {
  white-space: nowrap; }

.navbar {
  margin: 4px 0 16px; }

.flush {
  margin-left: -20px;
  margin-right: -20px; }

.bold {
  font-weight: bold; }

.grid-header {
  background-color: #fff;
  padding: 16px 20px;
  border-color: #dfe0e2;
  border-width: 0 0 1px;
  border-style: solid;
  font-weight: bold; }

.grid-footer {
  background-color: #f8f9fb;
  border-color: #dfe0e2;
  border-width: 1px 0 0;
  border-style: solid;
  padding: 8px 20px; }
  .grid-footer .summary {
    color: #8d979f;
    font-size: 10px;
    float: left;
    line-height: 18px; }
  .grid-footer .pager {
    text-align: right;
    margin: 0; }

.text-light, .list-wrapper .grid-view > .table > tbody > tr > td.text-light,
.list-wrapper .detail-view.table > tbody > tr > td.text-light {
  color: #8d979f; }

.text-medium {
  color: #68696f; }

.text-blue {
  color: #6fd1f6; }

.text-green,
.text-success {
  color: #4fa14d; }

.text-red,
.text-danger {
  color: #b65756; }

section#messages {
  margin: 0 -20px; }
  section#messages .alert {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    margin-bottom: 0;
    padding: 8px  40px 7px 20px; }
    section#messages .alert .close {
      top: -4px; }
    section#messages .alert ul {
      padding-left: 0; }
      section#messages .alert ul li {
        list-style: none; }

.alert-error {
  background-color: #f4e5e4;
  border-color: #e4c1c1;
  color: #b65756; }

.grid-view.flush {
  margin: 0 -20px; }

.grid-view .table {
  margin-bottom: 0;
  background-color: #fff; }
  .grid-view .table > tbody > tr > td {
    padding: 10px 8px; }
    .grid-view .table > tbody > tr > td.link-column {
      width: 12px;
      padding-right: 16px;
      font-size: 28px;
      font-weight: 100;
      line-height: 12px; }
    .grid-view .table > tbody > tr > td.status-column {
      width: 80px; }
    .grid-view .table > tbody > tr > td.id-column {
      width: 54px; }
    .grid-view .table > tbody > tr > td.icon-column {
      width: 44px;
      text-align: center; }
  .grid-view .table > tbody > tr:hover {
    background-color: #f8f9fb; }
  .grid-view .table > tbody > tr.clickable {
    cursor: pointer; }
  .grid-view .table tr:first-child td {
    border-top: 0 none; }
  .grid-view .table tr td:first-child {
    padding-left: 20px; }

.grid-view td.empty {
  text-align: center;
  color: #8d979f;
  font-style: italic; }

.empty-text {
  text-align: center;
  color: #8d979f;
  font-style: italic; }

.content-wrapper {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #5c636d;
  margin-bottom: 80px; }

a {
  color: #70767d; }
  a:hover, a:focus {
    color: #53585d;
    text-decoration: none; }

#sidebar-first .sidebar-inner {
  height: 100%;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px; }
  @media (min-width: 768px) {
    #sidebar-first .sidebar-inner {
      margin-right: -15px;
      padding-bottom: 40px; } }
  #sidebar-first .sidebar-inner .nav .dropdown-header {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    color: #9ba4ab;
    margin-top: 20px;
    margin-bottom: 8px; }
  #sidebar-first .sidebar-inner .nav > li {
    margin-top: 0; }
    #sidebar-first .sidebar-inner .nav > li > a {
      padding: 12px 20px 12px 17px;
      font-weight: 400;
      border-left: 3px solid transparent;
      position: relative;
      color: #c4cace; }
      #sidebar-first .sidebar-inner .nav > li > a:hover {
        background-color: #50565f;
        color: #d2d6d9; }
    #sidebar-first .sidebar-inner .nav > li > ul {
      display: none;
      padding: 0;
      margin-top: 8px; }
      #sidebar-first .sidebar-inner .nav > li > ul > li {
        list-style: none; }
        #sidebar-first .sidebar-inner .nav > li > ul > li > a {
          color: #9ba4ab;
          display: block;
          padding: 2px 30px;
          line-height: 18px;
          margin-bottom: 2px;
          position: relative; }
          #sidebar-first .sidebar-inner .nav > li > ul > li > a:hover {
            background-color: #50565f; }
    #sidebar-first .sidebar-inner .nav > li.active > a {
      background-color: #50565f;
      color: #b7bdc2; }
      #sidebar-first .sidebar-inner .nav > li.active > a:before {
        content: '';
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background-color: #6fd1f6;
        width: 6px;
        height: 6px;
        display: block;
        position: absolute;
        left: 3px;
        top: 40%; }
    #sidebar-first .sidebar-inner .nav > li.active > ul {
      display: block; }
      #sidebar-first .sidebar-inner .nav > li.active > ul > li.active > a {
        background-color: #50565f;
        color: #b7bdc2; }
        #sidebar-first .sidebar-inner .nav > li.active > ul > li.active > a:before {
          content: '';
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          background-color: #6fd1f6;
          width: 6px;
          height: 6px;
          display: block;
          position: absolute;
          left: 18px;
          top: 38%; }

#main-content > .inner {
  padding: 0px 20px 40px;
  background-color: #fff;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0; }
  @media (min-width: 768px) {
    #main-content > .inner {
      margin-left: -15px; } }
  #main-content > .inner .well.flush {
    margin-left: -20px;
    margin-right: -20px; }
  #main-content > .inner .page-header {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px; }

#main-content .main-header {
  background: -moz-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(50%, transparent), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
  /* IE6-9 */
  border-left: 1px solid #293843;
  -webkit-box-shadow: inset 0 -30px 30px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -30px 30px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -30px 30px rgba(0, 0, 0, 0.15); }
  @media (min-width: 768px) {
    #main-content .main-header {
      margin-left: -15px; } }
  #main-content .main-header > .inner {
    padding: 20px 30px 30px;
    font-weight: 300;
    text-align: center;
    color: #fff; }
  #main-content .main-header a {
    color: #fff; }
  #main-content .main-header .info .title {
    font-size: 26px;
    display: block; }
  #main-content .main-header .info .desc {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5); }

body.page-index #main-content > .inner {
  padding-bottom: 3px;
  background-color: #f8f9fb;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0; }

body.no-scroll {
  height: 100%;
  overflow: hidden; }

header#content-header {
  background-color: #6fd1f6;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }
  @media (max-width: 767px) {
    header#content-header {
      padding: 0 16px; } }
  header#content-header .form {
    padding-top: 10px; }
    @media (min-width: 768px) {
      header#content-header .form {
        padding-right: 16px; } }
    header#content-header .form .form-group {
      margin-bottom: 0; }
    header#content-header .form input[type="text"] {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      height: 24px;
      border-color: #6fd1f6;
      border-top-color: #3fc2f3;
      border-left-color: #3fc2f3;
      border-top-width: 2px;
      border-left-width: 2px;
      padding-right: 24px; }
    header#content-header .form .controls {
      position: relative; }
      header#content-header .form .controls a {
        position: absolute;
        top: 6px;
        right: 6px; }
  header#content-header.page-header {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    color: #f8f9fb;
    padding-bottom: 8px; }
    header#content-header.page-header h1 {
      margin: 12px 0 4px 5px;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 1px; }
  header#content-header .jump-menu {
    padding: 4px 0 4px 4px;
    margin-right: -12px;
    margin-bottom: -8px; }
    header#content-header .jump-menu .nav > li {
      border: 0 none;
      padding-bottom: 2px;
      margin-bottom: -2px; }
      header#content-header .jump-menu .nav > li > a {
        zoom: 1;
        border: 1px solid transparent;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #fff;
        opacity: 1;
        font-weight: 300;
        font-size: 13px;
        padding: 9px 15px;
        cursor: default; }
        header#content-header .jump-menu .nav > li > a > b.caret {
          float: right;
          margin-top: 7px; }
      header#content-header .jump-menu .nav > li.open > a {
        background-color: #61ccf5; }
      header#content-header .jump-menu .nav > li:hover > a {
        background-color: #61ccf5;
        opacity: 1; }
      header#content-header .jump-menu .nav > li:hover > ul.dropdown-menu {
        display: block; }
      header#content-header .jump-menu .nav > li:hover > a, header#content-header .jump-menu .nav > li.open > a {
        border-color: #52c8f4; }
      header#content-header .jump-menu .nav > li:hover b.caret, header#content-header .jump-menu .nav > li.open b.caret {
        display: block; }
      header#content-header .jump-menu .nav > li > ul {
        font-size: 12px;
        width: 100%;
        padding: 0;
        margin-top: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        header#content-header .jump-menu .nav > li > ul > li > a {
          padding: 10px 15px; }
        header#content-header .jump-menu .nav > li > ul > li.active > a {
          background-color: transparent;
          color: #4f555a; }
          header#content-header .jump-menu .nav > li > ul > li.active > a:hover {
            background-color: #f5f5f5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h4.heading {
  color: #8d979f;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 8px; }

.tooltip {
  text-transform: none;
  font-weight: 300;
  font-size: 11px;
  text-shadow: none;
  line-height: 14px; }
  .tooltip .tooltip-inner {
    padding: 12px 8px; }

.page-header {
  margin-top: 0; }
  .page-header h2 {
    font-size: 18px;
    color: #68696f;
    font-weight: 300;
    margin: 0; }

.btn.btn-primary {
  background-color: #57c9f5;
  border-color: #57c9f5; }
  .btn.btn-primary:hover {
    background-color: #6fd1f6; }

.ribbon {
  border-top: 5px solid #e5e4e0;
  margin: 0 -20px; }

.line {
  border-top: 1px solid #e5e4e0; }

.divider {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 1px; }
  .divider.divider-small {
    margin-top: 1.2em;
    margin-bottom: 1.2em; }
  .divider.divider-mini {
    margin-top: .8em;
    margin-bottom: .8em; }
  .divider.divider-flush {
    margin-left: -20px;
    margin-right: -20px; }

.placeholder {
  background-color: #f8f9fb;
  border: 1px dashed #dfe0e2;
  padding: 80px;
  margin: 20px 0;
  color: #8d979f;
  text-align: center; }

.text-right {
  text-align: right; }

.toolbar {
  background-color: #f8f9fb;
  border-bottom: 1px solid #dfe0e2;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 10; }
  @media (min-width: 768px) {
    .toolbar {
      margin-left: -15px; } }
  .toolbar .nav.nav-pills > li {
    padding: 2px 0; }
    .toolbar .nav.nav-pills > li > a {
      padding: 3px 8px 3px;
      font-size: 11px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    .toolbar .nav.nav-pills > li.active a {
      background: none #ebedee;
      color: #70767d;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15); }
  .toolbar .nav .separator {
    border-left: 1px solid #ebedee;
    margin: -2px 8px;
    height: 26px;
    line-height: 26px;
    display: block; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }

.nav.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.filters {
  border-top: 1px solid #dfe0e2;
  position: relative; }
  .filters .filters-inner {
    background-color: #f8f9fb;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 10px;
    top: 8px;
    padding: 10px 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 3px solid #5c636d; }
    .filters .filters-inner:before {
      bottom: 100%;
      left: 16px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: #000000;
      border-width: 8px;
      margin-left: -8px; }
    .filters .filters-inner .form-actions {
      background-color: #f8f9fb;
      border-top: 1px solid #dfe0e2;
      margin: 0 -10px;
      padding: 10px 10px;
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px; }

#login-form {
  width: 240px;
  margin: 10% auto 0;
  background-color: #deddd8;
  padding: 20px; }

.form-actions {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #dfe0e2; }

textarea {
  width: 100%;
  -webkit-appearance: textfield; }

dl dt {
  font-size: 13px;
  margin-bottom: 2px; }

dl dd {
  margin-bottom: 12px; }

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #f8f9fb; }

td.status-column {
  position: relative; }

.grid.grid-blocks {
  text-align: center; }
  .grid.grid-blocks .grid-row + .grid-row {
    border-top: 1px solid #e5e4e0; }
  .grid.grid-blocks .grid-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #e5e4e0;
    float: left;
    width: 25%;
    padding: 24px 8px; }
    .grid.grid-blocks .grid-block:first-child {
      border-left: 0 none; }
    .grid.grid-blocks .grid-block:hover {
      background-color: #f8f9fb; }
  .grid.grid-blocks .heading {
    font-weight: bold;
    margin-bottom: 4px; }
  .grid.grid-blocks .info {
    color: #8d979f; }

.grid.flush {
  margin-left: -20px;
  margin-right: -20px; }

.list-wrapper .grid-footer {
  padding-left: 0;
  padding-right: 0;
  border-top: 0 none; }

.list-wrapper ul.nav-tabs {
  margin: 12px 6px 0px;
  border-bottom: 0 none; }
  .list-wrapper ul.nav-tabs > li > a {
    font-weight: 500;
    color: #8d979f;
    padding: 6px 10px; }
    .list-wrapper ul.nav-tabs > li > a > .badge {
      padding: 2px 3px;
      display: inline-block;
      font-size: 7px;
      font-weight: 400;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background-color: #8d979f;
      background-color: #6fd1f6;
      background-color: #4f555a;
      position: relative;
      top: -5px;
      margin-left: 0px;
      display: none; }
  .list-wrapper ul.nav-tabs > li.active > a {
    color: #4f555a; }
  .list-wrapper ul.nav-tabs > li + li {
    margin-left: 0px; }

.list-wrapper .grid-view > .table,
.list-wrapper .detail-view.table {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff; }
  .list-wrapper .grid-view > .table > tbody > tr:first-child > td, .list-wrapper .grid-view > .table > tbody > tr:first-child > th,
  .list-wrapper .detail-view.table > tbody > tr:first-child > td,
  .list-wrapper .detail-view.table > tbody > tr:first-child > th {
    border-top: 0 none;
    padding-top: 10px; }
  .list-wrapper .grid-view > .table > tbody > tr:last-child > td, .list-wrapper .grid-view > .table > tbody > tr:last-child > th,
  .list-wrapper .detail-view.table > tbody > tr:last-child > td,
  .list-wrapper .detail-view.table > tbody > tr:last-child > th {
    padding-bottom: 10px; }
  .list-wrapper .grid-view > .table > tbody > tr > td:first-child,
  .list-wrapper .detail-view.table > tbody > tr > td:first-child {
    padding-left: 20px; }
  .list-wrapper .grid-view > .table > tbody > tr > td:nth-child(odd),
  .list-wrapper .grid-view > .table > tbody > tr > th:nth-child(odd),
  .list-wrapper .detail-view.table > tbody > tr > td:nth-child(odd),
  .list-wrapper .detail-view.table > tbody > tr > th:nth-child(odd) {
    background-color: transparent; }
  .list-wrapper .grid-view > .table > tbody > tr > td,
  .list-wrapper .detail-view.table > tbody > tr > td {
    background-color: transparent;
    padding: 8px 16px 8px 8px;
    color: #68696f;
    word-break: break-word; }
  .list-wrapper .grid-view > .table > tbody > tr > th,
  .list-wrapper .detail-view.table > tbody > tr > th {
    padding: 8px 8px 8px 16px;
    font-weight: 400;
    color: #8d979f;
    text-align: right;
    width: 30%; }
  .list-wrapper .grid-view > .table > tbody > tr:hover,
  .list-wrapper .detail-view.table > tbody > tr:hover {
    background-color: rgba(225, 225, 225, 0.1); }
  .list-wrapper .grid-view > .table a,
  .list-wrapper .detail-view.table a {
    color: #29a5e3; }

.note {
  font-size: 11px;
  color: #8d979f;
  margin: 4px 0 0; }

body.page-view .page-header,
body.detail-page .page-header {
  background-color: #fff; }

body.page-view #main-content .inner,
body.detail-page #main-content .inner {
  background-color: #f8f9fb;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0; }

ol.breadcrumb {
  padding: 6px 15px 5px;
  background-color: transparent;
  margin-bottom: 0;
  font-size: 11px; }

ul.typeahead.dropdown-menu {
  font-size: 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  ul.typeahead.dropdown-menu li a {
    padding: 8px 16px;
    color: #8d979f; }
  ul.typeahead.dropdown-menu li.active a {
    color: #f8f9fb;
    background-color: #57c9f5; }

.media-grid > div {
  margin-bottom: 20px; }
