html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: ' ';
  content: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  vertical-align: middle;
}

p {
  margin: 1em 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.show-ib {
  display: block;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
 // -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}

[data-lightbox] {
  cursor: pointer;
}

.maintain-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
  padding-bottom: 63%;
  @include breakpoint($tablet) {
    padding-bottom: 56.25%;
  }
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.fade-in-on-load {
  visibility: hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#__bs_notify__ {
  display: none !important;
  opacity: 0 !important;
  bottom: 0 !important;
  top: auto !important;
}

.error-messages {
  display: none;
  li {
    display: none;
  }
}