$x-phone: 480px;
$phone: 640px;
$tablet: 701px;
$ipadPortrait: 768px;
$desktop: 769px;
$x-tablet: 920px;
$ipadLandscape: 1024px;
$large: 1025px;
$x-large: 1080px;
$xx-large: 1170px;
$xxx-large: 1230px;
$extraLarge: 1300px;
$x-extraLarge: 1500px;
$xx-extraLarge: 1600px;
$xxx-extraLarge: 1800px;