@mixin font-playfair-700 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  //@include font-feature-settings("lnum");
}

@mixin font-libre-baskerville-400 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

@mixin font-libre-baskerville-400italic {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}

@mixin font-lato-100 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

@mixin font-lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@mixin font-lato-400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  .ua-desktop-macintosh.ua-firefox & {
    font-weight: 300;
  }
}

@mixin font-lato-600 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

@mixin font-lato-700 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  .ua-desktop-macintosh.ua-firefox & {
    font-weight: 400;
  }
}

@mixin font-lato-900 {
  font-family: 'Lato', serif;
  font-weight: 900;
  .ua-desktop-macintosh.ua-firefox & {
    font-weight: 700;
  }
}

@mixin font-roboto-100 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

@mixin font-roboto-300 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin font-roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin font-roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin font-roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin font-roboto-900 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}


@mixin font-open-sans-300 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@mixin font-open-sans-300italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin font-open-sans-400 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin font-open-sans-600 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin font-open-sans-700 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin font-merriweather-300 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

@mixin font-merriweather-400 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

@mixin font-droid-serif-400 {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}

@font-face{
  font-family: 'footer-icons';
  src:url('fonts/footer-icons.eot?olpip3');
  src:url('fonts/footer-icons.eot?olpip3#iefix') format('embedded-opentype'),
    url('fonts/footer-icons.ttf?olpip3') format('truetype'),
    url('fonts/footer-icons.woff?olpip3') format('woff'),
    url('fonts/footer-icons.svg?olpip3#footer-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin footer-icon{
  font-family: 'footer-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?usuqxy') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e900";
}
.icon-facebook-logo:before {
  content: "\e909";
}