$susy: (
        columns: 12,
        gutters: .25,
        math: fluid,
        output: float,
        gutter-position: after,
        container: auto,
        container-position: center,
        column-width: false,
        global-box-sizing: border-box,
        last-flow: to,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
);
