#lightbox {
  background-color: rgba(0, 0, 0, 0.88);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
  opacity: 0;
  .fig-wrap {
    width: 100%;
    height: 100%;
    padding: 4%;
    position: relative;
    .spinner {
      @include scut-center-transform();
      img {
        opacity: 0.75;
      }
    }
    figure {
      height: 100%;
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
        @include scut-center-transform();
      }
    }
  }
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    @include breakpoint($tablet) {
      top: 40px;
      right: 40px;
    }
    .inner {
      width: 65px;
      height: 65px;
      padding: 10px;
      @include transition(transform 0.4s);
      &:hover {
        @include transform(rotate(90deg));
      }
    }
  }
}