@mixin retina-div($file, $type, $width, $height) {
  width: #{$width}px;
  height: #{$height}px;
  background-image: url('#{$file}.#{$type}');
  background-size: #{$width}px #{$height}px;
  background-repeat: no-repeat;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
    & {
      background-image: url('#{$file}@2x.#{$type}');
      background-size: #{$width}px #{$height}px;
    }
  }
}

@mixin gpu {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
  @include transform(translate3d(0, 0, 0));
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: flex-gutter($grid-columns, $gutter);
  }
  &:nth-child(#{$nth}+1) {
    clear: none;
  }
}

@mixin display-table-cell() {
  display: table-cell;
  vertical-align: top;
}

@mixin radio-checkbox-helper($width, $height, $bgColorSelected, $bgColor, $marginTop) {
  label.radio span {
    display: inline-block;
    height: #{$height}px;
    width: #{$width}px;
    background-color: $bgColor;
    vertical-align: middle;
    border: 1px solid $bgColorSelected;
    vertical-align: top;
    margin-top: #{$marginTop}px;
    margin-left: #{$width}px;
  }
  label.radio :checked + span {
    height: #{$height}px;
    width: #{$width}px;
    background-color: $bgColorSelected;
  }
}

/*
  E.G.
  <label class="radio">United States<input type="radio" name="country" value="US" checked/><span></span></label>
  @include radio-button(10, 10, $gold, #fff);
*/
@mixin radio-button($width, $height, $bgColorSelected, $bgColor, $marginTop:3) {
  label.radio input[type="radio"] {
    display: none;
  }
  @include radio-checkbox-helper($width, $height, $bgColorSelected, $bgColor, $marginTop);
}

@mixin checkbox($width, $height, $bgColorSelected, $bgColor, $marginTop:3) {
  label.radio input[type="checkbox"] {
    display: none;
  }
  @include radio-checkbox-helper($width, $height, $bgColorSelected, $bgColor, $marginTop);
}

@mixin flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin credit-card-form {
  .credit-card {
    padding: 20px 0;
    @include breakpoint($tablet) {
      padding: 30px 0;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      margin: 5px 20px 5px 0;
      @include font-lato-700;
      font-size: em(13.5);
    }
    .cards {
      display: inline-block;
      vertical-align: middle;
      @include retina-div('/themes/basic/images/account/credit-cards', 'png', 260, 33);
    }
  }
  @include with-layout(37 .5) {
    .inputs {
      padding: 5px 0 15px;
      @include clearfix;
      @include container();
      @include breakpoint($tablet) {
        padding: 5px 0 20px;
      }
      .input-item {
        white-space: nowrap;
        position: relative;
        @include clearfix;
        input, select {
          width: 100%;
        }
        .down-arrow {
          position: absolute;
          top: 38px;
          right: 15px;
          font-size: em(15);
          pointer-events: none;
          background-size: 11px 13px;
          width: 11px;
          height: 13px;
          @include breakpoint($tablet) {
            top: 41px;
          }
          .ua-ie & {
            display: none;
          }
        }
        &.lock {
          input {
            background: #fff url('/themes/basic/images/global/icon-lock@2x.png') right center no-repeat;
            background-size: 28px 24px;
            padding-right: 37px;
          }
        }
      }
      .first, .code {
        @include breakpoint(600px) {
          @include span(18)
        }
        @include breakpoint(800px) {
          @include span(12);
        }

      }
      .last {
        @include breakpoint(600px) {
          @include span(last 18)
        }
        @include breakpoint(800px) {
          @include span(13);
          @include prefix(1);
        }
      }
      .card {
        @include break;
        @include breakpoint(600px) {
          @include span(18)
        }
        @include breakpoint(800px) {
          @include span(12);
        }
      }
      .zip, .redeem {
        @include breakpoint(600px) {
          @include span(12);
          @include prefix(1);
        }
        @include breakpoint(800px) {
          @include span(7);
          @include prefix(1);

        }
      }
      .expiration-month {
        @include break;
        @include span(18);
        @include breakpoint(600px) {
          @include span(18);
        }
        @include breakpoint(600px) {
          @include span(9);
        }
        @include breakpoint(800px) {
          @include span(6);
        }
      }
      .expiration-year {
        @include span(last 18);
        @include breakpoint(600px) {
          @include span(9);
        }
        @include breakpoint(800px) {
          @include span(6);
        }
      }
      .security-code {
        @include span(33);
        @include break;
        @include breakpoint(600px) {
          @include nobreak;
          @include span(12);
          @include prefix(1);
        }
        @include breakpoint(800px) {
          @include span(7);
          @include prefix(1);
        }
      }
      .qmark {
        @include retina-div('/themes/basic/images/account/icon-questionmark', 'png', 29, 29);
        width: 29px !important;
        top: 33px;
        cursor: pointer;
        @include span(last 3);
        @include breakpoint(600px) {
          @include span(2);
          @include prefix(1);
        }
        @include breakpoint(800px) {
          @include span(2);
          @include prefix(1);
        }
        &:hover {
          .rollover {
            opacity: 1;
          }
        }
        .rollover {
          top: 44px;
          width: auto;
          top: 52px;
          right: -19px;
          @include transition(all 0.3s);
          @include breakpoint(600px) {
            left: auto;
            padding: 12px 8px 9px 9px;
            right: -29px;
          }
          @include breakpoint(800px) {
            padding: 12px 8px 9px 9px;
            top: -29px;
            right: -317px;
          }
          &:before {
            left: 257px;
            top: -19px;
            @include breakpoint(600px) {
              @include scut-triangle(up, 39px 20px, $dullBlue);
              left: 230px;
            }
            @include breakpoint(800px) {
              @include scut-triangle(left, 20px 39px, $dullBlue);
              left: -19px;
              top: 24px;
            }
          }
        }
      }
      .coupon {
        margin-top: 15px;
        @include span(18);
        @include breakpoint(600px) {
          @include break;
          @include span(14);
          margin-top: 20px;
        }
        @include breakpoint(800px) {
          @include span(10);
        }
      }
      .apply-coupon {
        margin-top: 15px;
        @include span(last 18);
        @include breakpoint(600px) {
          //@include prefix(1);
          margin-left: 10px;
          margin-top: 20px;
          @include span(12)
        }
        @include breakpoint(800px) {
          @include span(8);
        }
        .btn {
          width: 100%;
          @include breakpoint($tablet) {
              width: auto;
          }
        }
      }

      .must-match {
        letter-spacing: 0.03em;
        margin-left: 10px;
        font-size: em(14);
        font-style: italic;
        text-transform: none;
        @include breakpoint(600px) {
          display: none;
        }
        @include breakpoint(550px) {
          display: inline;
        }
      }
    }
  }

  .buttons {
    margin-bottom: 20px;
    @include breakpoint($tablet) {
      margin-bottom: 35px;
    }
    .btn {
      margin-bottom: 12px;
      @include breakpoint($tablet) {
        margin-bottom: 0;
      }
    }
  }
  .secure {
    font-size: em(14);
    position: relative;
    p {
      margin: 1px;
      &.tell {
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        cursor: pointer;
        &:hover {
          .rollover {
            opacity: 1;
          }
        }
      }
    }
    img {
      position: relative;
      top: -2px;
    }
  }
  .rollover {
    pointer-events: none;
    opacity: 0;
    cursor: default;
    width: 280px;
    background-color: $dullBlue;
    border-radius: 12px;
    padding: 17px;
    color: #fff;
    font-size: em(13.5);
    line-height: 1.7em;
    position: absolute;
    z-index: 2;
    text-align: left;
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 39px;
      @include scut-triangle(up, 39px 20px, $dullBlue);
    }
  }
}

@mixin blue-dot-btn-borders($color: rgba(255, 255, 255, 0.5)) {
  .border {
    width: 50%;
    height: 50%;
    position: absolute;
    &.tl {
      top: 0;
      left: 0;
      border-top-left-radius: 200px;
      border-left: 1px solid $color;
      border-top: 1px solid $color;
    }
    &.tr {
      top: 0;
      right: 0;
      border-top-right-radius: 200px;
      border-right: 1px solid $color;
      border-top: 1px solid $color;
    }
    &.br {
      right: 0;
      bottom: 0;
      width: 46%;
      border-bottom-right-radius: 200px;
      border-right: 1px solid $color;
      border-bottom: 1px solid $color;
    }
    &.bl {
      left: 0;
      bottom: 0;
      width: 46%;
      border-bottom-left-radius: 200px;
      border-left: 1px solid $color;
      border-bottom: 1px solid $color;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {opacity: 1; @content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &.placeholder {@content}
}

@function svg-url($svg){
    @if not str-index($svg,xmlns) {
        $svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');   
    }          
    $encoded:'';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg)/$slice);
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1); 
        $chunk: str-replace($chunk, '"', '\'');
        $chunk: str-replace($chunk, '%', '%25');
        $chunk: str-replace($chunk, '#', '%23');
        $chunk: str-replace($chunk, '{', '%7B');
        $chunk: str-replace($chunk, '}', '%7D');
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice; 
    }
    @return url("data:image/svg+xml,#{$encoded}");
}

@mixin background-svg($svg){
    background-image: svg-url($svg);
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search); 
    @return if($index, 
        str-slice($string, 1, $index - 1) + $replace + 
        str-replace(str-slice($string, $index + 
        str-length($search)), $search, $replace), 
        $string);
} 