$mobileSideMargin: 5%;
$dullBlue: #5c636d;
$brightBlue: #6ecff6;
$cream: #e6e4e1;
$brown: #77644e;
$nearBlack: #262220;
$linkBlue: #64b9db;
$white: #fff;
$lightGray: #f9f9f9;
$inputBorder: #ced0d3;
$darkBlue: #455263;

$images: '/themes/basic/images';